{
  "openapi": "3.0.3",
  "info": {
    "title": "API Partenaire Firma",
    "description": "API RESTful pour la signature de documents et la gestion de modèles.\n\n**Authentification** : Tous les endpoints nécessitent une authentification par clé API via l'en-tête `Authorization`. Utilisez votre clé API directement sans préfixe (par exemple, `your-api-key`). Le préfixe Bearer est optionnel mais pas obligatoire.\n\n**Fonctionnalités de sécurité** :\n- Validation des entrées avec des schémas Zod incluant des messages d'erreur détaillés au niveau des champs\n- Jetons JWT signés RSA-256 pour l'accès aux modèles intégrés\n\n**Limitation de débit** : Les limites de débit sont hiérarchisées selon le type d'opération :\n- Opérations de lecture (GET) : 200 requêtes par minute\n- Opérations d'écriture (POST/PUT/PATCH/DELETE) : 120 requêtes par minute\n- Opérations CRUD sur les webhooks : 60 requêtes par minute\n- Test de webhook : 10 requêtes par minute\n- Régénération/expiration de clé API : 1 requête par minute\n- Rotation du secret de webhook : 1 requête par minute\n\nLorsque les limites de débit sont dépassées, l'API renvoie une réponse `429 Too Many Requests` avec les en-têtes suivants :\n- `X-RateLimit-Limit` : Nombre maximal de requêtes par minute pour cet endpoint\n- `X-RateLimit-Remaining` : Requêtes restantes dans la fenêtre actuelle\n- `X-RateLimit-Reset` : Horodatage Unix de la réinitialisation de la limite\n- `Retry-After` : Secondes à attendre avant de pouvoir réessayer\n\n**Gestion des erreurs** : Toutes les erreurs renvoient des réponses JSON structurées avec `error` (message lisible par un humain), `code` (identifiant lisible par une machine) et `details` (erreurs de validation au niveau des champs, le cas échéant).\n\n**Intégration de l'Éditeur de Modèles intégré** : L'Éditeur de Modèles Firma peut être intégré dans votre application à l'aide d'une bibliothèque JavaScript autonome.\n\n```html\n<!-- Charger la bibliothèque de l'Éditeur de Modèles Firma -->\n<script src=\"https://api.firma.dev/functions/v1/embed-proxy/template-editor.js\"></script>\n\n<script>\n// Générer d'abord un jeton JWT via l'API\nfetch('https://api.firma.dev/functions/v1/signing-request-api/generate-template-token', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'YOUR_API_KEY',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    companies_workspaces_templates_id: 'template-id'\n  })\n})\n.then(res => res.json())\n.then(data => {\n  // Initialiser l'éditeur avec le jeton JWT\n  window.FirmaTemplateEditor.init({\n    container: '#firma-editor-container',\n    jwt: data.token,\n    templateId: 'template-id',\n    theme: 'dark',\n    readOnly: false,\n    onSave: (savedData) => {\n      console.log('Template saved:', savedData);\n    },\n    onError: (error) => {\n      console.error('Editor error:', error);\n    },\n    onLoad: (template) => {\n      console.log('Template loaded:', template);\n    }\n  });\n});\n</script>\n```",
    "version": "01.32.00",
    "contact": {
      "name": "API Support",
      "url": "https://firma.com/support"
    }
  },
  "servers": [
    {
      "url": "https://api.firma.dev/functions/v1/signing-request-api",
      "description": "API de Production - Recommandée (Actuelle)"
    },
    {
      "url": "https://api.firma.dev/api/v1",
      "description": "API de Production - Prévue"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Company",
      "description": "Informations et paramètres de l'entreprise"
    },
    {
      "name": "Workspaces",
      "description": "Opérations de gestion des Espaces de Travail"
    },
    {
      "name": "Templates",
      "description": "Opérations de gestion des Modèles"
    },
    {
      "name": "Signing Requests",
      "description": "Opérations de Demande de Signature de documents"
    },
    {
      "name": "Custom Fields",
      "description": "Gestion des définitions de champs personnalisés pour les espaces de travail, modèles et demandes de signature"
    },
    {
      "name": "Webhooks",
      "description": "Configuration et gestion des webhooks"
    },
    {
      "name": "JWT Management",
      "description": "Génération et révocation de jetons JWT pour les modèles intégrés"
    },
    {
      "name": "Workspace Settings",
      "description": "Configuration et paramètres de l'espace de travail"
    },
    {
      "name": "Email Domains",
      "description": "Configuration et vérification de domaine e-mail pour l'envoi d'e-mails de demande de signature depuis des domaines personnalisés"
    },
    {
      "name": "Email Templates",
      "description": "Gestion des modèles d'e-mail pour la personnalisation des notifications de demande de signature au niveau de l'espace de travail et de l'entreprise"
    },
    {
      "name": "Signer Terms",
      "description": "Conditions d'utilisation / déclarations de consentement personnalisées pour le signataire, au niveau de l'entreprise avec des surcharges par espace de travail et par langue"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Clé API pour l'authentification. Utilisez votre clé API directement sans préfixe (par exemple, 'your-api-key'). Le préfixe Bearer est optionnel mais pas obligatoire."
      }
    },
    "responses": {
      "ValidationError": {
        "description": "Requête Incorrecte - Échec de la validation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Validation Error",
              "message": "Invalid input data",
              "details": {
                "name": "Name is required",
                "email": "Invalid email format"
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "Non Autorisé - Clé API invalide ou manquante",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Unauthorized",
              "message": "Invalid API key"
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "Interdit - Permissions insuffisantes",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Forbidden",
              "message": "You do not have permission to access this resource"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Non Trouvé - La ressource n'existe pas",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Not Found",
              "message": "The requested resource was not found"
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Trop de requêtes - Limite de débit dépassée",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Nombre maximum de requêtes par minute"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "Requêtes restantes"
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "integer"
            },
            "description": "Timestamp Unix de la réinitialisation"
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Secondes avant de pouvoir réessayer"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Rate Limit Exceeded",
              "message": "Too many requests. Please wait before retrying.",
              "details": {
                "retry_after": 45
              }
            }
          }
        }
      }
    },
    "requestBodies": {
      "PatchSigningRequestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PatchSigningRequestBodySchema"
            },
            "examples": {
              "update-properties": {
                "summary": "Mettre à jour les propriétés",
                "value": {
                  "name": "Updated Contract Name",
                  "expiration_hours": 72
                }
              },
              "update-recipient": {
                "summary": "Mettre à jour un seul destinataire",
                "value": {
                  "recipient": {
                    "id": "rec123-e89b-12d3-a456-426614174000",
                    "first_name": "John",
                    "last_name": "Smith",
                    "email": "john.smith@example.com",
                    "designation": "Signer",
                    "order": 1
                  }
                }
              },
              "add-recipient": {
                "summary": "Ajouter un nouveau destinataire",
                "value": {
                  "recipient": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "email": "jane@example.com",
                    "designation": "Signer",
                    "order": 2
                  }
                }
              },
              "add-date-field": {
                "summary": "Ajouter un champ date avec formatage",
                "value": {
                  "field": {
                    "type": "date",
                    "position": {
                      "x": 70,
                      "y": 45,
                      "width": 15,
                      "height": 3
                    },
                    "page_number": 1,
                    "required": true,
                    "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                    "date_signing_default": true,
                    "format_rules": {
                      "dateFormat": "MMMM dd, yyyy"
                    }
                  }
                }
              },
              "add-read-only-static-field": {
                "summary": "Ajouter un champ en lecture seule avec valeur statique",
                "description": "Crée un champ texte qui affiche une valeur fixe que le signataire ne peut pas modifier",
                "value": {
                  "field": {
                    "type": "text",
                    "position": {
                      "x": 15,
                      "y": 20,
                      "width": 40,
                      "height": 3
                    },
                    "page_number": 1,
                    "required": false,
                    "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                    "read_only": true,
                    "read_only_value": "Contract #12345 - Acme Corporation"
                  }
                }
              },
              "add-read-only-prefilled-field": {
                "summary": "Ajouter un champ en lecture seule avec les données du destinataire",
                "description": "Crée un champ texte qui se remplit automatiquement avec l'adresse e-mail du destinataire (le signataire ne peut pas le modifier)",
                "value": {
                  "field": {
                    "type": "text",
                    "position": {
                      "x": 15,
                      "y": 30,
                      "width": 30,
                      "height": 3
                    },
                    "page_number": 1,
                    "required": false,
                    "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                    "read_only": true,
                    "prefilled_data": "email"
                  }
                }
              }
            }
          }
        }
      },
      "UpdateSigningRequestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateSigningRequestBodySchema"
            },
            "examples": {
              "comprehensive-update": {
                "summary": "Mise à jour complète avec toutes les sections",
                "value": {
                  "signing_request_properties": {
                    "name": "Updated Contract Name",
                    "expiration_hours": 72
                  },
                  "recipients": [
                    {
                      "id": "rec1-e89b-12d3-a456-426614174000",
                      "first_name": "John",
                      "last_name": "Smith",
                      "email": "john.smith@example.com",
                      "designation": "Signer",
                      "order": 1
                    },
                    {
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "email": "jane@example.com",
                      "designation": "Signer",
                      "order": 2
                    }
                  ],
                  "deleted_recipients": [
                    {
                      "recipient_id": "rec2-e89b-12d3-a456-426614174000",
                      "field_action": "reassign",
                      "reassign_to_recipient_id": "rec1-e89b-12d3-a456-426614174000"
                    }
                  ],
                  "fields": [
                    {
                      "id": "field1-e89b-12d3-a456-426614174000",
                      "type": "signature",
                      "position": {
                        "x": 15,
                        "y": 85,
                        "width": 30,
                        "height": 10
                      },
                      "page_number": 1,
                      "required": true,
                      "recipient_id": "rec1-e89b-12d3-a456-426614174000"
                    }
                  ],
                  "reminders": [
                    {
                      "hours": 48,
                      "all_users": true,
                      "subject": "Reminder: Please sign the document",
                      "message": "This is a reminder to complete your signature."
                    }
                  ]
                }
              },
              "update-with-temp-ids": {
                "summary": "Mise à jour avec de nouveaux destinataires via des ID temporaires",
                "description": "Mise à jour complète ajoutant de nouveaux destinataires avec des ID temporaires en plus des destinataires existants",
                "value": {
                  "signing_request_properties": {
                    "name": "Updated NDA Agreement"
                  },
                  "recipients": [
                    {
                      "id": "existing-recipient-uuid",
                      "email": "updated@example.com"
                    },
                    {
                      "_temp_id": "temp_new_signer",
                      "first_name": "New",
                      "last_name": "Signer",
                      "email": "newsigner@example.com",
                      "designation": "Signer",
                      "order": 2
                    }
                  ],
                  "fields": [
                    {
                      "id": "existing-field-uuid",
                      "position": {
                        "x": 10,
                        "y": 70,
                        "width": 30,
                        "height": 10
                      }
                    },
                    {
                      "recipient_id": "temp_new_signer",
                      "type": "signature",
                      "page_number": 1,
                      "position": {
                        "x": 10,
                        "y": 55,
                        "width": 30,
                        "height": 10
                      },
                      "required": true
                    }
                  ],
                  "reminders": [
                    {
                      "recipient_id": "temp_new_signer",
                      "hours": 24,
                      "all_users": false,
                      "subject": "Reminder: Sign Document",
                      "message": "Please sign the updated NDA."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de l'entreprise"
          },
          "name": {
            "type": "string",
            "description": "Nom de l'entreprise",
            "maxLength": 255
          },
          "language": {
            "type": "string",
            "description": "Langue par défaut de l'entreprise",
            "enum": [
              "en",
              "es",
              "it",
              "pt",
              "fr",
              "de",
              "el",
              "ru",
              "pl"
            ],
            "default": "en"
          },
          "account_owner": {
            "type": "string",
            "description": "Nom du propriétaire du compte",
            "maxLength": 255
          },
          "account_owner_email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail du propriétaire du compte"
          },
          "website": {
            "type": "string",
            "format": "uri",
            "description": "URL du site web de l'entreprise",
            "nullable": true
          },
          "icon_url": {
            "type": "string",
            "format": "uri",
            "description": "URL publiquement accessible vers le logo de l'entreprise. Retourne null si aucun logo n'est défini.",
            "nullable": true,
            "example": "https://ielmshcswdhuacyjlpiy.supabase.co/functions/v1/logo/company/3feb35a8-5aaf-4603-8b50-acd807176b38"
          },
          "credits": {
            "type": "integer",
            "description": "Crédits disponibles pour l'entreprise (lecture seule, géré en interne)",
            "minimum": 0,
            "readOnly": true
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de création du compte entreprise"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de dernière mise à jour du compte entreprise"
          }
        },
        "required": [
          "id",
          "name",
          "account_owner",
          "account_owner_email",
          "created_date"
        ]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de l'espace de travail"
          },
          "name": {
            "type": "string",
            "description": "Nom de l'espace de travail",
            "maxLength": 255
          },
          "protected": {
            "type": "boolean",
            "description": "Les espaces de travail protégés ne peuvent pas être supprimés"
          },
          "api_key": {
            "type": "string",
            "description": "Clé API en mode production pour cet espace de travail. Utilisée pour authentifier les requêtes API propres à cet espace de travail.",
            "nullable": true
          },
          "test_api_key": {
            "type": "string",
            "description": "Clé API en mode test pour cet espace de travail. Les requêtes authentifiées avec cette clé ne consomment pas de crédits et produisent des demandes de signature marquées test et filigranées.",
            "nullable": true
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de création de l'espace de travail"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de dernière mise à jour de l'espace de travail"
          },
          "webhook_enabled": {
            "type": "boolean",
            "description": "Indique si les webhooks au niveau de l'espace de travail sont activés"
          },
          "webhook_secret": {
            "type": "string",
            "description": "Secret de signature webhook pour cet espace de travail",
            "nullable": true
          },
          "webhook_secret_rotated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de la dernière rotation du secret webhook",
            "nullable": true
          },
          "webhook_secret_created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de la première création du secret webhook",
            "nullable": true
          },
          "ignore_company_webhooks": {
            "type": "boolean",
            "description": "Si true, les webhooks au niveau de l'entreprise ne se déclenchent pas pour les événements de cet espace de travail"
          },
          "icon_url": {
            "type": "string",
            "format": "uri",
            "description": "URL publiquement accessible vers le logo de l'espace de travail. Retourne le logo propre à l'espace de travail, ou null s'il n'est pas défini (le logo de l'entreprise n'est PAS inclus comme solution de repli dans ce champ).",
            "nullable": true,
            "example": "https://ielmshcswdhuacyjlpiy.supabase.co/functions/v1/logo/workspace/company-id/workspace-id"
          }
        },
        "required": [
          "id",
          "name",
          "created_date"
        ]
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du modèle"
          },
          "name": {
            "type": "string",
            "description": "Nom du modèle",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "description": "Description du modèle",
            "nullable": true
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL pré-signée vers le document PDF. Il s'agit d'une URL signée à durée limitée pour un accès sécurisé, voir document_url_expires_at pour la date d'expiration. Les URL initiales sont valables 7 jours ; les URL rafraîchies sont valables 1 heure. Demandez une nouvelle récupération du modèle pour obtenir une URL fraîche si elle a expiré."
          },
          "document_url_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp ISO 8601 auquel document_url expirera. Après cette heure, l'URL retournera une erreur d'accès refusé. Récupérez à nouveau le modèle pour recevoir une nouvelle URL signée."
          },
          "page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Nombre de pages dans le document"
          },
          "expiration_hours": {
            "type": "integer",
            "minimum": 1,
            "default": 168,
            "description": "Nombre d'heures avant l'expiration des demandes de signature créées à partir de ce modèle"
          },
          "credit_cost": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Nombre de crédits consommés lorsqu'une demande de signature est envoyée à partir de ce modèle. La valeur minimale est 1."
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateUser"
            },
            "description": "Destinataires du modèle (inclus dans la récupération d'un seul modèle)"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateField"
            },
            "description": "Champs du modèle (inclus dans la récupération d'un seul modèle)"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de création du modèle"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de dernière mise à jour du modèle"
          }
        },
        "required": [
          "id",
          "name",
          "created_date"
        ]
      },
      "TemplateUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de l'utilisateur du modèle"
          },
          "name": {
            "type": "string",
            "description": "Nom du destinataire (prénom et nom combinés)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail du destinataire"
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "Prénom du destinataire"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de famille du destinataire"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "Rôle du destinataire. Signer signe le document, Approver approuve avec des champs d'approbation, CC reçoit une copie une fois terminé."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Ordre dans lequel le destinataire doit signer"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "Numéro de téléphone du destinataire"
          },
          "street_address": {
            "type": "string",
            "nullable": true,
            "description": "Adresse postale du destinataire"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Ville du destinataire"
          },
          "state_province": {
            "type": "string",
            "nullable": true,
            "description": "État ou province du destinataire"
          },
          "postal_code": {
            "type": "string",
            "nullable": true,
            "description": "Code postal du destinataire"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "Pays du destinataire"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Intitulé de poste du destinataire"
          },
          "company": {
            "type": "string",
            "nullable": true,
            "description": "Nom de l'entreprise du destinataire"
          },
          "required_fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Liste des champs de données du destinataire requis pour l'envoi (basée sur les champs du modèle avec des correspondances variable_name). Inclut toujours 'email' et 'first_name'."
          },
          "missing_fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Liste des champs requis actuellement vides pour ce destinataire"
          },
          "required_read_only_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "variable_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Nom de variable du champ en lecture seule"
                },
                "variable_defined_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Nom de champ lisible par un humain provenant de la définition du champ personnalisé (par exemple 'artist_name'). Présent uniquement pour les champs liés à une définition de champ personnalisé, sinon null."
                },
                "field_type": {
                  "type": "string",
                  "description": "Type du champ (text, date, etc.)"
                }
              }
            },
            "description": "Liste des champs en lecture seule obligatoires qui nécessitent des valeurs préremplies avant l'envoi"
          },
          "ready_to_send": {
            "type": "boolean",
            "description": "Indique si ce destinataire a toutes les données obligatoires renseignées pour l'envoi"
          }
        },
        "required": [
          "id",
          "first_name",
          "email",
          "designation",
          "order"
        ]
      },
      "DateFormatRules": {
        "type": "object",
        "description": "Règles de formatage pour les champs de date. Spécifie comment les valeurs de date doivent être affichées et formatées.",
        "properties": {
          "dateFormat": {
            "type": "string",
            "description": "Modèle de format de date. Utilisez des formats prédéfinis ou des modèles personnalisés avec : yyyy (année sur 4 chiffres), MM (mois sur 2 chiffres), dd (jour sur 2 chiffres), MMMM (nom complet du mois), MMM (nom abrégé du mois), HH (heure sur 24h), mm (minute), ss (seconde). Exemples : 'MM/dd/yyyy' s'affiche comme 01/31/2024, 'MMMM dd, yyyy' s'affiche comme January 31, 2024.",
            "enum": [
              "MM/dd/yyyy",
              "dd/MM/yyyy",
              "yyyy-MM-dd",
              "MMMM dd, yyyy",
              "MMM dd, yyyy",
              "dd MMMM yyyy"
            ],
            "default": "MM/dd/yyyy"
          },
          "fontSize": {
            "type": "integer",
            "minimum": 8,
            "maximum": 48,
            "description": "Taille de police initiale/maximale facultative en pixels pour la valeur du champ affichée. Le texte se réduit automatiquement pour tenir dans le cadre du champ. Omettez-la pour un dimensionnement automatique. Les valeurs hors de la plage 8-48 sont ramenées à cette plage."
          }
        },
        "example": {
          "dateFormat": "MMMM dd, yyyy"
        }
      },
      "TextFormatRules": {
        "type": "object",
        "description": "Règles de formatage pour les champs textuels (text, textarea, email, name, phone, company, title, number, dropdown, url).",
        "properties": {
          "fontSize": {
            "type": "integer",
            "minimum": 8,
            "maximum": 48,
            "description": "Taille de police initiale/maximale facultative en pixels pour la valeur du champ affichée, appliquée dans la vue de signature et dans le PDF scellé. Le texte se réduit automatiquement pour tenir dans le cadre du champ ; la taille explicite est donc un plafond, pas une garantie. Omettez-la pour un dimensionnement automatique (base par défaut de 14 px). Les valeurs hors de la plage 8-48 sont ramenées à cette plage ; les valeurs non numériques sont ignorées. Non applicable aux champs signature, initials, checkbox, radio, file et stamp."
          }
        },
        "example": {
          "fontSize": 12
        }
      },
      "FileFormatRules": {
        "type": "object",
        "description": "Règles de formatage pour les champs de téléversement de fichier. Spécifie quels types de fichiers les signataires sont autorisés à téléverser.",
        "properties": {
          "acceptedFileTypes": {
            "type": "string",
            "enum": [
              "image_and_pdf",
              "image",
              "pdf"
            ],
            "default": "image_and_pdf",
            "description": "Types de fichiers acceptés pour le téléversement. 'image_and_pdf' accepte les JPG, PNG et PDF. 'image' accepte uniquement les JPG et PNG. 'pdf' accepte uniquement les PDF. Les fichiers sont validés par leurs magic bytes, pas seulement par l'extension. La taille maximale du fichier est de 10 Mo."
          }
        },
        "example": {
          "acceptedFileTypes": "image_and_pdf"
        }
      },
      "FieldValidationRules": {
        "type": "object",
        "nullable": true,
        "description": "Règles de validation pour les valeurs des champs. Réservé pour un usage futur, actuellement non appliqué pour aucun type de champ.",
        "additionalProperties": true
      },
      "TemplateField": {
        "type": "object",
        "description": "Un champ placé sur un document modèle",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du champ"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "signature",
              "date",
              "checkbox",
              "dropdown",
              "radio_buttons",
              "number",
              "text_area",
              "file",
              "initial",
              "stamp",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Type du champ"
          },
          "required": {
            "type": "boolean",
            "description": "Indique si le champ est obligatoire"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID du destinataire assigné"
          },
          "variable_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de variable pour le champ (utilisé dans les modèles)"
          },
          "variable_defined_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de champ lisible par un humain provenant de la définition du champ personnalisé (par exemple 'artist_name'). Présent uniquement pour les champs liés à une définition de champ personnalisé, sinon null."
          },
          "position": {
            "type": "object",
            "description": "Position et dimensions du champ sur le document. Toutes les valeurs sont des pourcentages (0-100). Le champ doit tenir dans la page : x + width <= 100 et y + height <= 100.",
            "properties": {
              "x": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordonnée X de la position du champ (pourcentage, 0-100)"
              },
              "y": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordonnée Y de la position du champ (pourcentage, 0-100)"
              },
              "width": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Largeur du champ (pourcentage, 0-100). Remarque : x + width doit être <= 100"
              },
              "height": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Hauteur du champ (pourcentage, 0-100). Remarque : y + height doit être <= 100"
              }
            }
          },
          "page_number": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "Numéro de la page où se trouve le champ (indexé à partir de 1). Ne doit pas dépasser le nombre total de pages du document."
          },
          "dropdown_options": {
            "nullable": true,
            "description": "Options pour les champs de type menu déroulant",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object"
              }
            ]
          },
          "multi_group_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID de groupe pour lier plusieurs champs de case à cocher ou de bouton radio ensemble. Les champs partageant le même multi_group_id se comportent comme un groupe mutuellement exclusif (comme des boutons radio) : en sélectionner un désélectionne automatiquement les autres du groupe. Utilisez le même UUID sur plusieurs champs pour créer un groupe où une seule option peut être sélectionnée à la fois."
          },
          "date_default": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Valeur de date par défaut pour les champs de date (format ISO 8601, par exemple '2024-01-15')"
          },
          "date_signing_default": {
            "type": "boolean",
            "description": "Utiliser la date de signature comme valeur par défaut pour les champs de date"
          },
          "format_rules": {
            "$ref": "#/components/schemas/DateFormatRules",
            "nullable": true,
            "description": "Règles de formatage, actuellement utilisées pour les champs de date afin de spécifier le format d'affichage"
          },
          "validation_rules": {
            "$ref": "#/components/schemas/FieldValidationRules"
          },
          "read_only": {
            "type": "boolean",
            "default": false,
            "description": "Indique si ce champ est en lecture seule (prérempli avant la signature)"
          },
          "read_only_value": {
            "type": "string",
            "nullable": true,
            "description": "Valeur statique pour les champs en lecture seule"
          }
        },
        "required": [
          "id",
          "type",
          "page_number"
        ]
      },
      "Reminder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du rappel"
          },
          "hours": {
            "type": "integer",
            "minimum": 1,
            "description": "Nombre d'heures après l'envoi avant l'envoi du rappel"
          },
          "subject": {
            "type": "string",
            "description": "Objet de l'email pour le rappel",
            "maxLength": 255
          },
          "message": {
            "type": "string",
            "description": "Corps du message de l'email pour le rappel",
            "maxLength": 5000
          },
          "all_users": {
            "type": "boolean",
            "description": "Indique si le rappel s'applique à tous les utilisateurs"
          },
          "template_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Utilisateur spécifique auquel envoyer le rappel (utilisé dans le contexte d'un modèle)"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Destinataire spécifique auquel envoyer le rappel (utilisé dans le contexte d'une demande de signature, identique à template_user_id)"
          },
          "sent_on": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Horodatage du moment où le rappel a réellement été envoyé"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de création du rappel"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de dernière mise à jour du rappel"
          }
        },
        "required": [
          "id",
          "hours",
          "subject",
          "message"
        ]
      },
      "SigningRequestListItem": {
        "type": "object",
        "description": "Demande de signature telle que renvoyée par l'endpoint LIST (GET /signing-requests)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de la demande de signature"
          },
          "name": {
            "type": "string",
            "description": "Nom de la demande de signature",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description de la demande de signature"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_sent",
              "in_progress",
              "finished",
              "cancelled",
              "declined",
              "deleted",
              "expired"
            ],
            "description": "Statut actuel de la demande de signature"
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL pré-signée vers le document PDF. C'est une URL signée à durée limitée pour un accès sécurisé - voir document_url_expires_at pour l'heure d'expiration. Les URL initiales sont valides 7 jours ; les URL rafraîchies sont valides 1 heure. Demande une nouvelle récupération de la demande de signature pour obtenir une URL fraîche si elle a expiré."
          },
          "document_url_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Horodatage ISO 8601 de l'expiration de document_url. Après cette heure, l'URL renverra une erreur d'accès refusé. Récupère à nouveau la demande de signature pour recevoir une nouvelle URL signée."
          },
          "page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Nombre de pages dans le document"
          },
          "expiration_hours": {
            "type": "integer",
            "minimum": 1,
            "default": 168,
            "description": "Nombre d'heures avant l'expiration de la demande de signature (par défaut : 168 = 7 jours)"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Horodatage ISO 8601 de l'expiration de la demande de signature. Calculé à partir de sent_date + expiration_hours. Null si la demande de signature n'a pas encore été envoyée ou n'a pas de expiration_hours défini."
          },
          "credit_cost": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Nombre de crédits consommés lors de l'envoi de cette demande de signature. La valeur minimale est 1."
          },
          "template_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID du modèle si créé à partir d'un modèle"
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de création"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de dernière mise à jour"
          },
          "sent_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date d'envoi de la demande de signature"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date à laquelle toutes les signatures ont été complétées"
          },
          "cancelled_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date d'annulation de la demande de signature"
          },
          "declined_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date de refus de la demande de signature"
          },
          "recipients": {
            "type": "array",
            "description": "Destinataires de la demande de signature (format simplifié)",
            "items": {
              "$ref": "#/components/schemas/SigningRequestListRecipient"
            }
          },
          "fields": {
            "type": "array",
            "description": "Champs de la demande de signature avec un objet position imbriqué",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "text",
                    "signature",
                    "date",
                    "checkbox",
                    "dropdown",
                    "radio_buttons",
                    "number",
                    "text_area",
                    "file",
                    "initial",
                    "stamp",
                    "approval_signature",
                    "approval_checkmark",
                    "approval_date"
                  ]
                },
                "required": {
                  "type": "boolean"
                },
                "recipient_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true
                },
                "variable_name": {
                  "type": "string",
                  "nullable": true
                },
                "variable_defined_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Nom de champ lisible provenant de la définition du champ personnalisé (par ex. 'artist_name'). Présent uniquement pour les champs liés à une définition de champ personnalisé, null sinon."
                },
                "position": {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "number"
                    },
                    "y": {
                      "type": "number"
                    },
                    "width": {
                      "type": "number"
                    },
                    "height": {
                      "type": "number"
                    }
                  }
                },
                "value": {
                  "type": "string",
                  "nullable": true,
                  "description": "Valeur finale du champ après la signature"
                },
                "dropdown_options": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "format_rules": {
                  "$ref": "#/components/schemas/DateFormatRules",
                  "nullable": true
                },
                "validation_rules": {
                  "$ref": "#/components/schemas/FieldValidationRules"
                }
              }
            }
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "created_date"
        ]
      },
      "SigningRequestListRecipient": {
        "type": "object",
        "description": "Destinataire tel que renvoyé dans les réponses LIST des demandes de signature (format simplifié)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du destinataire"
          },
          "name": {
            "type": "string",
            "description": "Nom complet combiné"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail du destinataire"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "Rôle du destinataire. Signer signe le document, Approver approuve avec des champs d'approbation, CC reçoit une copie une fois terminé."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Ordre de signature"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date à laquelle ce destinataire a terminé de signer"
          },
          "signature_details": {
            "type": "object",
            "nullable": true,
            "description": "Détails sur la signature du destinataire"
          }
        }
      },
      "SigningRequestCreateResponse": {
        "type": "object",
        "description": "Demande de signature telle que renvoyée par les endpoints CREATE (POST /signing-requests)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de la demande de signature"
          },
          "name": {
            "type": "string",
            "description": "Nom de la demande de signature",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description de la demande de signature"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft"
            ],
            "description": "Le statut est toujours 'draft' pour les demandes de signature nouvellement créées"
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL pré-signée vers le document PDF"
          },
          "page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Nombre de pages dans le document"
          },
          "expiration_hours": {
            "type": "integer",
            "minimum": 1,
            "default": 168,
            "description": "Nombre d'heures avant l'expiration de la demande de signature (par défaut : 168 = 7 jours)"
          },
          "template_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID du modèle si créé à partir d'un modèle"
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de création"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de dernière mise à jour"
          },
          "sent_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date d'envoi de la demande de signature"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date à laquelle toutes les signatures ont été complétées"
          },
          "cancelled_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date d'annulation de la demande de signature"
          },
          "recipients": {
            "type": "array",
            "description": "Destinataires de la demande de signature",
            "items": {
              "$ref": "#/components/schemas/SigningRequestCreateRecipient"
            }
          },
          "fields": {
            "type": "array",
            "description": "Champs de la demande de signature avec des valeurs de position à plat",
            "items": {
              "$ref": "#/components/schemas/SigningRequestCreateField"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Avertissements optionnels de validation du format des e-mails. Présents uniquement lorsque les e-mails des destinataires ont des formats inhabituels."
          }
        },
        "required": [
          "id",
          "name",
          "status"
        ]
      },
      "SigningRequestCreateRecipient": {
        "type": "object",
        "description": "Destinataire tel que renvoyé dans les réponses CREATE des demandes de signature",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du destinataire"
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "Prénom du destinataire"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de famille du destinataire"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Nom complet combiné (construit automatiquement à partir de first_name + last_name)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail du destinataire"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "Rôle du destinataire. Signer signe le document, Approver approuve avec des champs d'approbation, CC reçoit une copie une fois terminé."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Ordre de signature"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "Numéro de téléphone du destinataire"
          },
          "street_address": {
            "type": "string",
            "nullable": true,
            "description": "Adresse postale"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Ville"
          },
          "state_province": {
            "type": "string",
            "nullable": true,
            "description": "État ou province"
          },
          "postal_code": {
            "type": "string",
            "nullable": true,
            "description": "Code postal"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "Pays"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Intitulé du poste"
          },
          "company": {
            "type": "string",
            "nullable": true,
            "description": "Nom de l'entreprise"
          },
          "custom_fields": {
            "type": "object",
            "nullable": true,
            "description": "Paires clé-valeur personnalisées"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date à laquelle ce destinataire a terminé de signer"
          }
        },
        "required": [
          "first_name",
          "email",
          "designation"
        ]
      },
      "SigningRequestCreateField": {
        "type": "object",
        "description": "Champ tel que renvoyé dans les réponses CREATE des demandes de signature (position à plat, style base de données)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du champ"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "signature",
              "date",
              "checkbox",
              "dropdown",
              "radio_buttons",
              "number",
              "text_area",
              "file",
              "initial",
              "stamp",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Type du champ"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID du destinataire assigné"
          },
          "page_number": {
            "type": "integer",
            "minimum": 1,
            "description": "Numéro de page (indexé à partir de 1)"
          },
          "x_position": {
            "type": "number",
            "description": "Coordonnée X en pourcentage (0-100)"
          },
          "y_position": {
            "type": "number",
            "description": "Coordonnée Y en pourcentage (0-100)"
          },
          "width": {
            "type": "number",
            "description": "Largeur en pourcentage (0-100)"
          },
          "height": {
            "type": "number",
            "description": "Hauteur en pourcentage (0-100)"
          },
          "required": {
            "type": "boolean",
            "description": "Indique si le champ est requis"
          },
          "read_only": {
            "type": "boolean",
            "description": "Indique si ce champ est en lecture seule"
          },
          "read_only_value": {
            "type": "string",
            "nullable": true,
            "description": "Valeur statique pour les champs en lecture seule"
          },
          "variable_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de variable pour le mappage des données préremplies"
          },
          "variable_defined_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de champ lisible provenant de la définition du champ personnalisé (par ex. 'artist_name'). Présent uniquement pour les champs liés à une définition de champ personnalisé, null sinon."
          },
          "dropdown_options": {
            "nullable": true,
            "description": "Options pour les champs déroulants",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object"
              }
            ]
          },
          "format_rules": {
            "type": "object",
            "nullable": true,
            "description": "Règles de formatage (par exemple, format de date)"
          },
          "validation_rules": {
            "type": "object",
            "nullable": true,
            "description": "Règles de validation pour le champ"
          },
          "date_signing_default": {
            "type": "boolean",
            "description": "Indique s'il faut utiliser la date de signature comme valeur par défaut"
          },
          "final_value": {
            "type": "string",
            "nullable": true,
            "description": "Valeur pré-remplie ou finale du champ"
          }
        },
        "required": [
          "type",
          "recipient_id",
          "page_number"
        ]
      },
      "SigningRequestDetail": {
        "type": "object",
        "description": "Demande de Signature détaillée telle que renvoyée par GET /signing-requests/{id} (structure imbriquée avec un objet status et des horodatages)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de la demande de signature"
          },
          "name": {
            "type": "string",
            "description": "Nom de la demande de signature"
          },
          "template_description": {
            "type": "string",
            "nullable": true,
            "description": "Description issue du modèle"
          },
          "companies_workspaces_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID de l'espace de travail auquel appartient cette demande de signature"
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL pré-signée vers le document PDF"
          },
          "document_url_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "document_page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Nombre de pages du document"
          },
          "expiration_hours": {
            "type": "integer",
            "description": "Nombre d'heures avant l'expiration de la demande de signature"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Horodatage ISO 8601 correspondant à l'expiration de la demande de signature. Calculé à partir de sent_on + expiration_hours. Null si elle n'a pas encore été envoyée ou si aucun expiration_hours n'est défini."
          },
          "credit_cost": {
            "type": "integer",
            "description": "Crédits consommés lors de l'envoi"
          },
          "status": {
            "type": "object",
            "description": "Indicateurs de statut (plusieurs peuvent être vrais pour les états terminaux)",
            "properties": {
              "sent": {
                "type": "boolean"
              },
              "finished": {
                "type": "boolean"
              },
              "cancelled": {
                "type": "boolean"
              },
              "declined": {
                "type": "boolean"
              },
              "expired": {
                "type": "boolean"
              }
            }
          },
          "timestamps": {
            "type": "object",
            "description": "Tous les horodatages pertinents pour le cycle de vie de la demande de signature",
            "properties": {
              "created_on": {
                "type": "string",
                "format": "date-time"
              },
              "sent_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "finished_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "cancelled_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "declined_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "last_changed_on": {
                "type": "string",
                "format": "date-time"
              },
              "last_signing_action_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "use_signing_order": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "allow_download": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "allow_editing_before_sending": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "hand_drawn_only": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "attach_pdf_on_finish": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "certificate": {
            "type": "object",
            "nullable": true,
            "description": "Informations sur le statut de génération du certificat",
            "properties": {
              "generated": {
                "type": "boolean",
                "description": "Indique si le certificat PDF final a été généré"
              },
              "generated_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Horodatage de la génération du certificat"
              },
              "has_error": {
                "type": "boolean",
                "description": "Indique s'il y a eu une erreur lors de la génération du certificat"
              }
            }
          },
          "final_document_download_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL signée pour télécharger le document final signé (PDF avec certificat). L'URL expire après 1 heure."
          },
          "final_document_download_error": {
            "type": "string",
            "nullable": true,
            "enum": [
              "file_not_accessible",
              null
            ]
          },
          "document_only_download_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL signée pour télécharger le PDF du document seul. L'URL expire après 1 heure."
          },
          "document_only_download_error": {
            "type": "string",
            "nullable": true,
            "enum": [
              "file_not_accessible",
              null
            ]
          },
          "certificate_only_download_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL signée pour télécharger le PDF du certificat seul. L'URL expire après 1 heure."
          },
          "certificate_only_download_error": {
            "type": "string",
            "nullable": true,
            "enum": [
              "file_not_accessible",
              null
            ]
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "companies_workspaces_id"
        ]
      },
      "SigningRequestSettings": {
        "type": "object",
        "description": "Paramètres renvoyés par les endpoints de liste et de détail des demandes de signature. Les modèles utilisent le schéma TemplateSettings (sans champs d'identité).",
        "properties": {
          "allow_download": {
            "type": "boolean",
            "description": "Indique si les destinataires peuvent télécharger le document",
            "default": true
          },
          "attach_pdf_on_finish": {
            "type": "boolean",
            "description": "Indique s'il faut joindre le PDF une fois la signature terminée",
            "default": true
          },
          "allow_editing_before_sending": {
            "type": "boolean",
            "description": "Indique si la demande de signature peut être modifiée avant l'envoi",
            "default": false
          },
          "use_signing_order": {
            "type": "boolean",
            "description": "Indique si l'ordre de signature est imposé entre les destinataires. Quand c'est vrai, les signataires reçoivent le document dans l'ordre défini par leur order. Quand c'est faux, tous les signataires reçoivent le document simultanément.",
            "default": true
          },
          "hand_drawn_only": {
            "type": "boolean",
            "description": "Lorsque cette option est activée, les signataires ne peuvent que dessiner leur signature à la main et ne peuvent pas utiliser de signatures dactylographiées",
            "default": false
          },
          "send_signing_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer des e-mails de notification de demande de signature aux signataires",
            "default": true
          },
          "send_finish_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de fin lorsque tous les signataires ont terminé",
            "default": true
          },
          "send_expiration_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'expiration quand la demande expire",
            "default": true
          },
          "send_cancellation_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'annulation quand la demande est annulée",
            "default": true
          },
          "require_otp_verification": {
            "type": "boolean",
            "nullable": true,
            "description": "Indique si les signataires doivent vérifier leur e-mail avec un code à usage unique avant d'accéder au document. null = hérite du paramètre de l'espace de travail/de l'entreprise.",
            "default": null
          },
          "disable_guided_navigation": {
            "type": "boolean",
            "nullable": true,
            "description": "Désactive le défilement automatique vers le prochain champ requis pendant la signature. Hérite de l'espace de travail ou de l'entreprise si non défini."
          },
          "allow_presigning_download": {
            "type": "boolean",
            "nullable": true,
            "description": "Permet aux signataires de télécharger le document original avant de signer. Hérite du paramètre de l'espace de travail ou de l'entreprise quand null."
          },
          "show_qr_code": {
            "type": "boolean",
            "nullable": true,
            "description": "Affiche un QR code sur la page de signature qui permet aux signataires de continuer sur leur téléphone. Hérite du paramètre de l'espace de travail ou de l'entreprise quand null."
          },
          "identity_editable_fields": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Champs d'identité que les signataires peuvent modifier avant de signer (par exemple [\"name\", \"company\"]). null = désactivé. Quand c'est défini, une boîte de dialogue de confirmation permet aux signataires de modifier les champs spécifiés."
          },
          "notify_identity_change_email": {
            "type": "boolean",
            "default": false,
            "description": "Envoie une notification par e-mail quand un signataire modifie son identité."
          }
        }
      },
      "TemplateSettings": {
        "type": "object",
        "description": "Paramètres renvoyés par les endpoints de modèles. Correspond à SigningRequestSettings sans les champs d'identité du signataire (identity_editable_fields, notify_identity_change_email), qui s'appliquent uniquement aux demandes de signature.",
        "properties": {
          "allow_download": {
            "type": "boolean",
            "description": "Indique si les destinataires peuvent télécharger le document",
            "default": true
          },
          "attach_pdf_on_finish": {
            "type": "boolean",
            "description": "Indique s'il faut joindre le PDF une fois la signature terminée",
            "default": true
          },
          "allow_editing_before_sending": {
            "type": "boolean",
            "description": "Indique si la demande de signature peut être modifiée avant l'envoi",
            "default": false
          },
          "use_signing_order": {
            "type": "boolean",
            "description": "Indique si l'ordre de signature est imposé entre les destinataires.",
            "default": true
          },
          "hand_drawn_only": {
            "type": "boolean",
            "description": "Lorsque cette option est activée, les signataires ne peuvent que dessiner leur signature à la main et ne peuvent pas utiliser de signatures dactylographiées",
            "default": false
          },
          "send_signing_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer des e-mails de notification de demande de signature aux signataires",
            "default": true
          },
          "send_finish_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de fin lorsque tous les signataires ont terminé",
            "default": true
          },
          "send_expiration_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'expiration quand la demande expire",
            "default": true
          },
          "send_cancellation_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'annulation quand la demande est annulée",
            "default": true
          },
          "require_otp_verification": {
            "type": "boolean",
            "nullable": true,
            "description": "Indique si les signataires doivent vérifier leur e-mail avec un code à usage unique avant d'accéder au document. null = hérite du paramètre de l'espace de travail/de l'entreprise.",
            "default": null
          },
          "disable_guided_navigation": {
            "type": "boolean",
            "nullable": true,
            "description": "Désactive le défilement automatique vers le prochain champ requis pendant la signature. Hérite de l'espace de travail ou de l'entreprise si non défini."
          },
          "allow_presigning_download": {
            "type": "boolean",
            "nullable": true,
            "description": "Autorise les signataires à télécharger le document original avant de signer. Hérite du paramètre de l'espace de travail ou de l'entreprise quand la valeur est null."
          },
          "show_qr_code": {
            "type": "boolean",
            "nullable": true,
            "description": "Affiche un QR code sur la page de signature qui permet aux signataires de continuer sur leur téléphone. Hérite du paramètre de l'espace de travail ou de l'entreprise quand la valeur est null."
          }
        }
      },
      "LegacyDocumentSettings": {
        "type": "object",
        "description": "Paramètres renvoyés par le endpoint déprécié POST /documents. Un ensemble réduit ; les nouvelles intégrations devraient utiliser les endpoints de demande de signature, qui renvoient SigningRequestSettings.",
        "properties": {
          "allow_download": {
            "type": "boolean",
            "description": "Indique si les destinataires peuvent télécharger le document",
            "default": true
          },
          "attach_pdf_on_finish": {
            "type": "boolean",
            "description": "Indique s'il faut joindre le PDF une fois la signature terminée",
            "default": true
          },
          "allow_editing_before_sending": {
            "type": "boolean",
            "description": "Indique si la demande de signature peut être modifiée avant l'envoi",
            "default": false
          },
          "use_signing_order": {
            "type": "boolean",
            "description": "Indique si l'ordre de signature est imposé entre les destinataires.",
            "default": true
          },
          "hand_drawn_only": {
            "type": "boolean",
            "description": "Quand activé, les signataires ne peuvent que dessiner leur signature à la main",
            "default": false
          },
          "send_signing_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer les e-mails de notification de demande de signature aux signataires",
            "default": true
          },
          "send_finish_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de finalisation quand tous les signataires ont terminé",
            "default": true
          },
          "send_expiration_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'expiration quand la demande expire",
            "default": true
          },
          "send_cancellation_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'annulation quand la demande est annulée",
            "default": true
          },
          "disable_guided_navigation": {
            "type": "boolean",
            "nullable": true,
            "description": "Désactive le défilement automatique vers le prochain champ requis pendant la signature. Hérite de l'espace de travail ou de l'entreprise si non défini."
          },
          "allow_presigning_download": {
            "type": "boolean",
            "nullable": true,
            "description": "Autorise les signataires à télécharger le document original avant de signer. Hérite du paramètre de l'espace de travail ou de l'entreprise quand la valeur est null."
          }
        }
      },
      "Recipient": {
        "type": "object",
        "required": [
          "first_name",
          "email",
          "designation"
        ],
        "description": "Schéma Destinataire avec comportements de construction automatique et de mapping. **Champ name** : Construit automatiquement à partir de first_name et last_name ('Prénom Nom' si les deux sont présents, sinon 'Prénom'). Les valeurs manuelles du nom sont écrasées. **Attribution de l'ordre** : TOUS les destinataires DOIVENT avoir une valeur order explicite. L'ordre détermine la séquence de signature, qui est toujours imposée. Les destinataires doivent signer dans l'ordre, les numéros les plus bas signant en premier. **Champs personnalisés** : Prend en charge à la fois la structure plate (par exemple, company_name à la racine) et la structure imbriquée (objet custom_fields). Les deux formats sont normalisés en interne. **Mapping des champs de modèle** : Lors de la création à partir d'un modèle avec des destinataires personnalisés, utilisez template_user_id ou order pour faire correspondre les utilisateurs du modèle. Seules les informations utilisateur (nom, e-mail, téléphone, etc.) peuvent être mises à jour - order et designation sont hérités du modèle. **IDs temporaires** : Pour la création basée sur un document, utilisez des IDs temporaires (format : 'temp_1', 'temp_2', etc.) pour référencer les destinataires dans les champs et les rappels avant leur création. **Destinataires en copie (CC)** : Les destinataires en copie reçoivent une copie terminée mais ne peuvent ni signer ni se voir attribuer de champs. Au moins un Signataire est requis.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifiant unique. Pour les mises à jour : utilisez l'UUID existant. Pour la création basée sur un document : utilisez éventuellement un ID temporaire (format : 'temp_1', 'temp_2', etc.) pour référencer les destinataires dans les champs et les rappels avant la création. Les IDs temporaires sont automatiquement résolus en UUID réels dans la réponse."
          },
          "_temp_id": {
            "type": "string",
            "description": "Identifiant temporaire pour les nouveaux destinataires dans les requêtes PUT (mise à jour complète) (par exemple, 'temp_1'). Utilisez-le lors de la création de nouveaux destinataires en même temps que des destinataires existants dans des mises à jour complètes. Doit commencer par 'temp_' et être unique au sein de la requête. Non utilisé pour les requêtes POST (création) - utilisez plutôt le champ 'id'."
          },
          "template_user_id": {
            "type": "string",
            "format": "uuid",
            "description": "Lors de la création à partir d'un modèle, l'ID de l'utilisateur du modèle à mettre à jour. Si fourni, les données de ce destinataire mettront à jour l'utilisateur du modèle correspondant. Si non fourni, la correspondance se fait par ordre. Seules les infos utilisateur (nom, email, téléphone, adresse, titre, entreprise) peuvent être mises à jour - l'ordre et la désignation sont toujours hérités du modèle."
          },
          "first_name": {
            "type": "string",
            "maxLength": 100,
            "description": "Prénom du destinataire"
          },
          "last_name": {
            "type": "string",
            "maxLength": 100,
            "description": "Nom de famille du destinataire (optionnel, mais requis si vous utilisez les variables prédéfinies full_name ou last_name)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255,
            "description": "Adresse email du destinataire"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "Rôle du destinataire. Signataire signe le document, Approbateur approuve avec des champs d'approbation, CC reçoit une copie une fois terminé."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Numéro de séquence de signature. Les destinataires doivent signer dans l'ordre, les numéros les plus bas signant en premier. Ce champ est requis pour tous les destinataires."
          },
          "phone_number": {
            "type": "string",
            "maxLength": 50,
            "nullable": true,
            "description": "Numéro de téléphone du destinataire"
          },
          "street_address": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Adresse postale"
          },
          "city": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Ville"
          },
          "state_province": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "État ou province"
          },
          "postal_code": {
            "type": "string",
            "maxLength": 20,
            "nullable": true,
            "description": "Code postal"
          },
          "country": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Pays"
          },
          "title": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Titre du poste"
          },
          "company": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Nom de l'entreprise"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Paires clé-valeur personnalisées pour des données supplémentaires sur le destinataire"
          }
        }
      },
      "Field": {
        "type": "object",
        "required": [
          "type",
          "position",
          "page_number"
        ],
        "description": "Définition de champ pour les demandes de signature. **Champs en lecture seule** : définissez read_only=true pour pré-remplir une valeur de champ que les signataires ne peuvent pas modifier. Utilisez read_only_value pour du texte statique, ou prefilled_data pour remplir automatiquement à partir des attributs du destinataire. **Fusion de champs basée sur un modèle** : lors de la création à partir d'un modèle avec un tableau fields, utilisez template_field_id (préféré) ou variable_name (repli) pour faire correspondre les champs du modèle. Seules les propriétés fournies remplacent les valeurs par défaut du modèle (mise à jour partielle). Les champs non appariés sont ignorés.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique (à inclure pour les mises à jour, à omettre pour les nouveaux champs)"
          },
          "template_field_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID du champ du modèle à faire correspondre pour les mises à jour partielles (création basée sur un modèle uniquement). Utilisez ceci pour identifier quel champ du modèle remplacer. A priorité sur variable_name pour la correspondance."
          },
          "type": {
            "type": "string",
            "enum": [
              "signature",
              "text",
              "date",
              "checkbox",
              "dropdown",
              "initial",
              "initials",
              "text_area",
              "textarea",
              "image",
              "stamp",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Type de champ. Accepte 'initial' ou 'initials' (normalisé en 'initial'), 'textarea' ou 'text_area' (normalisé en 'text_area')."
          },
          "position": {
            "type": "object",
            "required": [
              "x",
              "y",
              "width",
              "height"
            ],
            "description": "Le champ doit tenir dans les limites de la page : x + width <= 100 et y + height <= 100",
            "properties": {
              "x": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordonnée X en pourcentage (0-100)"
              },
              "y": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordonnée Y en pourcentage (0-100)"
              },
              "width": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Largeur en pourcentage (0-100). x + width doit être <= 100"
              },
              "height": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Hauteur en pourcentage (0-100). y + height doit être <= 100"
              }
            }
          },
          "page_number": {
            "type": "integer",
            "minimum": 1,
            "description": "Numéro de la page où se trouve le champ (indexé à partir de 1). Ne doit pas dépasser le nombre total de pages du document."
          },
          "required": {
            "type": "boolean",
            "default": false,
            "description": "Indique si le champ doit être complété"
          },
          "recipient_id": {
            "type": "string",
            "description": "ID du destinataire assigné à ce champ. Utilisez un véritable UUID pour la création ou les mises à jour basées sur un modèle, ou un ID temporaire (par ex. 'temp_1') pour la création basée sur un document afin de référencer les destinataires définis dans la même requête."
          },
          "variable_name": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Nom de variable pour le champ (utilisé dans les modèles). Également utilisé comme repli pour la correspondance de champs lors de la création basée sur un modèle quand template_field_id n'est pas fourni."
          },
          "variable_defined_name": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Nom lisible et personnalisé de définition du champ. Peut être utilisé comme alternative à variable_name pour cibler des champs lors de la création basée sur un modèle."
          },
          "dropdown_options": {
            "description": "Options pour les champs de liste déroulante",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object"
              }
            ]
          },
          "date_default": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Valeur de date par défaut"
          },
          "date_signing_default": {
            "type": "boolean",
            "default": false,
            "description": "Utiliser la date de signature comme valeur par défaut"
          },
          "multi_group_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID de groupe pour lier plusieurs champs de case à cocher ou de bouton radio ensemble. Les champs partageant le même multi_group_id se comportent comme un groupe mutuellement exclusif (comme des boutons radio) - en sélectionner un désélectionne automatiquement les autres du groupe. Utilisez le même UUID sur plusieurs champs pour créer un groupe où une seule option peut être sélectionnée à la fois."
          },
          "format_rules": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/DateFormatRules"
              },
              {
                "$ref": "#/components/schemas/FileFormatRules"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ],
            "nullable": true,
            "description": "Règles de formatage pour la valeur du champ. Pour les champs de date, utilisez le schéma DateFormatRules avec la propriété dateFormat. Pour les champs de fichier, utilisez le schéma FileFormatRules avec la propriété acceptedFileTypes (image_and_pdf, image, ou pdf). Pour les champs url, utilisez { urlDisplayText: string }. Les champs textuels (text, textarea, email, name, phone, company, title, number, dropdown, url, date) acceptent en plus une propriété facultative fontSize (entier en px, 8-48, bornée) — voir TextFormatRules."
          },
          "validation_rules": {
            "$ref": "#/components/schemas/FieldValidationRules"
          },
          "read_only": {
            "type": "boolean",
            "default": false,
            "description": "Indique si ce champ est en lecture seule (pré-rempli avant la signature). Quand c'est true, le signataire ne peut pas modifier la valeur du champ. Utile pour afficher les termes du contrat, les infos du destinataire, ou d'autres données fixes."
          },
          "read_only_value": {
            "type": "string",
            "nullable": true,
            "description": "Valeur statique pour les champs en lecture seule. Prend le dessus sur prefilled_data si les deux sont spécifiés. Applicable uniquement quand read_only est true. Exemple : 'Contract #12345' ou 'Acme Corporation'."
          },
          "prefilled_data": {
            "type": "string",
            "nullable": true,
            "enum": [
              "first_name",
              "last_name",
              "full_name",
              "email",
              "phone_number",
              "company",
              "title",
              "street_address",
              "city",
              "state_province",
              "postal_code",
              "country"
            ],
            "description": "Attribut utilisateur à auto-remplir quand read_only est true. La valeur est récupérée depuis les données du destinataire assigné au moment de la signature. Peut aussi référencer des clés custom_fields définies sur le destinataire (pas limité aux valeurs enum). Applicable uniquement quand read_only est true et que read_only_value n'est pas défini. Exemple : Mettre 'email' pour afficher l'adresse email du destinataire."
          },
          "required_conditions": {
            "$ref": "#/components/schemas/ConditionSet",
            "nullable": true,
            "description": "Règles conditionnelles pour déterminer quand ce champ est requis. Quand c'est défini, ça prend le dessus sur le flag statique 'required'. Le champ n'est requis que quand les conditions évaluent à true en fonction des valeurs d'autres champs."
          },
          "visibility_conditions": {
            "$ref": "#/components/schemas/ConditionSet",
            "nullable": true,
            "description": "Règles conditionnelles pour déterminer quand ce champ est visible. Quand c'est défini, le champ est caché sauf si les conditions évaluent à true. Les champs cachés ne sont pas validés à la soumission."
          },
          "background_color": {
            "type": "string",
            "nullable": true,
            "pattern": "^#([0-9A-Fa-f]{3}|[0-9A-Fa-f]{6})$",
            "description": "Couleur de fond du champ sous forme de chaîne hexadécimale (ex. '#FFFDE7', '#fff'). Utile pour mettre en évidence les champs qui nécessitent de l'attention.",
            "example": "#FFFDE7"
          }
        }
      },
      "AnchorTag": {
        "type": "object",
        "required": [
          "anchor_string",
          "type",
          "recipient_id"
        ],
        "description": "Définition d'un tag d'ancrage pour le placement automatique de champs. Les tags d'ancrage sont des marqueurs de texte intégrés dans un document PDF (ex. '{{SIGN_HERE}}') qui sont automatiquement localisés et convertis en champs positionnés. Le texte d'ancrage est retiré du PDF après traitement par défaut.",
        "properties": {
          "anchor_string": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Chaîne de texte à rechercher dans le document PDF. Les patterns courants incluent '{{SIGN_HERE}}', '{{DATE}}', etc.",
            "example": "{{SIGN_HERE}}"
          },
          "type": {
            "type": "string",
            "enum": [
              "signature",
              "initial",
              "initials",
              "text",
              "date",
              "checkbox",
              "radio_buttons",
              "radio",
              "dropdown",
              "textarea",
              "text_area",
              "url",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Type de champ à placer à l'emplacement de l'ancrage"
          },
          "recipient_id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "description": "ID du destinataire assigné à ce champ. Utilisez un ID temporaire (ex. 'temp_1') pour la création basée sur un document, ou un ordre entier pour la création basée sur un modèle.",
            "example": "temp_1"
          },
          "x_offset": {
            "type": "number",
            "description": "Décalage horizontal par rapport à la position de l'ancrage. Les unités sont déterminées par offset_units (par défaut : pourcentage de la largeur de la page).",
            "default": 0
          },
          "y_offset": {
            "type": "number",
            "description": "Décalage vertical par rapport à la position de l'ancrage. Les unités sont déterminées par offset_units (par défaut : pourcentage de la hauteur de la page).",
            "default": 0
          },
          "offset_units": {
            "type": "string",
            "enum": [
              "percent",
              "pixels"
            ],
            "default": "percent",
            "description": "Type d'unité pour x_offset et y_offset. 'percent' = pourcentage des dimensions de la page, 'pixels' = points PDF (72 DPI)."
          },
          "width": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Largeur du champ en pourcentage de la largeur de la page. Les valeurs par défaut varient selon le type de champ (ex. signature=25, text=20, checkbox=3)."
          },
          "height": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Hauteur du champ en pourcentage de la hauteur de la page. Les valeurs par défaut varient selon le type de champ (ex. signature=5, text=3, checkbox=3)."
          },
          "case_sensitive": {
            "type": "boolean",
            "default": false,
            "description": "Indique si la correspondance de la chaîne d'ancrage est sensible à la casse"
          },
          "match_whole_word": {
            "type": "boolean",
            "default": true,
            "description": "Indique s'il faut faire correspondre uniquement des mots entiers (délimités par des caractères non-alphanumériques)"
          },
          "ignore_if_not_present": {
            "type": "boolean",
            "default": false,
[...]
