{
  "openapi": "3.0.3",
  "info": {
    "title": "API de Socios de Firma",
    "description": "API RESTful para firma de documentos y gestión de plantillas.\n\n**Autenticación**: Todos los endpoints requieren autenticación mediante clave API a través del encabezado `Authorization`. Usa tu clave API directamente sin ningún prefijo (por ejemplo, `your-api-key`). El prefijo Bearer es opcional pero no obligatorio.\n\n**Características de Seguridad**:\n- Validación de entrada usando esquemas Zod con mensajes de error detallados a nivel de campo\n- Tokens JWT firmados con RSA-256 para el acceso al Editor de Plantillas incrustado\n\n**Límite de Solicitudes**: Los límites de solicitudes están escalonados según el tipo de operación:\n- Operaciones de lectura (GET): 200 solicitudes por minuto\n- Operaciones de escritura (POST/PUT/PATCH/DELETE): 120 solicitudes por minuto\n- Operaciones CRUD de webhooks: 60 solicitudes por minuto\n- Prueba de webhook: 10 solicitudes por minuto\n- Regeneración/expiración de clave API: 1 solicitud por minuto\n- Rotación de secreto de webhook: 1 solicitud por minuto\n\nCuando se superan los límites de solicitudes, la API devuelve una respuesta `429 Too Many Requests` con los encabezados:\n- `X-RateLimit-Limit`: Máximo de solicitudes por minuto para este endpoint\n- `X-RateLimit-Remaining`: Solicitudes restantes en la ventana actual\n- `X-RateLimit-Reset`: Marca de tiempo Unix de cuándo se restablece el límite\n- `Retry-After`: Segundos hasta que se permita reintentar\n\n**Manejo de Errores**: Todos los errores devuelven respuestas JSON estructuradas con `error` (mensaje legible para humanos), `code` (identificador legible por máquina) y `details` (errores de validación a nivel de campo cuando corresponda).\n\n**Integración del Editor de Plantillas Incrustado**: El Editor de Plantillas de Firma se puede incrustar en tu aplicación usando una biblioteca JavaScript independiente.\n\n```html\n<!-- Carga la biblioteca del Editor de Plantillas de Firma -->\n<script src=\"https://api.firma.dev/functions/v1/embed-proxy/template-editor.js\"></script>\n\n<script>\n// Genera el token JWT vía API primero\nfetch('https://api.firma.dev/functions/v1/signing-request-api/generate-template-token', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'YOUR_API_KEY',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    companies_workspaces_templates_id: 'template-id'\n  })\n})\n.then(res => res.json())\n.then(data => {\n  // Inicializa el editor con el token JWT\n  window.FirmaTemplateEditor.init({\n    container: '#firma-editor-container',\n    jwt: data.token,\n    templateId: 'template-id',\n    theme: 'dark',\n    readOnly: false,\n    onSave: (savedData) => {\n      console.log('Template saved:', savedData);\n    },\n    onError: (error) => {\n      console.error('Editor error:', error);\n    },\n    onLoad: (template) => {\n      console.log('Template loaded:', template);\n    }\n  });\n});\n</script>\n```",
    "version": "01.32.00",
    "contact": {
      "name": "API Support",
      "url": "https://firma.com/support"
    }
  },
  "servers": [
    {
      "url": "https://api.firma.dev/functions/v1/signing-request-api",
      "description": "API de Producción - Recomendada (Actual)"
    },
    {
      "url": "https://api.firma.dev/api/v1",
      "description": "API de Producción - Planeada"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Company",
      "description": "Información y configuración de la empresa"
    },
    {
      "name": "Workspaces",
      "description": "Operaciones de gestión de espacios de trabajo"
    },
    {
      "name": "Templates",
      "description": "Operaciones de gestión de plantillas"
    },
    {
      "name": "Signing Requests",
      "description": "Operaciones de solicitudes de firma de documentos"
    },
    {
      "name": "Custom Fields",
      "description": "Gestión de definiciones de campos personalizados para espacios de trabajo, plantillas y solicitudes de firma"
    },
    {
      "name": "Webhooks",
      "description": "Configuración y gestión de webhooks"
    },
    {
      "name": "JWT Management",
      "description": "Generación y revocación de tokens JWT para plantillas incrustadas"
    },
    {
      "name": "Workspace Settings",
      "description": "Configuración y ajustes del espacio de trabajo"
    },
    {
      "name": "Email Domains",
      "description": "Configuración y verificación de dominios de correo electrónico para enviar correos de solicitudes de firma desde dominios personalizados"
    },
    {
      "name": "Email Templates",
      "description": "Gestión de plantillas de correo electrónico para personalización de notificaciones de solicitudes de firma a nivel de espacio de trabajo y de empresa"
    },
    {
      "name": "Signer Terms",
      "description": "Términos de servicio / declaraciones de consentimiento personalizadas del firmante, a nivel de empresa con anulaciones por espacio de trabajo según el idioma"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Clave API para autenticación. Usa tu clave API directamente sin ningún prefijo (por ejemplo, 'your-api-key'). El prefijo Bearer es opcional pero no obligatorio."
      }
    },
    "responses": {
      "ValidationError": {
        "description": "Solicitud Incorrecta - La validación falló",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Validation Error",
              "message": "Invalid input data",
              "details": {
                "name": "Name is required",
                "email": "Invalid email format"
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "No Autorizado - Clave API inválida o faltante",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Unauthorized",
              "message": "Invalid API key"
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "Prohibido - Permisos insuficientes",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Forbidden",
              "message": "You do not have permission to access this resource"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "No Encontrado - El recurso no existe",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Not Found",
              "message": "The requested resource was not found"
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Demasiadas Solicitudes - Se superó el límite de solicitudes",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Número máximo de solicitudes por minuto"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "Solicitudes restantes"
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "integer"
            },
            "description": "Marca de tiempo Unix del reinicio"
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Segundos hasta que se permita reintentar"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Rate Limit Exceeded",
              "message": "Too many requests. Please wait before retrying.",
              "details": {
                "retry_after": 45
              }
            }
          }
        }
      }
    },
    "requestBodies": {
      "PatchSigningRequestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PatchSigningRequestBodySchema"
            },
            "examples": {
              "update-properties": {
                "summary": "Actualizar propiedades",
                "value": {
                  "name": "Updated Contract Name",
                  "expiration_hours": 72
                }
              },
              "update-recipient": {
                "summary": "Actualizar un solo destinatario",
                "value": {
                  "recipient": {
                    "id": "rec123-e89b-12d3-a456-426614174000",
                    "first_name": "John",
                    "last_name": "Smith",
                    "email": "john.smith@example.com",
                    "designation": "Signer",
                    "order": 1
                  }
                }
              },
              "add-recipient": {
                "summary": "Añadir nuevo destinatario",
                "value": {
                  "recipient": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "email": "jane@example.com",
                    "designation": "Signer",
                    "order": 2
                  }
                }
              },
              "add-date-field": {
                "summary": "Añadir campo de fecha con formato",
                "value": {
                  "field": {
                    "type": "date",
                    "position": {
                      "x": 70,
                      "y": 45,
                      "width": 15,
                      "height": 3
                    },
                    "page_number": 1,
                    "required": true,
                    "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                    "date_signing_default": true,
                    "format_rules": {
                      "dateFormat": "MMMM dd, yyyy"
                    }
                  }
                }
              },
              "add-read-only-static-field": {
                "summary": "Añadir campo de solo lectura con valor estático",
                "description": "Crea un campo de texto que muestra un valor fijo que el firmante no puede editar",
                "value": {
                  "field": {
                    "type": "text",
                    "position": {
                      "x": 15,
                      "y": 20,
                      "width": 40,
                      "height": 3
                    },
                    "page_number": 1,
                    "required": false,
                    "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                    "read_only": true,
                    "read_only_value": "Contract #12345 - Acme Corporation"
                  }
                }
              },
              "add-read-only-prefilled-field": {
                "summary": "Añadir campo de solo lectura con datos del destinatario",
                "description": "Crea un campo de texto que se autocompleta con el correo electrónico del destinatario (el firmante no puede editarlo)",
                "value": {
                  "field": {
                    "type": "text",
                    "position": {
                      "x": 15,
                      "y": 30,
                      "width": 30,
                      "height": 3
                    },
                    "page_number": 1,
                    "required": false,
                    "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                    "read_only": true,
                    "prefilled_data": "email"
                  }
                }
              }
            }
          }
        }
      },
      "UpdateSigningRequestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateSigningRequestBodySchema"
            },
            "examples": {
              "comprehensive-update": {
                "summary": "Actualización completa con todas las secciones",
                "value": {
                  "signing_request_properties": {
                    "name": "Updated Contract Name",
                    "expiration_hours": 72
                  },
                  "recipients": [
                    {
                      "id": "rec1-e89b-12d3-a456-426614174000",
                      "first_name": "John",
                      "last_name": "Smith",
                      "email": "john.smith@example.com",
                      "designation": "Signer",
                      "order": 1
                    },
                    {
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "email": "jane@example.com",
                      "designation": "Signer",
                      "order": 2
                    }
                  ],
                  "deleted_recipients": [
                    {
                      "recipient_id": "rec2-e89b-12d3-a456-426614174000",
                      "field_action": "reassign",
                      "reassign_to_recipient_id": "rec1-e89b-12d3-a456-426614174000"
                    }
                  ],
                  "fields": [
                    {
                      "id": "field1-e89b-12d3-a456-426614174000",
                      "type": "signature",
                      "position": {
                        "x": 15,
                        "y": 85,
                        "width": 30,
                        "height": 10
                      },
                      "page_number": 1,
                      "required": true,
                      "recipient_id": "rec1-e89b-12d3-a456-426614174000"
                    }
                  ],
                  "reminders": [
                    {
                      "hours": 48,
                      "all_users": true,
                      "subject": "Reminder: Please sign the document",
                      "message": "This is a reminder to complete your signature."
                    }
                  ]
                }
              },
              "update-with-temp-ids": {
                "summary": "Actualizar con nuevos destinatarios usando IDs temporales",
                "description": "Actualización completa que añade nuevos destinatarios con IDs temporales junto a los destinatarios existentes",
                "value": {
                  "signing_request_properties": {
                    "name": "Updated NDA Agreement"
                  },
                  "recipients": [
                    {
                      "id": "existing-recipient-uuid",
                      "email": "updated@example.com"
                    },
                    {
                      "_temp_id": "temp_new_signer",
                      "first_name": "New",
                      "last_name": "Signer",
                      "email": "newsigner@example.com",
                      "designation": "Signer",
                      "order": 2
                    }
                  ],
                  "fields": [
                    {
                      "id": "existing-field-uuid",
                      "position": {
                        "x": 10,
                        "y": 70,
                        "width": 30,
                        "height": 10
                      }
                    },
                    {
                      "recipient_id": "temp_new_signer",
                      "type": "signature",
                      "page_number": 1,
                      "position": {
                        "x": 10,
                        "y": 55,
                        "width": 30,
                        "height": 10
                      },
                      "required": true
                    }
                  ],
                  "reminders": [
                    {
                      "recipient_id": "temp_new_signer",
                      "hours": 24,
                      "all_users": false,
                      "subject": "Reminder: Sign Document",
                      "message": "Please sign the updated NDA."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único de la empresa"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la empresa",
            "maxLength": 255
          },
          "language": {
            "type": "string",
            "description": "Idioma predeterminado de la empresa",
            "enum": [
              "en",
              "es",
              "it",
              "pt",
              "fr",
              "de",
              "el",
              "ru",
              "pl"
            ],
            "default": "en"
          },
          "account_owner": {
            "type": "string",
            "description": "Nombre del propietario de la cuenta",
            "maxLength": 255
          },
          "account_owner_email": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico del propietario de la cuenta"
          },
          "website": {
            "type": "string",
            "format": "uri",
            "description": "URL del sitio web de la empresa",
            "nullable": true
          },
          "icon_url": {
            "type": "string",
            "format": "uri",
            "description": "URL de acceso público a la imagen del logo de la empresa. Devuelve null si no hay un logo configurado.",
            "nullable": true,
            "example": "https://ielmshcswdhuacyjlpiy.supabase.co/functions/v1/logo/company/3feb35a8-5aaf-4603-8b50-acd807176b38"
          },
          "credits": {
            "type": "integer",
            "description": "Créditos disponibles para la empresa (solo lectura, gestionado internamente)",
            "minimum": 0,
            "readOnly": true
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de creación de la cuenta de la empresa"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de la última actualización de la cuenta de la empresa"
          }
        },
        "required": [
          "id",
          "name",
          "account_owner",
          "account_owner_email",
          "created_date"
        ]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del espacio de trabajo"
          },
          "name": {
            "type": "string",
            "description": "Nombre del espacio de trabajo",
            "maxLength": 255
          },
          "protected": {
            "type": "boolean",
            "description": "Los espacios de trabajo protegidos no se pueden eliminar"
          },
          "api_key": {
            "type": "string",
            "description": "Clave API de modo real para este espacio de trabajo. Se usa para autenticar solicitudes de API limitadas a este espacio de trabajo.",
            "nullable": true
          },
          "test_api_key": {
            "type": "string",
            "description": "Clave API de modo de prueba para este espacio de trabajo. Las solicitudes autenticadas con esta clave no consumen créditos y generan solicitudes de firma marcadas como de prueba, con marca de agua.",
            "nullable": true
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de creación del espacio de trabajo"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de la última actualización del espacio de trabajo"
          },
          "webhook_enabled": {
            "type": "boolean",
            "description": "Indica si los webhooks a nivel de espacio de trabajo están habilitados"
          },
          "webhook_secret": {
            "type": "string",
            "description": "Secreto de firma de webhook para este espacio de trabajo",
            "nullable": true
          },
          "webhook_secret_rotated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de la última rotación del secreto de webhook",
            "nullable": true
          },
          "webhook_secret_created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de cuando se creó el secreto de webhook por primera vez",
            "nullable": true
          },
          "ignore_company_webhooks": {
            "type": "boolean",
            "description": "Cuando es true, los webhooks a nivel de empresa no se disparan para eventos en este espacio de trabajo"
          },
          "icon_url": {
            "type": "string",
            "format": "uri",
            "description": "URL de acceso público a la imagen del logo del espacio de trabajo. Devuelve el logo específico del espacio de trabajo, o null si no está configurado (el logo de la empresa NO se incluye como alternativa en este campo).",
            "nullable": true,
            "example": "https://ielmshcswdhuacyjlpiy.supabase.co/functions/v1/logo/workspace/company-id/workspace-id"
          }
        },
        "required": [
          "id",
          "name",
          "created_date"
        ]
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único de la plantilla"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la plantilla",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "description": "Descripción de la plantilla",
            "nullable": true
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL prefirmada al documento PDF. Es una URL firmada con tiempo limitado para acceso seguro; consulta document_url_expires_at para conocer el momento de expiración. Las URLs iniciales son válidas por 7 días; las URLs renovadas son válidas por 1 hora. Solicita una nueva recuperación de la plantilla para obtener una URL nueva si ha expirado."
          },
          "document_url_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Marca de tiempo ISO 8601 de cuándo expirará document_url. Después de este momento, la URL devolverá un error de acceso denegado. Vuelve a obtener la plantilla para recibir una nueva URL firmada."
          },
          "page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Número de páginas del documento"
          },
          "expiration_hours": {
            "type": "integer",
            "minimum": 1,
            "default": 168,
            "description": "Horas hasta que expiren las solicitudes de firma creadas a partir de esta plantilla"
          },
          "credit_cost": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Número de créditos consumidos cuando se envía una solicitud de firma desde esta plantilla. El valor mínimo es 1."
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateUser"
            },
            "description": "Destinatarios de la plantilla (incluido en GET de una sola plantilla)"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateField"
            },
            "description": "Campos de la plantilla (incluido en GET de una sola plantilla)"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de creación de la plantilla"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de la última actualización de la plantilla"
          }
        },
        "required": [
          "id",
          "name",
          "created_date"
        ]
      },
      "TemplateUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del usuario de la plantilla"
          },
          "name": {
            "type": "string",
            "description": "Nombre del destinatario (nombre y apellido combinados)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico del destinatario"
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "Nombre del destinatario"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "Apellido del destinatario"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "Rol del destinatario. Signer firma el documento, Approver aprueba con campos de aprobación, CC recibe una copia al finalizar."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Orden en el que el destinatario debe firmar"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "Número de teléfono del destinatario"
          },
          "street_address": {
            "type": "string",
            "nullable": true,
            "description": "Dirección postal del destinatario"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Ciudad del destinatario"
          },
          "state_province": {
            "type": "string",
            "nullable": true,
            "description": "Estado o provincia del destinatario"
          },
          "postal_code": {
            "type": "string",
            "nullable": true,
            "description": "Código postal del destinatario"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "País del destinatario"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Cargo del destinatario"
          },
          "company": {
            "type": "string",
            "nullable": true,
            "description": "Nombre de la empresa del destinatario"
          },
          "required_fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de campos de datos del destinatario requeridos para el envío (basada en los campos de la plantilla con asignaciones de variable_name). Siempre incluye 'email' y 'first_name'."
          },
          "missing_fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de campos requeridos que actualmente están vacíos para este destinatario"
          },
          "required_read_only_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "variable_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Nombre de variable del campo de solo lectura"
                },
                "variable_defined_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Nombre del campo legible para humanos, tomado de la definición del campo personalizado (por ejemplo, 'artist_name'). Solo está presente para campos vinculados a una definición de campo personalizado; de lo contrario es null."
                },
                "field_type": {
                  "type": "string",
                  "description": "Tipo del campo (text, date, etc.)"
                }
              }
            },
            "description": "Lista de campos obligatorios de solo lectura que necesitan valores prellenados antes de enviar"
          },
          "ready_to_send": {
            "type": "boolean",
            "description": "Indica si este destinatario tiene todos los datos obligatorios completados para poder enviarse"
          }
        },
        "required": [
          "id",
          "first_name",
          "email",
          "designation",
          "order"
        ]
      },
      "DateFormatRules": {
        "type": "object",
        "description": "Reglas de formato para campos de fecha. Especifica cómo deben mostrarse y formatearse los valores de fecha.",
        "properties": {
          "dateFormat": {
            "type": "string",
            "description": "Patrón de formato de fecha. Usa formatos predefinidos o patrones personalizados con: yyyy (año de 4 dígitos), MM (mes de 2 dígitos), dd (día de 2 dígitos), MMMM (nombre completo del mes), MMM (nombre abreviado del mes), HH (hora en formato 24 horas), mm (minuto), ss (segundo). Ejemplos: 'MM/dd/yyyy' se muestra como 01/31/2024, 'MMMM dd, yyyy' se muestra como January 31, 2024.",
            "enum": [
              "MM/dd/yyyy",
              "dd/MM/yyyy",
              "yyyy-MM-dd",
              "MMMM dd, yyyy",
              "MMM dd, yyyy",
              "dd MMMM yyyy"
            ],
            "default": "MM/dd/yyyy"
          },
          "fontSize": {
            "type": "integer",
            "minimum": 8,
            "maximum": 48,
            "description": "Tamaño de fuente inicial/máximo opcional en píxeles para el valor del campo renderizado. El texto se reduce automáticamente para ajustarse al recuadro del campo. Omítelo para el dimensionado automático. Los valores fuera de 8-48 se limitan a ese rango."
          }
        },
        "example": {
          "dateFormat": "MMMM dd, yyyy"
        }
      },
      "TextFormatRules": {
        "type": "object",
        "description": "Reglas de formato para campos con texto (text, textarea, email, name, phone, company, title, number, dropdown, url).",
        "properties": {
          "fontSize": {
            "type": "integer",
            "minimum": 8,
            "maximum": 48,
            "description": "Tamaño de fuente inicial/máximo opcional en píxeles para el valor del campo renderizado, aplicado en la vista de firma y en el PDF sellado. El texto se reduce automáticamente para ajustarse al recuadro del campo, por lo que el tamaño explícito es un límite superior, no una garantía. Omítelo para el dimensionado automático (base predeterminada de 14 px). Los valores fuera de 8-48 se limitan a ese rango; los valores no numéricos se ignoran. No se aplica a los campos signature, initials, checkbox, radio, file ni stamp."
          }
        },
        "example": {
          "fontSize": 12
        }
      },
      "FileFormatRules": {
        "type": "object",
        "description": "Reglas de formato para campos de carga de archivos. Especifica qué tipos de archivo pueden subir los firmantes.",
        "properties": {
          "acceptedFileTypes": {
            "type": "string",
            "enum": [
              "image_and_pdf",
              "image",
              "pdf"
            ],
            "default": "image_and_pdf",
            "description": "Tipos de archivo aceptados para la carga. 'image_and_pdf' acepta JPG, PNG y PDF. 'image' acepta solo JPG y PNG. 'pdf' acepta solo PDF. Los archivos se validan por sus bytes mágicos (magic bytes), no solo por la extensión. El tamaño máximo de archivo es 10MB."
          }
        },
        "example": {
          "acceptedFileTypes": "image_and_pdf"
        }
      },
      "FieldValidationRules": {
        "type": "object",
        "nullable": true,
        "description": "Reglas de validación para valores de campo. Reservado para uso futuro: actualmente no se aplica a ningún tipo de campo.",
        "additionalProperties": true
      },
      "TemplateField": {
        "type": "object",
        "description": "Un campo colocado en un documento de plantilla",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del campo"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "signature",
              "date",
              "checkbox",
              "dropdown",
              "radio_buttons",
              "number",
              "text_area",
              "file",
              "initial",
              "stamp",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Tipo del campo"
          },
          "required": {
            "type": "boolean",
            "description": "Indica si el campo es obligatorio"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID del destinatario asignado"
          },
          "variable_name": {
            "type": "string",
            "nullable": true,
            "description": "Nombre de variable del campo (usado en plantillas)"
          },
          "variable_defined_name": {
            "type": "string",
            "nullable": true,
            "description": "Nombre del campo legible para humanos, tomado de la definición del campo personalizado (por ejemplo, 'artist_name'). Solo está presente para campos vinculados a una definición de campo personalizado; de lo contrario es null."
          },
          "position": {
            "type": "object",
            "description": "Posición y dimensiones del campo en el documento. Todos los valores son porcentajes (0-100). El campo debe caber dentro de la página: x + width <= 100 y y + height <= 100.",
            "properties": {
              "x": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordenada X de la posición del campo (porcentaje, 0-100)"
              },
              "y": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordenada Y de la posición del campo (porcentaje, 0-100)"
              },
              "width": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Ancho del campo (porcentaje, 0-100). Nota: x + width debe ser <= 100"
              },
              "height": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Alto del campo (porcentaje, 0-100). Nota: y + height debe ser <= 100"
              }
            }
          },
          "page_number": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "Número de página donde se encuentra el campo (empieza en 1). No debe superar el total de páginas del documento."
          },
          "dropdown_options": {
            "nullable": true,
            "description": "Opciones para campos desplegables",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object"
              }
            ]
          },
          "multi_group_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID de grupo para vincular varios campos de casilla de verificación o botón de opción entre sí. Los campos que comparten el mismo multi_group_id se comportan como un grupo mutuamente excluyente (como botones de opción): seleccionar uno deselecciona automáticamente los demás del grupo. Usa el mismo UUID en varios campos para crear un grupo donde solo se puede seleccionar una opción a la vez."
          },
          "date_default": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Valor de fecha predeterminado para campos de fecha (formato ISO 8601, por ejemplo, '2024-01-15')"
          },
          "date_signing_default": {
            "type": "boolean",
            "description": "Usar la fecha de firma como valor predeterminado para campos de fecha"
          },
          "format_rules": {
            "$ref": "#/components/schemas/DateFormatRules",
            "nullable": true,
            "description": "Reglas de formato: actualmente se usan para campos de fecha, para especificar el formato de visualización"
          },
          "validation_rules": {
            "$ref": "#/components/schemas/FieldValidationRules"
          },
          "read_only": {
            "type": "boolean",
            "default": false,
            "description": "Indica si este campo es de solo lectura (prellenado antes de firmar)"
          },
          "read_only_value": {
            "type": "string",
            "nullable": true,
            "description": "Valor estático para campos de solo lectura"
          }
        },
        "required": [
          "id",
          "type",
          "page_number"
        ]
      },
      "Reminder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del recordatorio"
          },
          "hours": {
            "type": "integer",
            "minimum": 1,
            "description": "Horas después del envío antes de que se envíe el recordatorio"
          },
          "subject": {
            "type": "string",
            "description": "Asunto del correo para el recordatorio",
            "maxLength": 255
          },
          "message": {
            "type": "string",
            "description": "Cuerpo del mensaje de correo para el recordatorio",
            "maxLength": 5000
          },
          "all_users": {
            "type": "boolean",
            "description": "Indica si el recordatorio aplica a todos los usuarios"
          },
          "template_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Usuario específico al que se le enviará el recordatorio (usado en el contexto de plantilla)"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Destinatario específico al que se le enviará el recordatorio (usado en el contexto de solicitud de firma, es lo mismo que template_user_id)"
          },
          "sent_on": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Marca de tiempo de cuándo se envió realmente el recordatorio"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de creación del recordatorio"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de la última actualización del recordatorio"
          }
        },
        "required": [
          "id",
          "hours",
          "subject",
          "message"
        ]
      },
      "SigningRequestListItem": {
        "type": "object",
        "description": "Solicitud de firma tal como la devuelve el endpoint LIST (GET /signing-requests)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único de la solicitud de firma"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la solicitud de firma",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Descripción de la solicitud de firma"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_sent",
              "in_progress",
              "finished",
              "cancelled",
              "declined",
              "deleted",
              "expired"
            ],
            "description": "Estado actual de la solicitud de firma"
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL prefirmada al documento PDF. Es una URL firmada de tiempo limitado para acceso seguro - ver document_url_expires_at para el tiempo de expiración. Las URLs iniciales son válidas por 7 días; las URLs renovadas son válidas por 1 hora. Solicita una nueva recuperación de la solicitud de firma para obtener una URL nueva si ha expirado."
          },
          "document_url_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Marca de tiempo ISO 8601 de cuándo expirará document_url. Después de este momento, la URL devolverá un error de acceso denegado. Vuelve a obtener la solicitud de firma para recibir una URL firmada nueva."
          },
          "page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Número de páginas en el documento"
          },
          "expiration_hours": {
            "type": "integer",
            "minimum": 1,
            "default": 168,
            "description": "Horas hasta que la solicitud de firma expire (por defecto: 168 = 7 días)"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Marca de tiempo ISO 8601 de cuándo expira la solicitud de firma. Se calcula a partir de sent_date + expiration_hours. Es nulo si la solicitud de firma aún no ha sido enviada o no tiene expiration_hours configurado."
          },
          "credit_cost": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Número de créditos consumidos cuando se envió esta solicitud de firma. El valor mínimo es 1."
          },
          "template_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID de la plantilla si se creó a partir de una plantilla"
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de creación"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de la última actualización"
          },
          "sent_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Cuándo se envió la solicitud de firma"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Cuándo se completaron todas las firmas"
          },
          "cancelled_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Cuándo se canceló la solicitud de firma"
          },
          "declined_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Cuándo se rechazó la solicitud de firma"
          },
          "recipients": {
            "type": "array",
            "description": "Destinatarios de la solicitud de firma (formato simplificado)",
            "items": {
              "$ref": "#/components/schemas/SigningRequestListRecipient"
            }
          },
          "fields": {
            "type": "array",
            "description": "Campos de la solicitud de firma con objeto de posición anidado",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "text",
                    "signature",
                    "date",
                    "checkbox",
                    "dropdown",
                    "radio_buttons",
                    "number",
                    "text_area",
                    "file",
                    "initial",
                    "stamp",
                    "approval_signature",
                    "approval_checkmark",
                    "approval_date"
                  ]
                },
                "required": {
                  "type": "boolean"
                },
                "recipient_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true
                },
                "variable_name": {
                  "type": "string",
                  "nullable": true
                },
                "variable_defined_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Nombre de campo legible tomado de la definición del campo personalizado (por ejemplo, 'artist_name'). Solo está presente para campos vinculados a una definición de campo personalizado; de lo contrario es nulo."
                },
                "position": {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "number"
                    },
                    "y": {
                      "type": "number"
                    },
                    "width": {
                      "type": "number"
                    },
                    "height": {
                      "type": "number"
                    }
                  }
                },
                "value": {
                  "type": "string",
                  "nullable": true,
                  "description": "Valor final del campo después de firmar"
                },
                "dropdown_options": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "format_rules": {
                  "$ref": "#/components/schemas/DateFormatRules",
                  "nullable": true
                },
                "validation_rules": {
                  "$ref": "#/components/schemas/FieldValidationRules"
                }
              }
            }
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "created_date"
        ]
      },
      "SigningRequestListRecipient": {
        "type": "object",
        "description": "Destinatario tal como se devuelve en las respuestas LIST de solicitudes de firma (formato simplificado)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del destinatario"
          },
          "name": {
            "type": "string",
            "description": "Nombre completo combinado"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico del destinatario"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "Rol del destinatario. El Firmante firma el documento, el Aprobador aprueba con campos de aprobación, CC recibe una copia cuando se completa."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Orden de firma"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Cuándo este destinatario completó la firma"
          },
          "signature_details": {
            "type": "object",
            "nullable": true,
            "description": "Detalles sobre la firma del destinatario"
          }
        }
      },
      "SigningRequestCreateResponse": {
        "type": "object",
        "description": "Solicitud de firma tal como la devuelven los endpoints CREATE (POST /signing-requests)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único de la solicitud de firma"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la solicitud de firma",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Descripción de la solicitud de firma"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft"
            ],
            "description": "El status siempre es 'draft' para solicitudes de firma recién creadas"
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL prefirmada al documento PDF"
          },
          "page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Número de páginas en el documento"
          },
          "expiration_hours": {
            "type": "integer",
            "minimum": 1,
            "default": 168,
            "description": "Horas hasta que la solicitud de firma expire (por defecto: 168 = 7 días)"
          },
          "template_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID de la plantilla si se creó a partir de una plantilla"
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de creación"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de la última actualización"
          },
          "sent_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Cuándo se envió la solicitud de firma"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Cuándo se completaron todas las firmas"
          },
          "cancelled_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Cuándo se canceló la solicitud de firma"
          },
          "recipients": {
            "type": "array",
            "description": "Destinatarios de la solicitud de firma",
            "items": {
              "$ref": "#/components/schemas/SigningRequestCreateRecipient"
            }
          },
          "fields": {
            "type": "array",
            "description": "Campos de la solicitud de firma con valores de posición planos",
            "items": {
              "$ref": "#/components/schemas/SigningRequestCreateField"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Advertencias opcionales de validación de formato de correo electrónico. Solo están presentes cuando los correos electrónicos de los destinatarios tienen formatos inusuales."
          }
        },
        "required": [
          "id",
          "name",
          "status"
        ]
      },
      "SigningRequestCreateRecipient": {
        "type": "object",
        "description": "Destinatario tal como se devuelve en las respuestas CREATE de solicitudes de firma",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del destinatario"
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "Nombre del destinatario"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "Apellido del destinatario"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Nombre completo combinado (construido automáticamente a partir de first_name + last_name)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico del destinatario"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "Rol del destinatario. El Firmante firma el documento, el Aprobador aprueba con campos de aprobación, CC recibe una copia cuando se completa."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Orden de firma"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "Número de teléfono del destinatario"
          },
          "street_address": {
            "type": "string",
            "nullable": true,
            "description": "Dirección postal"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Ciudad"
          },
          "state_province": {
            "type": "string",
            "nullable": true,
            "description": "Estado o provincia"
          },
          "postal_code": {
            "type": "string",
            "nullable": true,
            "description": "Código postal"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "País"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Puesto de trabajo"
          },
          "company": {
            "type": "string",
            "nullable": true,
            "description": "Nombre de la empresa"
          },
          "custom_fields": {
            "type": "object",
            "nullable": true,
            "description": "Pares clave-valor personalizados"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Cuándo este destinatario completó la firma"
          }
        },
        "required": [
          "first_name",
          "email",
          "designation"
        ]
      },
      "SigningRequestCreateField": {
        "type": "object",
        "description": "Campo tal como se devuelve en las respuestas CREATE de solicitudes de firma (posición plana, estilo base de datos)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del campo"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "signature",
              "date",
              "checkbox",
              "dropdown",
              "radio_buttons",
              "number",
              "text_area",
              "file",
              "initial",
              "stamp",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Tipo del campo"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID del destinatario asignado"
          },
          "page_number": {
            "type": "integer",
            "minimum": 1,
            "description": "Número de página (indexado desde 1)"
          },
          "x_position": {
            "type": "number",
            "description": "Coordenada X como porcentaje (0-100)"
          },
          "y_position": {
            "type": "number",
            "description": "Coordenada Y como porcentaje (0-100)"
          },
          "width": {
            "type": "number",
            "description": "Ancho como porcentaje (0-100)"
          },
          "height": {
            "type": "number",
            "description": "Alto como porcentaje (0-100)"
          },
          "required": {
            "type": "boolean",
            "description": "Indica si el campo es obligatorio"
          },
          "read_only": {
            "type": "boolean",
            "description": "Indica si este campo es de solo lectura"
          },
          "read_only_value": {
            "type": "string",
            "nullable": true,
            "description": "Valor estático para campos de solo lectura"
          },
          "variable_name": {
            "type": "string",
            "nullable": true,
            "description": "Nombre de variable para el mapeo de datos prellenados"
          },
          "variable_defined_name": {
            "type": "string",
            "nullable": true,
            "description": "Nombre de campo legible tomado de la definición del campo personalizado (por ejemplo, 'artist_name'). Solo está presente para campos vinculados a una definición de campo personalizado; de lo contrario es nulo."
          },
          "dropdown_options": {
            "nullable": true,
            "description": "Opciones para campos desplegables",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object"
              }
            ]
          },
          "format_rules": {
            "type": "object",
            "nullable": true,
            "description": "Reglas de formato (por ejemplo, formato de fecha)"
          },
          "validation_rules": {
            "type": "object",
            "nullable": true,
            "description": "Reglas de validación para el campo"
          },
          "date_signing_default": {
            "type": "boolean",
            "description": "Si se debe usar la fecha de firma como valor predeterminado"
          },
          "final_value": {
            "type": "string",
            "nullable": true,
            "description": "Valor prellenado o final del campo"
          }
        },
        "required": [
          "type",
          "recipient_id",
          "page_number"
        ]
      },
      "SigningRequestDetail": {
        "type": "object",
        "description": "Solicitud de Firma detallada, tal como la devuelve GET /signing-requests/{id} (forma anidada con objeto status y timestamps)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único de la Solicitud de Firma"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la Solicitud de Firma"
          },
          "template_description": {
            "type": "string",
            "nullable": true,
            "description": "Descripción de la Plantilla"
          },
          "companies_workspaces_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID del Espacio de Trabajo al que pertenece esta Solicitud de Firma"
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL prefirmada al documento PDF"
          },
          "document_url_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "document_page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Cantidad de páginas del documento"
          },
          "expiration_hours": {
            "type": "integer",
            "description": "Horas hasta que expira la Solicitud de Firma"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp ISO 8601 de cuándo expira la Solicitud de Firma. Se calcula a partir de sent_on + expiration_hours. Es null si aún no se envió o si no se estableció expiration_hours."
          },
          "credit_cost": {
            "type": "integer",
            "description": "Créditos consumidos al enviarse"
          },
          "status": {
            "type": "object",
            "description": "Indicadores de estado (pueden ser true varios a la vez en estados terminales)",
            "properties": {
              "sent": {
                "type": "boolean"
              },
              "finished": {
                "type": "boolean"
              },
              "cancelled": {
                "type": "boolean"
              },
              "declined": {
                "type": "boolean"
              },
              "expired": {
                "type": "boolean"
              }
            }
          },
          "timestamps": {
            "type": "object",
            "description": "Todos los timestamps relevantes del ciclo de vida de la Solicitud de Firma",
            "properties": {
              "created_on": {
                "type": "string",
                "format": "date-time"
              },
              "sent_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "finished_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "cancelled_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "declined_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "last_changed_on": {
                "type": "string",
                "format": "date-time"
              },
              "last_signing_action_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "use_signing_order": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "allow_download": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "allow_editing_before_sending": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "hand_drawn_only": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "attach_pdf_on_finish": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "certificate": {
            "type": "object",
            "nullable": true,
            "description": "Información del estado de generación del certificado",
            "properties": {
              "generated": {
                "type": "boolean",
                "description": "Si el PDF del certificado final ya fue generado"
              },
              "generated_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Timestamp de cuándo se generó el certificado"
              },
              "has_error": {
                "type": "boolean",
                "description": "Si hubo un error al generar el certificado"
              }
            }
          },
          "final_document_download_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL firmada para descargar el documento final firmado (PDF con certificado). La URL expira después de 1 hora."
          },
          "final_document_download_error": {
            "type": "string",
            "nullable": true,
            "enum": [
              "file_not_accessible",
              null
            ]
          },
          "document_only_download_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL firmada para descargar el PDF solo del documento. La URL expira después de 1 hora."
          },
          "document_only_download_error": {
            "type": "string",
            "nullable": true,
            "enum": [
              "file_not_accessible",
              null
            ]
          },
          "certificate_only_download_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL firmada para descargar el PDF solo del certificado. La URL expira después de 1 hora."
          },
          "certificate_only_download_error": {
            "type": "string",
            "nullable": true,
            "enum": [
              "file_not_accessible",
              null
            ]
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "companies_workspaces_id"
        ]
      },
      "SigningRequestSettings": {
        "type": "object",
        "description": "Configuración devuelta por los endpoints de listado y detalle de Solicitudes de Firma. Las Plantillas usan el esquema TemplateSettings (sin campos de identidad).",
        "properties": {
          "allow_download": {
            "type": "boolean",
            "description": "Si los destinatarios pueden descargar el documento",
            "default": true
          },
          "attach_pdf_on_finish": {
            "type": "boolean",
            "description": "Si se debe adjuntar el PDF cuando se completa la firma",
            "default": true
          },
          "allow_editing_before_sending": {
            "type": "boolean",
            "description": "Si la Solicitud de Firma se puede editar antes de enviarse",
            "default": false
          },
          "use_signing_order": {
            "type": "boolean",
            "description": "Si se aplica un orden de firma entre los destinatarios. Cuando es true, los Firmantes reciben el documento en secuencia según su order. Cuando es false, todos los Firmantes reciben el documento al mismo tiempo.",
            "default": true
          },
          "hand_drawn_only": {
            "type": "boolean",
            "description": "Cuando está habilitado, los Firmantes solo pueden dibujar su firma a mano y no pueden usar firmas escritas/basadas en fuente",
            "default": false
          },
          "send_signing_email": {
            "type": "boolean",
            "description": "Si se deben enviar correos de notificación de la Solicitud de Firma a los Firmantes",
            "default": true
          },
          "send_finish_email": {
            "type": "boolean",
            "description": "Si se debe enviar un correo de finalización cuando todos los Firmantes terminan",
            "default": true
          },
          "send_expiration_email": {
            "type": "boolean",
            "description": "Si se debe enviar un correo de notificación de expiración cuando la solicitud expira",
            "default": true
          },
          "send_cancellation_email": {
            "type": "boolean",
            "description": "Si se debe enviar un correo de notificación de cancelación cuando se cancela la solicitud",
            "default": true
          },
          "require_otp_verification": {
            "type": "boolean",
            "nullable": true,
            "description": "Si los Firmantes deben verificar su correo con un código de un solo uso antes de acceder al documento. null = hereda la configuración del Espacio de Trabajo/empresa.",
            "default": null
          },
          "disable_guided_navigation": {
            "type": "boolean",
            "nullable": true,
            "description": "Desactiva el desplazamiento automático al siguiente campo requerido durante la firma. Hereda del Espacio de Trabajo o de la empresa si no está configurado."
          },
          "allow_presigning_download": {
            "type": "boolean",
            "nullable": true,
            "description": "Permite a los Firmantes descargar el documento original antes de firmar. Hereda de la configuración del Espacio de Trabajo o de la empresa cuando es null."
          },
          "show_qr_code": {
            "type": "boolean",
            "nullable": true,
            "description": "Muestra un código QR en la página de firma que permite a los Firmantes continuar desde su teléfono. Hereda de la configuración del Espacio de Trabajo o de la empresa cuando es null."
          },
          "identity_editable_fields": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Campos de identidad que los Firmantes pueden editar antes de firmar (por ejemplo, [\"name\", \"company\"]). null = desactivado. Cuando está configurado, un diálogo de confirmación permite a los Firmantes editar los campos especificados."
          },
          "notify_identity_change_email": {
            "type": "boolean",
            "default": false,
            "description": "Envía una notificación por correo cuando un Firmante cambia su identidad."
          }
        }
      },
      "TemplateSettings": {
        "type": "object",
        "description": "Configuración devuelta por los endpoints de Plantillas. Coincide con SigningRequestSettings menos los campos de identidad del Firmante (identity_editable_fields, notify_identity_change_email), que solo aplican a las Solicitudes de Firma.",
        "properties": {
          "allow_download": {
            "type": "boolean",
            "description": "Si los destinatarios pueden descargar el documento",
            "default": true
          },
          "attach_pdf_on_finish": {
            "type": "boolean",
            "description": "Si se debe adjuntar el PDF cuando se completa la firma",
            "default": true
          },
          "allow_editing_before_sending": {
            "type": "boolean",
            "description": "Si la Solicitud de Firma se puede editar antes de enviarse",
            "default": false
          },
          "use_signing_order": {
            "type": "boolean",
            "description": "Si se aplica un orden de firma entre los destinatarios.",
            "default": true
          },
          "hand_drawn_only": {
            "type": "boolean",
            "description": "Cuando está habilitado, los Firmantes solo pueden dibujar su firma a mano y no pueden usar firmas escritas/basadas en fuente",
            "default": false
          },
          "send_signing_email": {
            "type": "boolean",
            "description": "Si se deben enviar correos de notificación de la Solicitud de Firma a los Firmantes",
            "default": true
          },
          "send_finish_email": {
            "type": "boolean",
            "description": "Si se debe enviar un correo de finalización cuando todos los Firmantes terminan",
            "default": true
          },
          "send_expiration_email": {
            "type": "boolean",
            "description": "Si se debe enviar un correo de notificación de expiración cuando la solicitud expira",
            "default": true
          },
          "send_cancellation_email": {
            "type": "boolean",
            "description": "Indica si se debe enviar un correo de notificación de cancelación cuando se cancela la solicitud",
            "default": true
          },
          "require_otp_verification": {
            "type": "boolean",
            "nullable": true,
            "description": "Indica si los firmantes deben verificar su correo electrónico con un código de un solo uso antes de acceder al documento. null = heredar de la configuración del espacio de trabajo/empresa.",
            "default": null
          },
          "disable_guided_navigation": {
            "type": "boolean",
            "nullable": true,
            "description": "Desactiva el desplazamiento automático al siguiente campo requerido durante la firma. Se hereda del espacio de trabajo o la empresa si no está configurado."
          },
          "allow_presigning_download": {
            "type": "boolean",
            "nullable": true,
            "description": "Permite que los firmantes descarguen el documento original antes de firmar. Se hereda de la configuración del espacio de trabajo o la empresa cuando es null."
          },
          "show_qr_code": {
            "type": "boolean",
            "nullable": true,
            "description": "Muestra un código QR en la página de firma que permite a los firmantes continuar desde su teléfono. Se hereda de la configuración del espacio de trabajo o la empresa cuando es null."
          }
        }
      },
      "LegacyDocumentSettings": {
        "type": "object",
        "description": "Configuración devuelta por el endpoint obsoleto POST /documents. Un conjunto reducido; las integraciones nuevas deben usar los endpoints de solicitud de firma, que devuelven SigningRequestSettings.",
        "properties": {
          "allow_download": {
            "type": "boolean",
            "description": "Indica si los destinatarios pueden descargar el documento",
            "default": true
          },
          "attach_pdf_on_finish": {
            "type": "boolean",
            "description": "Indica si se debe adjuntar el PDF cuando se completa la firma",
            "default": true
          },
          "allow_editing_before_sending": {
            "type": "boolean",
            "description": "Indica si la solicitud de firma se puede editar antes de enviarla",
            "default": false
          },
          "use_signing_order": {
            "type": "boolean",
            "description": "Indica si se exige un orden de firma entre los destinatarios.",
            "default": true
          },
          "hand_drawn_only": {
            "type": "boolean",
            "description": "Cuando está activado, los firmantes solo pueden dibujar su firma a mano",
            "default": false
          },
          "send_signing_email": {
            "type": "boolean",
            "description": "Indica si se deben enviar correos de notificación de solicitud de firma a los firmantes",
            "default": true
          },
          "send_finish_email": {
            "type": "boolean",
            "description": "Indica si se debe enviar un correo de finalización cuando todos los firmantes terminan",
            "default": true
          },
          "send_expiration_email": {
            "type": "boolean",
            "description": "Indica si se debe enviar un correo de notificación de expiración cuando la solicitud expira",
            "default": true
          },
          "send_cancellation_email": {
            "type": "boolean",
            "description": "Indica si se debe enviar un correo de notificación de cancelación cuando se cancela la solicitud",
            "default": true
          },
          "disable_guided_navigation": {
            "type": "boolean",
            "nullable": true,
            "description": "Desactiva el desplazamiento automático al siguiente campo requerido durante la firma. Se hereda del espacio de trabajo o la empresa si no está configurado."
          },
          "allow_presigning_download": {
            "type": "boolean",
            "nullable": true,
            "description": "Permite que los firmantes descarguen el documento original antes de firmar. Se hereda de la configuración del espacio de trabajo o la empresa cuando es null."
          }
        }
      },
      "Recipient": {
        "type": "object",
        "required": [
          "first_name",
          "email",
          "designation"
        ],
        "description": "Esquema de Destinatario con comportamientos de auto-construcción y mapeo. **Campo Name**: Se construye automáticamente a partir de first_name y last_name ('First Last' si ambos están presentes, de lo contrario 'First'). Los valores de name ingresados manualmente se sobrescriben. **Asignación de order**: TODOS los destinatarios DEBEN tener un valor de order explícito. Order determina la secuencia de firma, que siempre se aplica. Los destinatarios deben firmar en orden, firmando primero los números más bajos. **Campos personalizados**: Admite tanto la estructura plana (por ejemplo, company_name en la raíz) como la estructura anidada (objeto custom_fields). Ambos formatos se normalizan internamente. **Mapeo de campos de plantilla**: Al crear a partir de una plantilla con destinatarios personalizados, use template_user_id u order para hacer coincidir a los usuarios de la plantilla. Solo se puede actualizar la información del usuario (name, email, phone, etc.); order y designation se heredan de la plantilla. **IDs temporales**: Para la creación basada en documentos, use IDs temporales (formato: 'temp_1', 'temp_2', etc.) para hacer referencia a los destinatarios en fields y reminders antes de que se creen. **Destinatarios CC**: Los destinatarios en CC reciben una copia completada pero no pueden firmar ni tener campos asignados. Se requiere al menos un Firmante.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador único. Para actualizaciones: use el UUID existente. Para la creación basada en documentos: opcionalmente use un ID temporal (formato: 'temp_1', 'temp_2', etc.) para hacer referencia a los destinatarios en fields y reminders antes de la creación. Los IDs temporales se resuelven automáticamente a UUIDs reales en la respuesta."
          },
          "_temp_id": {
            "type": "string",
            "description": "Identificador temporal para destinatarios nuevos en solicitudes PUT (actualización integral) (por ejemplo, 'temp_1'). Úselo al crear destinatarios nuevos junto con destinatarios existentes en actualizaciones integrales. Debe comenzar con 'temp_' y ser único dentro de la solicitud. No se usa para solicitudes POST (creación); use el campo 'id' en su lugar."
          },
          "template_user_id": {
            "type": "string",
            "format": "uuid",
            "description": "Al crear desde una plantilla, el ID del usuario de plantilla a actualizar. Si se proporciona, los datos de este destinatario actualizarán al usuario de plantilla correspondiente. Si no se proporciona, se recurre a la coincidencia por orden. Solo se puede actualizar la información del usuario (nombre, email, teléfono, dirección, cargo, empresa) - el orden y la designación siempre se heredan de la plantilla."
          },
          "first_name": {
            "type": "string",
            "maxLength": 100,
            "description": "Nombre del destinatario"
          },
          "last_name": {
            "type": "string",
            "maxLength": 100,
            "description": "Apellido del destinatario (opcional, pero requerido si se usan las variables prellenadas full_name o last_name)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255,
            "description": "Dirección de email del destinatario"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "Rol del destinatario. Signer firma el documento, Approver aprueba con campos de aprobación, CC recibe una copia al completarse."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Número de secuencia de firma. Los destinatarios deben firmar en orden, firmando primero los números más bajos. Este campo es obligatorio para todos los destinatarios."
          },
          "phone_number": {
            "type": "string",
            "maxLength": 50,
            "nullable": true,
            "description": "Número de teléfono del destinatario"
          },
          "street_address": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Dirección postal"
          },
          "city": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Ciudad"
          },
          "state_province": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Estado o provincia"
          },
          "postal_code": {
            "type": "string",
            "maxLength": 20,
            "nullable": true,
            "description": "Código postal"
          },
          "country": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "País"
          },
          "title": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Cargo"
          },
          "company": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Nombre de la empresa"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Pares clave-valor personalizados para datos adicionales del destinatario"
          }
        }
      },
      "Field": {
        "type": "object",
        "required": [
          "type",
          "position",
          "page_number"
        ],
        "description": "Definición de campo para solicitudes de firma. **Campos de solo lectura**: Establece read_only=true para prellenar un valor de campo que los firmantes no puedan editar. Usa read_only_value para texto estático, o prefilled_data para autocompletar a partir de los atributos del destinatario. **Fusión de campos basada en plantilla**: Al crear desde una plantilla con un array de fields, usa template_field_id (preferido) o variable_name (alternativa) para hacer coincidir los campos de la plantilla. Solo las propiedades proporcionadas sobrescriben los valores predeterminados de la plantilla (actualización parcial). Los campos sin coincidencia se ignoran.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único (inclúyelo para actualizaciones, omítelo para campos nuevos)"
          },
          "template_field_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID del campo de plantilla a hacer coincidir para actualizaciones parciales (solo en creación basada en plantilla). Úsalo para identificar qué campo de la plantilla sobrescribir. Tiene prioridad sobre variable_name para la coincidencia."
          },
          "type": {
            "type": "string",
            "enum": [
              "signature",
              "text",
              "date",
              "checkbox",
              "dropdown",
              "initial",
              "initials",
              "text_area",
              "textarea",
              "image",
              "stamp",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Tipo de campo. Acepta 'initial' o 'initials' (normalizado a 'initial'), 'textarea' o 'text_area' (normalizado a 'text_area')."
          },
          "position": {
            "type": "object",
            "required": [
              "x",
              "y",
              "width",
              "height"
            ],
            "description": "El campo debe caber dentro de los límites de la página: x + width <= 100 e y + height <= 100",
            "properties": {
              "x": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordenada X como porcentaje (0-100)"
              },
              "y": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordenada Y como porcentaje (0-100)"
              },
              "width": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Ancho como porcentaje (0-100). x + width debe ser <= 100"
              },
              "height": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Alto como porcentaje (0-100). y + height debe ser <= 100"
              }
            }
          },
          "page_number": {
            "type": "integer",
            "minimum": 1,
            "description": "Número de página donde se ubica el campo (indexado desde 1). No debe exceder el total de páginas del documento."
          },
          "required": {
            "type": "boolean",
            "default": false,
            "description": "Si el campo debe completarse"
          },
          "recipient_id": {
            "type": "string",
            "description": "ID del destinatario asignado a este campo. Usa un UUID real para creación o actualizaciones basadas en plantilla, o un ID temporal (por ejemplo, 'temp_1') para creación basada en documento, para referenciar destinatarios definidos en la misma solicitud."
          },
          "variable_name": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Nombre de variable para el campo (usado en plantillas). También se usa como alternativa para la coincidencia de campos en creación basada en plantilla cuando no se proporciona template_field_id."
          },
          "variable_defined_name": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Nombre de definición de campo personalizado, legible por humanos. Puede usarse como alternativa a variable_name para apuntar a campos en creación basada en plantilla."
          },
          "dropdown_options": {
            "description": "Opciones para campos desplegables",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object"
              }
            ]
          },
          "date_default": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Valor de fecha predeterminado"
          },
          "date_signing_default": {
            "type": "boolean",
            "default": false,
            "description": "Usar la fecha de firma como valor predeterminado"
          },
          "multi_group_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID de grupo para vincular varios campos de casilla de verificación o botón de opción entre sí. Los campos que comparten el mismo multi_group_id se comportan como un grupo mutuamente excluyente (como botones de opción) - seleccionar uno deselecciona automáticamente los demás del grupo. Usa el mismo UUID en varios campos para crear un grupo donde solo se pueda seleccionar una opción a la vez."
          },
          "format_rules": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/DateFormatRules"
              },
              {
                "$ref": "#/components/schemas/FileFormatRules"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ],
            "nullable": true,
            "description": "Reglas de formato para el valor del campo. Para campos de fecha, usa el esquema DateFormatRules con la propiedad dateFormat. Para campos de archivo, usa el esquema FileFormatRules con la propiedad acceptedFileTypes (image_and_pdf, image, o pdf). Para campos url, usa { urlDisplayText: string }. Los campos con texto (text, textarea, email, name, phone, company, title, number, dropdown, url, date) aceptan además una propiedad opcional fontSize (entero en px, 8-48, con límites) — consulta TextFormatRules."
          },
          "validation_rules": {
            "$ref": "#/components/schemas/FieldValidationRules"
          },
          "read_only": {
            "type": "boolean",
            "default": false,
            "description": "Indica si este campo es de solo lectura (prellenado antes de la firma). Cuando es true, el firmante no puede editar el valor del campo. Útil para mostrar los términos del contrato, información del destinatario u otros datos fijos."
          },
          "read_only_value": {
            "type": "string",
            "nullable": true,
            "description": "Valor estático para campos de solo lectura. Tiene prioridad sobre prefilled_data si se especifican ambos. Solo aplicable cuando read_only es true. Ejemplo: 'Contrato #12345' o 'Acme Corporation'."
          },
          "prefilled_data": {
            "type": "string",
            "nullable": true,
            "enum": [
              "first_name",
              "last_name",
              "full_name",
              "email",
              "phone_number",
              "company",
              "title",
              "street_address",
              "city",
              "state_province",
              "postal_code",
              "country"
            ],
            "description": "Atributo del usuario para autocompletar cuando read_only es true. El valor se obtiene de los datos del destinatario asignado en el momento de la firma. También puede hacer referencia a las claves de custom_fields definidas en el destinatario (no se limita a los valores del enum). Solo aplicable cuando read_only es true y read_only_value no está configurado. Ejemplo: configúralo como 'email' para mostrar la dirección de correo electrónico del destinatario."
          },
          "required_conditions": {
            "$ref": "#/components/schemas/ConditionSet",
            "nullable": true,
            "description": "Reglas condicionales para cuándo este campo es obligatorio. Cuando se configura, tiene prioridad sobre el indicador estático 'required'. El campo solo es obligatorio cuando las condiciones se evalúan como verdaderas según los valores de otros campos."
          },
          "visibility_conditions": {
            "$ref": "#/components/schemas/ConditionSet",
            "nullable": true,
            "description": "Reglas condicionales para cuándo este campo es visible. Cuando se configura, el campo permanece oculto a menos que las condiciones se evalúen como verdaderas. Los campos ocultos no se validan al enviar."
          },
          "background_color": {
            "type": "string",
            "nullable": true,
            "pattern": "^#([0-9A-Fa-f]{3}|[0-9A-Fa-f]{6})$",
            "description": "Color de fondo del campo como cadena de color hexadecimal (por ejemplo, '#FFFDE7', '#fff'). Útil para resaltar campos que necesitan atención.",
            "example": "#FFFDE7"
          }
        }
      },
      "AnchorTag": {
        "type": "object",
        "required": [
          "anchor_string",
          "type",
          "recipient_id"
        ],
        "description": "Definición de etiqueta de anclaje para la colocación automática de campos. Las etiquetas de anclaje son marcadores de texto incrustados en un documento PDF (por ejemplo, '{{SIGN_HERE}}') que se localizan automáticamente y se convierten en campos posicionados. El texto del anclaje se elimina del PDF después del procesamiento de forma predeterminada.",
        "properties": {
          "anchor_string": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Cadena de texto a buscar en el documento PDF. Los patrones comunes incluyen '{{SIGN_HERE}}', '{{DATE}}', etc.",
            "example": "{{SIGN_HERE}}"
          },
          "type": {
            "type": "string",
            "enum": [
              "signature",
              "initial",
              "initials",
              "text",
              "date",
              "checkbox",
              "radio_buttons",
              "radio",
              "dropdown",
              "textarea",
              "text_area",
              "url",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Tipo de campo a colocar en la ubicación del anclaje"
          },
          "recipient_id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "description": "ID del destinatario asignado a este campo. Usa un ID temporal (por ejemplo, 'temp_1') para la creación basada en documentos, o un número entero de orden para la basada en plantillas.",
            "example": "temp_1"
          },
          "x_offset": {
            "type": "number",
            "description": "Desplazamiento horizontal desde la posición del anclaje. Las unidades se determinan mediante offset_units (predeterminado: porcentaje del ancho de página).",
            "default": 0
          },
          "y_offset": {
            "type": "number",
            "description": "Desplazamiento vertical desde la posición del anclaje. Las unidades se determinan mediante offset_units (predeterminado: porcentaje del alto de página).",
            "default": 0
          },
          "offset_units": {
            "type": "string",
            "enum": [
              "percent",
              "pixels"
            ],
            "default": "percent",
            "description": "Tipo de unidad para x_offset y y_offset. 'percent' = porcentaje de las dimensiones de la página, 'pixels' = puntos PDF (72 DPI)."
          },
          "width": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Ancho del campo como porcentaje del ancho de página. Los valores predeterminados varían según el tipo de campo (por ejemplo, signature=25, text=20, checkbox=3)."
          },
          "height": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Alto del campo como porcentaje del alto de página. Los valores predeterminados varían según el tipo de campo (por ejemplo, signature=5, text=3, checkbox=3)."
          },
          "case_sensitive": {
            "type": "boolean",
            "default": false,
            "description": "Indica si la coincidencia de la cadena de anclaje distingue entre mayúsculas y minúsculas"
          },
          "match_whole_word": {
            "type": "boolean",
            "default": true,
            "description": "Indica si se deben coincidir solo palabras completas (delimitadas por caracteres que no son de palabra)"
          },
          "ignore_if_not_present": {
            "type": "boolean",
            "default": false,
            "description": "Si es true, omite este anclaje sin generar un error cuando no se encuentra en el documento. Si es false (predeterminado), un anclaje faltante provoca un error de validación."
          },
          "occurrence": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000,
            "default": 0,
            "description": "Qué ocurrencia usar para colocar un campo. 0 = todas las ocurrencias (predeterminado), 1 = solo la primera, 2 = solo la segunda, etc."
          },
          "remove_anchor_text": {
            "type": "boolean",
            "default": true,
[...]
