{
  "openapi": "3.0.3",
  "info": {
    "title": "API Partenaire Firma",
    "description": "API RESTful pour la signature de documents et la gestion de mod\u00e8les.\n\n**Authentification** : Tous les endpoints n\u00e9cessitent une authentification par cl\u00e9 API via l'en-t\u00eate `Authorization`. Utilisez votre cl\u00e9 API directement sans pr\u00e9fixe (par exemple, `your-api-key`). Le pr\u00e9fixe Bearer est optionnel mais pas obligatoire.\n\n**Fonctionnalit\u00e9s de s\u00e9curit\u00e9** :\n- Validation des entr\u00e9es avec des sch\u00e9mas Zod incluant des messages d'erreur d\u00e9taill\u00e9s au niveau des champs\n- Jetons JWT sign\u00e9s RSA-256 pour l'acc\u00e8s aux mod\u00e8les int\u00e9gr\u00e9s\n\n**Limitation de d\u00e9bit** : Les limites de d\u00e9bit sont hi\u00e9rarchis\u00e9es selon le type d'op\u00e9ration :\n- Op\u00e9rations de lecture (GET) : 200 requ\u00eates par minute\n- Op\u00e9rations d'\u00e9criture (POST/PUT/PATCH/DELETE) : 120 requ\u00eates par minute\n- Op\u00e9rations CRUD sur les webhooks : 60 requ\u00eates par minute\n- Test de webhook : 10 requ\u00eates par minute\n- R\u00e9g\u00e9n\u00e9ration/expiration de cl\u00e9 API : 1 requ\u00eate par minute\n- Rotation du secret de webhook : 1 requ\u00eate par minute\n\nLorsque les limites de d\u00e9bit sont d\u00e9pass\u00e9es, l'API renvoie une r\u00e9ponse `429 Too Many Requests` avec les en-t\u00eates suivants :\n- `X-RateLimit-Limit` : Nombre maximal de requ\u00eates par minute pour cet endpoint\n- `X-RateLimit-Remaining` : Requ\u00eates restantes dans la fen\u00eatre actuelle\n- `X-RateLimit-Reset` : Horodatage Unix de la r\u00e9initialisation de la limite\n- `Retry-After` : Secondes \u00e0 attendre avant de pouvoir r\u00e9essayer\n\n**Gestion des erreurs** : Toutes les erreurs renvoient des r\u00e9ponses JSON structur\u00e9es avec `error` (message lisible par un humain), `code` (identifiant lisible par une machine) et `details` (erreurs de validation au niveau des champs, le cas \u00e9ch\u00e9ant).\n\n**Int\u00e9gration de l'\u00c9diteur de Mod\u00e8les int\u00e9gr\u00e9** : L'\u00c9diteur de Mod\u00e8les Firma peut \u00eatre int\u00e9gr\u00e9 dans votre application \u00e0 l'aide d'une biblioth\u00e8que JavaScript autonome.\n\n```html\n<!-- Charger la biblioth\u00e8que de l'\u00c9diteur de Mod\u00e8les Firma -->\n<script src=\"https://api.firma.dev/functions/v1/embed-proxy/template-editor.js\"></script>\n\n<script>\n// G\u00e9n\u00e9rer d'abord un jeton JWT via l'API\nfetch('https://api.firma.dev/functions/v1/signing-request-api/generate-template-token', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'YOUR_API_KEY',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    companies_workspaces_templates_id: 'template-id'\n  })\n})\n.then(res => res.json())\n.then(data => {\n  // Initialiser l'\u00e9diteur avec le jeton JWT\n  window.FirmaTemplateEditor.init({\n    container: '#firma-editor-container',\n    jwt: data.token,\n    templateId: 'template-id',\n    theme: 'dark',\n    readOnly: false,\n    onSave: (savedData) => {\n      console.log('Template saved:', savedData);\n    },\n    onError: (error) => {\n      console.error('Editor error:', error);\n    },\n    onLoad: (template) => {\n      console.log('Template loaded:', template);\n    }\n  });\n});\n</script>\n```",
    "version": "01.35.00",
    "contact": {
      "name": "API Support",
      "url": "https://firma.com/support"
    }
  },
  "servers": [
    {
      "url": "https://api.firma.dev/functions/v1/signing-request-api",
      "description": "API de Production - Recommand\u00e9e (Actuelle)"
    },
    {
      "url": "https://api.firma.dev/api/v1",
      "description": "API de Production - Pr\u00e9vue"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Company",
      "description": "Informations et param\u00e8tres de l'entreprise"
    },
    {
      "name": "Workspaces",
      "description": "Op\u00e9rations de gestion des Espaces de Travail"
    },
    {
      "name": "Templates",
      "description": "Op\u00e9rations de gestion des Mod\u00e8les"
    },
    {
      "name": "Signing Requests",
      "description": "Op\u00e9rations de Demande de Signature de documents"
    },
    {
      "name": "Custom Fields",
      "description": "Gestion des d\u00e9finitions de champs personnalis\u00e9s pour les espaces de travail, mod\u00e8les et demandes de signature"
    },
    {
      "name": "Webhooks",
      "description": "Configuration et gestion des webhooks"
    },
    {
      "name": "JWT Management",
      "description": "G\u00e9n\u00e9ration et r\u00e9vocation de jetons JWT pour les mod\u00e8les int\u00e9gr\u00e9s"
    },
    {
      "name": "Workspace Settings",
      "description": "Configuration et param\u00e8tres de l'espace de travail"
    },
    {
      "name": "Email Domains",
      "description": "Configuration et v\u00e9rification de domaine e-mail pour l'envoi d'e-mails de demande de signature depuis des domaines personnalis\u00e9s"
    },
    {
      "name": "Email Templates",
      "description": "Gestion des mod\u00e8les d'e-mail pour la personnalisation des notifications de demande de signature au niveau de l'espace de travail et de l'entreprise"
    },
    {
      "name": "Signer Terms",
      "description": "Conditions d'utilisation / d\u00e9clarations de consentement personnalis\u00e9es pour le signataire, au niveau de l'entreprise avec des surcharges par espace de travail et par langue"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Cl\u00e9 API pour l'authentification. Utilisez votre cl\u00e9 API directement sans pr\u00e9fixe (par exemple, 'your-api-key'). Le pr\u00e9fixe Bearer est optionnel mais pas obligatoire."
      }
    },
    "responses": {
      "ValidationError": {
        "description": "Requ\u00eate Incorrecte - \u00c9chec de la validation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Validation Error",
              "message": "Invalid input data",
              "details": {
                "name": "Name is required",
                "email": "Invalid email format"
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "Non Autoris\u00e9 - Cl\u00e9 API invalide ou manquante",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Unauthorized",
              "message": "Invalid API key"
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "Interdit - Permissions insuffisantes",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Forbidden",
              "message": "You do not have permission to access this resource"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Non Trouv\u00e9 - La ressource n'existe pas",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Not Found",
              "message": "The requested resource was not found"
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Trop de requ\u00eates - Limite de d\u00e9bit d\u00e9pass\u00e9e",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Nombre maximum de requ\u00eates par minute"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "Requ\u00eates restantes"
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "integer"
            },
            "description": "Timestamp Unix de la r\u00e9initialisation"
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Secondes avant de pouvoir r\u00e9essayer"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Rate Limit Exceeded",
              "message": "Too many requests. Please wait before retrying.",
              "details": {
                "retry_after": 45
              }
            }
          }
        }
      }
    },
    "requestBodies": {
      "PatchSigningRequestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PatchSigningRequestBodySchema"
            },
            "examples": {
              "update-properties": {
                "summary": "Mettre \u00e0 jour les propri\u00e9t\u00e9s",
                "value": {
                  "name": "Updated Contract Name",
                  "expiration_hours": 72
                }
              },
              "update-recipient": {
                "summary": "Mettre \u00e0 jour un seul destinataire",
                "value": {
                  "recipient": {
                    "id": "rec123-e89b-12d3-a456-426614174000",
                    "first_name": "John",
                    "last_name": "Smith",
                    "email": "john.smith@example.com",
                    "designation": "Signer",
                    "order": 1
                  }
                }
              },
              "add-recipient": {
                "summary": "Ajouter un nouveau destinataire",
                "value": {
                  "recipient": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "email": "jane@example.com",
                    "designation": "Signer",
                    "order": 2
                  }
                }
              },
              "add-date-field": {
                "summary": "Ajouter un champ date avec formatage",
                "value": {
                  "field": {
                    "type": "date",
                    "position": {
                      "x": 70,
                      "y": 45,
                      "width": 15,
                      "height": 3
                    },
                    "page_number": 1,
                    "required": true,
                    "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                    "date_signing_default": true,
                    "format_rules": {
                      "dateFormat": "MMMM dd, yyyy"
                    }
                  }
                }
              },
              "add-read-only-static-field": {
                "summary": "Ajouter un champ en lecture seule avec valeur statique",
                "description": "Cr\u00e9e un champ texte qui affiche une valeur fixe que le signataire ne peut pas modifier",
                "value": {
                  "field": {
                    "type": "text",
                    "position": {
                      "x": 15,
                      "y": 20,
                      "width": 40,
                      "height": 3
                    },
                    "page_number": 1,
                    "required": false,
                    "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                    "read_only": true,
                    "read_only_value": "Contract #12345 - Acme Corporation"
                  }
                }
              },
              "add-read-only-prefilled-field": {
                "summary": "Ajouter un champ en lecture seule avec les donn\u00e9es du destinataire",
                "description": "Cr\u00e9e un champ texte qui se remplit automatiquement avec l'adresse e-mail du destinataire (le signataire ne peut pas le modifier)",
                "value": {
                  "field": {
                    "type": "text",
                    "position": {
                      "x": 15,
                      "y": 30,
                      "width": 30,
                      "height": 3
                    },
                    "page_number": 1,
                    "required": false,
                    "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                    "read_only": true,
                    "prefilled_data": "email"
                  }
                }
              }
            }
          }
        }
      },
      "UpdateSigningRequestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateSigningRequestBodySchema"
            },
            "examples": {
              "comprehensive-update": {
                "summary": "Mise \u00e0 jour compl\u00e8te avec toutes les sections",
                "value": {
                  "signing_request_properties": {
                    "name": "Updated Contract Name",
                    "expiration_hours": 72
                  },
                  "recipients": [
                    {
                      "id": "rec1-e89b-12d3-a456-426614174000",
                      "first_name": "John",
                      "last_name": "Smith",
                      "email": "john.smith@example.com",
                      "designation": "Signer",
                      "order": 1
                    },
                    {
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "email": "jane@example.com",
                      "designation": "Signer",
                      "order": 2
                    }
                  ],
                  "deleted_recipients": [
                    {
                      "recipient_id": "rec2-e89b-12d3-a456-426614174000",
                      "field_action": "reassign",
                      "reassign_to_recipient_id": "rec1-e89b-12d3-a456-426614174000"
                    }
                  ],
                  "fields": [
                    {
                      "id": "field1-e89b-12d3-a456-426614174000",
                      "type": "signature",
                      "position": {
                        "x": 15,
                        "y": 85,
                        "width": 30,
                        "height": 10
                      },
                      "page_number": 1,
                      "required": true,
                      "recipient_id": "rec1-e89b-12d3-a456-426614174000"
                    }
                  ],
                  "reminders": [
                    {
                      "hours": 48,
                      "all_users": true,
                      "subject": "Reminder: Please sign the document",
                      "message": "This is a reminder to complete your signature."
                    }
                  ]
                }
              },
              "update-with-temp-ids": {
                "summary": "Mise \u00e0 jour avec de nouveaux destinataires via des ID temporaires",
                "description": "Mise \u00e0 jour compl\u00e8te ajoutant de nouveaux destinataires avec des ID temporaires en plus des destinataires existants",
                "value": {
                  "signing_request_properties": {
                    "name": "Updated NDA Agreement"
                  },
                  "recipients": [
                    {
                      "id": "existing-recipient-uuid",
                      "email": "updated@example.com"
                    },
                    {
                      "_temp_id": "temp_new_signer",
                      "first_name": "New",
                      "last_name": "Signer",
                      "email": "newsigner@example.com",
                      "designation": "Signer",
                      "order": 2
                    }
                  ],
                  "fields": [
                    {
                      "id": "existing-field-uuid",
                      "position": {
                        "x": 10,
                        "y": 70,
                        "width": 30,
                        "height": 10
                      }
                    },
                    {
                      "recipient_id": "temp_new_signer",
                      "type": "signature",
                      "page_number": 1,
                      "position": {
                        "x": 10,
                        "y": 55,
                        "width": 30,
                        "height": 10
                      },
                      "required": true
                    }
                  ],
                  "reminders": [
                    {
                      "recipient_id": "temp_new_signer",
                      "hours": 24,
                      "all_users": false,
                      "subject": "Reminder: Sign Document",
                      "message": "Please sign the updated NDA."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de l'entreprise"
          },
          "name": {
            "type": "string",
            "description": "Nom de l'entreprise",
            "maxLength": 255
          },
          "language": {
            "type": "string",
            "description": "Langue par d\u00e9faut de l'entreprise",
            "enum": [
              "en",
              "es",
              "it",
              "pt",
              "fr",
              "de",
              "el",
              "ru",
              "pl",
              "cs",
              "sv",
              "nl",
              "ro",
              "nb"
            ],
            "default": "en"
          },
          "account_owner": {
            "type": "string",
            "description": "Nom du propri\u00e9taire du compte",
            "maxLength": 255
          },
          "account_owner_email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail du propri\u00e9taire du compte"
          },
          "website": {
            "type": "string",
            "format": "uri",
            "description": "URL du site web de l'entreprise",
            "nullable": true
          },
          "icon_url": {
            "type": "string",
            "format": "uri",
            "description": "URL publiquement accessible vers le logo de l'entreprise. Retourne null si aucun logo n'est d\u00e9fini.",
            "nullable": true,
            "example": "https://ielmshcswdhuacyjlpiy.supabase.co/functions/v1/logo/company/3feb35a8-5aaf-4603-8b50-acd807176b38"
          },
          "credits": {
            "type": "integer",
            "description": "Cr\u00e9dits disponibles pour l'entreprise (lecture seule, g\u00e9r\u00e9 en interne)",
            "minimum": 0,
            "readOnly": true
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de cr\u00e9ation du compte entreprise"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de derni\u00e8re mise \u00e0 jour du compte entreprise"
          }
        },
        "required": [
          "id",
          "name",
          "account_owner",
          "account_owner_email",
          "created_date"
        ]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de l'espace de travail"
          },
          "name": {
            "type": "string",
            "description": "Nom de l'espace de travail",
            "maxLength": 255
          },
          "protected": {
            "type": "boolean",
            "description": "Les espaces de travail prot\u00e9g\u00e9s ne peuvent pas \u00eatre supprim\u00e9s"
          },
          "api_key": {
            "type": "string",
            "description": "Cl\u00e9 API en mode production pour cet espace de travail. Utilis\u00e9e pour authentifier les requ\u00eates API propres \u00e0 cet espace de travail.",
            "nullable": true
          },
          "test_api_key": {
            "type": "string",
            "description": "Cl\u00e9 API en mode test pour cet espace de travail. Les requ\u00eates authentifi\u00e9es avec cette cl\u00e9 ne consomment pas de cr\u00e9dits et produisent des demandes de signature marqu\u00e9es test et filigran\u00e9es.",
            "nullable": true
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de cr\u00e9ation de l'espace de travail"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de derni\u00e8re mise \u00e0 jour de l'espace de travail"
          },
          "webhook_enabled": {
            "type": "boolean",
            "description": "Indique si les webhooks au niveau de l'espace de travail sont activ\u00e9s"
          },
          "webhook_secret": {
            "type": "string",
            "description": "Secret de signature webhook pour cet espace de travail",
            "nullable": true
          },
          "webhook_secret_rotated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de la derni\u00e8re rotation du secret webhook",
            "nullable": true
          },
          "webhook_secret_created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de la premi\u00e8re cr\u00e9ation du secret webhook",
            "nullable": true
          },
          "ignore_company_webhooks": {
            "type": "boolean",
            "description": "Si true, les webhooks au niveau de l'entreprise ne se d\u00e9clenchent pas pour les \u00e9v\u00e9nements de cet espace de travail"
          },
          "icon_url": {
            "type": "string",
            "format": "uri",
            "description": "URL publiquement accessible vers le logo de l'espace de travail. Retourne le logo propre \u00e0 l'espace de travail, ou null s'il n'est pas d\u00e9fini (le logo de l'entreprise n'est PAS inclus comme solution de repli dans ce champ).",
            "nullable": true,
            "example": "https://ielmshcswdhuacyjlpiy.supabase.co/functions/v1/logo/workspace/company-id/workspace-id"
          }
        },
        "required": [
          "id",
          "name",
          "created_date"
        ]
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du mod\u00e8le"
          },
          "name": {
            "type": "string",
            "description": "Nom du mod\u00e8le",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "description": "Description du mod\u00e8le",
            "nullable": true
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL pr\u00e9-sign\u00e9e vers le document PDF. Il s'agit d'une URL sign\u00e9e \u00e0 dur\u00e9e limit\u00e9e pour un acc\u00e8s s\u00e9curis\u00e9, voir document_url_expires_at pour la date d'expiration. Les URL initiales sont valables 7 jours ; les URL rafra\u00eechies sont valables 1 heure. Demandez une nouvelle r\u00e9cup\u00e9ration du mod\u00e8le pour obtenir une URL fra\u00eeche si elle a expir\u00e9."
          },
          "document_url_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp ISO 8601 auquel document_url expirera. Apr\u00e8s cette heure, l'URL retournera une erreur d'acc\u00e8s refus\u00e9. R\u00e9cup\u00e9rez \u00e0 nouveau le mod\u00e8le pour recevoir une nouvelle URL sign\u00e9e."
          },
          "page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Nombre de pages dans le document"
          },
          "expiration_hours": {
            "type": "integer",
            "minimum": 1,
            "default": 168,
            "description": "Nombre d'heures avant l'expiration des demandes de signature cr\u00e9\u00e9es \u00e0 partir de ce mod\u00e8le"
          },
          "credit_cost": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Nombre de cr\u00e9dits consomm\u00e9s lorsqu'une demande de signature est envoy\u00e9e \u00e0 partir de ce mod\u00e8le. La valeur minimale est 1."
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateUser"
            },
            "description": "Destinataires du mod\u00e8le (inclus dans la r\u00e9cup\u00e9ration d'un seul mod\u00e8le)"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateField"
            },
            "description": "Champs du mod\u00e8le (inclus dans la r\u00e9cup\u00e9ration d'un seul mod\u00e8le)"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de cr\u00e9ation du mod\u00e8le"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de derni\u00e8re mise \u00e0 jour du mod\u00e8le"
          }
        },
        "required": [
          "id",
          "name",
          "created_date"
        ]
      },
      "TemplateUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de l'utilisateur du mod\u00e8le"
          },
          "name": {
            "type": "string",
            "description": "Nom du destinataire (pr\u00e9nom et nom combin\u00e9s)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail du destinataire"
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "Pr\u00e9nom du destinataire"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de famille du destinataire"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "R\u00f4le du destinataire. Signer signe le document, Approver approuve avec des champs d'approbation, CC re\u00e7oit une copie une fois termin\u00e9."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Ordre dans lequel le destinataire doit signer"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "Num\u00e9ro de t\u00e9l\u00e9phone du destinataire"
          },
          "street_address": {
            "type": "string",
            "nullable": true,
            "description": "Adresse postale du destinataire"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Ville du destinataire"
          },
          "state_province": {
            "type": "string",
            "nullable": true,
            "description": "\u00c9tat ou province du destinataire"
          },
          "postal_code": {
            "type": "string",
            "nullable": true,
            "description": "Code postal du destinataire"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "Pays du destinataire"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Intitul\u00e9 de poste du destinataire"
          },
          "company": {
            "type": "string",
            "nullable": true,
            "description": "Nom de l'entreprise du destinataire"
          },
          "required_fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Liste des champs de donn\u00e9es du destinataire requis pour l'envoi (bas\u00e9e sur les champs du mod\u00e8le avec des correspondances variable_name). Inclut toujours 'email' et 'first_name'."
          },
          "missing_fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Liste des champs requis actuellement vides pour ce destinataire"
          },
          "required_read_only_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "variable_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Nom de variable du champ en lecture seule"
                },
                "variable_defined_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Nom de champ lisible par un humain provenant de la d\u00e9finition du champ personnalis\u00e9 (par exemple 'artist_name'). Pr\u00e9sent uniquement pour les champs li\u00e9s \u00e0 une d\u00e9finition de champ personnalis\u00e9, sinon null."
                },
                "field_type": {
                  "type": "string",
                  "description": "Type du champ (text, date, etc.)"
                }
              }
            },
            "description": "Liste des champs en lecture seule obligatoires qui n\u00e9cessitent des valeurs pr\u00e9remplies avant l'envoi"
          },
          "ready_to_send": {
            "type": "boolean",
            "description": "Indique si ce destinataire a toutes les donn\u00e9es obligatoires renseign\u00e9es pour l'envoi"
          }
        },
        "required": [
          "id",
          "first_name",
          "email",
          "designation",
          "order"
        ]
      },
      "DateFormatRules": {
        "type": "object",
        "description": "R\u00e8gles de formatage pour les champs de date. Sp\u00e9cifie comment les valeurs de date doivent \u00eatre affich\u00e9es et format\u00e9es.",
        "properties": {
          "dateFormat": {
            "type": "string",
            "description": "Mod\u00e8le de format de date. Utilisez des formats pr\u00e9d\u00e9finis ou des mod\u00e8les personnalis\u00e9s avec : yyyy (ann\u00e9e sur 4 chiffres), MM (mois sur 2 chiffres), dd (jour sur 2 chiffres), MMMM (nom complet du mois), MMM (nom abr\u00e9g\u00e9 du mois), HH (heure sur 24h), mm (minute), ss (seconde). Exemples : 'MM/dd/yyyy' s'affiche comme 01/31/2024, 'MMMM dd, yyyy' s'affiche comme January 31, 2024.",
            "enum": [
              "MM/dd/yyyy",
              "dd/MM/yyyy",
              "yyyy-MM-dd",
              "MMMM dd, yyyy",
              "MMM dd, yyyy",
              "dd MMMM yyyy"
            ],
            "default": "MM/dd/yyyy"
          },
          "fontSize": {
            "type": "integer",
            "minimum": 8,
            "maximum": 48,
            "description": "Taille de police initiale/maximale facultative en pixels pour la valeur du champ affich\u00e9e. Le texte se r\u00e9duit automatiquement pour tenir dans le cadre du champ. Omettez-la pour un dimensionnement automatique. Les valeurs hors de la plage 8-48 sont ramen\u00e9es \u00e0 cette plage."
          }
        },
        "example": {
          "dateFormat": "MMMM dd, yyyy"
        }
      },
      "TextFormatRules": {
        "type": "object",
        "description": "R\u00e8gles de formatage pour les champs textuels (text, textarea, email, name, phone, company, title, number, dropdown, url).",
        "properties": {
          "fontSize": {
            "type": "integer",
            "minimum": 8,
            "maximum": 48,
            "description": "Taille de police initiale/maximale facultative en pixels pour la valeur du champ affich\u00e9e, appliqu\u00e9e dans la vue de signature et dans le PDF scell\u00e9. Le texte se r\u00e9duit automatiquement pour tenir dans le cadre du champ ; la taille explicite est donc un plafond, pas une garantie. Omettez-la pour un dimensionnement automatique (base par d\u00e9faut de 14 px). Les valeurs hors de la plage 8-48 sont ramen\u00e9es \u00e0 cette plage ; les valeurs non num\u00e9riques sont ignor\u00e9es. Non applicable aux champs signature, initials, checkbox, radio, file et stamp."
          }
        },
        "example": {
          "fontSize": 12
        }
      },
      "FileFormatRules": {
        "type": "object",
        "description": "R\u00e8gles de formatage pour les champs de t\u00e9l\u00e9versement de fichier. Sp\u00e9cifie quels types de fichiers les signataires sont autoris\u00e9s \u00e0 t\u00e9l\u00e9verser.",
        "properties": {
          "acceptedFileTypes": {
            "type": "string",
            "enum": [
              "image_and_pdf",
              "image",
              "pdf"
            ],
            "default": "image_and_pdf",
            "description": "Types de fichiers accept\u00e9s pour le t\u00e9l\u00e9versement. 'image_and_pdf' accepte les JPG, PNG et PDF. 'image' accepte uniquement les JPG et PNG. 'pdf' accepte uniquement les PDF. Les fichiers sont valid\u00e9s par leurs magic bytes, pas seulement par l'extension. La taille maximale du fichier est de 10 Mo."
          }
        },
        "example": {
          "acceptedFileTypes": "image_and_pdf"
        }
      },
      "FieldValidationRules": {
        "type": "object",
        "nullable": true,
        "description": "R\u00e8gles de validation pour les valeurs des champs. R\u00e9serv\u00e9 pour un usage futur, actuellement non appliqu\u00e9 pour aucun type de champ.",
        "additionalProperties": true
      },
      "TemplateField": {
        "type": "object",
        "description": "Un champ plac\u00e9 sur un document mod\u00e8le",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du champ"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "signature",
              "date",
              "checkbox",
              "dropdown",
              "radio_buttons",
              "number",
              "text_area",
              "file",
              "initial",
              "stamp",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Type du champ"
          },
          "required": {
            "type": "boolean",
            "description": "Indique si le champ est obligatoire"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID du destinataire assign\u00e9"
          },
          "variable_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de variable pour le champ (utilis\u00e9 dans les mod\u00e8les)"
          },
          "variable_defined_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de champ lisible par un humain provenant de la d\u00e9finition du champ personnalis\u00e9 (par exemple 'artist_name'). Pr\u00e9sent uniquement pour les champs li\u00e9s \u00e0 une d\u00e9finition de champ personnalis\u00e9, sinon null."
          },
          "position": {
            "type": "object",
            "description": "Position et dimensions du champ sur le document. Toutes les valeurs sont des pourcentages (0-100). Le champ doit tenir dans la page : x + width <= 100 et y + height <= 100.",
            "properties": {
              "x": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordonn\u00e9e X de la position du champ (pourcentage, 0-100)"
              },
              "y": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordonn\u00e9e Y de la position du champ (pourcentage, 0-100)"
              },
              "width": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Largeur du champ (pourcentage, 0-100). Remarque : x + width doit \u00eatre <= 100"
              },
              "height": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Hauteur du champ (pourcentage, 0-100). Remarque : y + height doit \u00eatre <= 100"
              }
            }
          },
          "page_number": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "Num\u00e9ro de la page o\u00f9 se trouve le champ (index\u00e9 \u00e0 partir de 1). Ne doit pas d\u00e9passer le nombre total de pages du document."
          },
          "dropdown_options": {
            "nullable": true,
            "description": "Options pour les champs de type menu d\u00e9roulant",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object"
              }
            ]
          },
          "multi_group_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID de groupe pour lier plusieurs champs de case \u00e0 cocher ou de bouton radio ensemble. Les champs partageant le m\u00eame multi_group_id se comportent comme un groupe mutuellement exclusif (comme des boutons radio) : en s\u00e9lectionner un d\u00e9s\u00e9lectionne automatiquement les autres du groupe. Utilisez le m\u00eame UUID sur plusieurs champs pour cr\u00e9er un groupe o\u00f9 une seule option peut \u00eatre s\u00e9lectionn\u00e9e \u00e0 la fois."
          },
          "date_default": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Valeur de date par d\u00e9faut pour les champs de date (format ISO 8601, par exemple '2024-01-15')"
          },
          "date_signing_default": {
            "type": "boolean",
            "description": "Utiliser la date de signature comme valeur par d\u00e9faut pour les champs de date"
          },
          "format_rules": {
            "$ref": "#/components/schemas/DateFormatRules",
            "nullable": true,
            "description": "R\u00e8gles de formatage, actuellement utilis\u00e9es pour les champs de date afin de sp\u00e9cifier le format d'affichage"
          },
          "validation_rules": {
            "$ref": "#/components/schemas/FieldValidationRules"
          },
          "read_only": {
            "type": "boolean",
            "default": false,
            "description": "Indique si ce champ est en lecture seule (pr\u00e9rempli avant la signature)"
          },
          "read_only_value": {
            "type": "string",
            "nullable": true,
            "description": "Valeur statique pour les champs en lecture seule"
          }
        },
        "required": [
          "id",
          "type",
          "page_number"
        ]
      },
      "Reminder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du rappel"
          },
          "hours": {
            "type": "integer",
            "minimum": 1,
            "description": "Nombre d'heures apr\u00e8s l'envoi avant l'envoi du rappel"
          },
          "subject": {
            "type": "string",
            "description": "Objet de l'email pour le rappel",
            "maxLength": 255
          },
          "message": {
            "type": "string",
            "description": "Corps du message de l'email pour le rappel",
            "maxLength": 5000
          },
          "all_users": {
            "type": "boolean",
            "description": "Indique si le rappel s'applique \u00e0 tous les utilisateurs"
          },
          "template_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Utilisateur sp\u00e9cifique auquel envoyer le rappel (utilis\u00e9 dans le contexte d'un mod\u00e8le)"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Destinataire sp\u00e9cifique auquel envoyer le rappel (utilis\u00e9 dans le contexte d'une demande de signature, identique \u00e0 template_user_id)"
          },
          "sent_on": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Horodatage du moment o\u00f9 le rappel a r\u00e9ellement \u00e9t\u00e9 envoy\u00e9"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de cr\u00e9ation du rappel"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de derni\u00e8re mise \u00e0 jour du rappel"
          }
        },
        "required": [
          "id",
          "hours",
          "subject",
          "message"
        ]
      },
      "SigningRequestListItem": {
        "type": "object",
        "description": "Demande de signature telle que renvoy\u00e9e par l'endpoint LIST (GET /signing-requests)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de la demande de signature"
          },
          "name": {
            "type": "string",
            "description": "Nom de la demande de signature",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description de la demande de signature"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_sent",
              "in_progress",
              "finished",
              "cancelled",
              "declined",
              "deleted",
              "expired"
            ],
            "description": "Statut actuel de la demande de signature"
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL pr\u00e9-sign\u00e9e vers le document PDF. C'est une URL sign\u00e9e \u00e0 dur\u00e9e limit\u00e9e pour un acc\u00e8s s\u00e9curis\u00e9 - voir document_url_expires_at pour l'heure d'expiration. Les URL initiales sont valides 7 jours ; les URL rafra\u00eechies sont valides 1 heure. Demande une nouvelle r\u00e9cup\u00e9ration de la demande de signature pour obtenir une URL fra\u00eeche si elle a expir\u00e9."
          },
          "document_url_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Horodatage ISO 8601 de l'expiration de document_url. Apr\u00e8s cette heure, l'URL renverra une erreur d'acc\u00e8s refus\u00e9. R\u00e9cup\u00e8re \u00e0 nouveau la demande de signature pour recevoir une nouvelle URL sign\u00e9e."
          },
          "page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Nombre de pages dans le document"
          },
          "expiration_hours": {
            "type": "integer",
            "minimum": 1,
            "default": 168,
            "description": "Nombre d'heures avant l'expiration de la demande de signature (par d\u00e9faut : 168 = 7 jours)"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Horodatage ISO 8601 de l'expiration de la demande de signature. Calcul\u00e9 \u00e0 partir de sent_date + expiration_hours. Null si la demande de signature n'a pas encore \u00e9t\u00e9 envoy\u00e9e ou n'a pas de expiration_hours d\u00e9fini."
          },
          "credit_cost": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Nombre de cr\u00e9dits consomm\u00e9s lors de l'envoi de cette demande de signature. La valeur minimale est 1."
          },
          "template_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID du mod\u00e8le si cr\u00e9\u00e9 \u00e0 partir d'un mod\u00e8le"
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de cr\u00e9ation"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de derni\u00e8re mise \u00e0 jour"
          },
          "sent_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date d'envoi de la demande de signature"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date \u00e0 laquelle toutes les signatures ont \u00e9t\u00e9 compl\u00e9t\u00e9es"
          },
          "cancelled_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date d'annulation de la demande de signature"
          },
          "declined_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date de refus de la demande de signature"
          },
          "recipients": {
            "type": "array",
            "description": "Destinataires de la demande de signature (format simplifi\u00e9)",
            "items": {
              "$ref": "#/components/schemas/SigningRequestListRecipient"
            }
          },
          "fields": {
            "type": "array",
            "description": "Champs de la demande de signature avec un objet position imbriqu\u00e9",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "text",
                    "signature",
                    "date",
                    "checkbox",
                    "dropdown",
                    "radio_buttons",
                    "number",
                    "text_area",
                    "file",
                    "initial",
                    "stamp",
                    "approval_signature",
                    "approval_checkmark",
                    "approval_date"
                  ]
                },
                "required": {
                  "type": "boolean"
                },
                "recipient_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true
                },
                "variable_name": {
                  "type": "string",
                  "nullable": true
                },
                "variable_defined_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Nom de champ lisible provenant de la d\u00e9finition du champ personnalis\u00e9 (par ex. 'artist_name'). Pr\u00e9sent uniquement pour les champs li\u00e9s \u00e0 une d\u00e9finition de champ personnalis\u00e9, null sinon."
                },
                "position": {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "number"
                    },
                    "y": {
                      "type": "number"
                    },
                    "width": {
                      "type": "number"
                    },
                    "height": {
                      "type": "number"
                    }
                  }
                },
                "value": {
                  "type": "string",
                  "nullable": true,
                  "description": "Valeur finale du champ apr\u00e8s la signature"
                },
                "dropdown_options": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "format_rules": {
                  "$ref": "#/components/schemas/DateFormatRules",
                  "nullable": true
                },
                "validation_rules": {
                  "$ref": "#/components/schemas/FieldValidationRules"
                }
              }
            }
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "created_date"
        ]
      },
      "SigningRequestListRecipient": {
        "type": "object",
        "description": "Destinataire tel que renvoy\u00e9 dans les r\u00e9ponses LIST des demandes de signature (format simplifi\u00e9)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du destinataire"
          },
          "name": {
            "type": "string",
            "description": "Nom complet combin\u00e9"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail du destinataire"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "R\u00f4le du destinataire. Signer signe le document, Approver approuve avec des champs d'approbation, CC re\u00e7oit une copie une fois termin\u00e9."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Ordre de signature"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date \u00e0 laquelle ce destinataire a termin\u00e9 de signer"
          },
          "signature_details": {
            "type": "object",
            "nullable": true,
            "description": "D\u00e9tails sur la signature du destinataire"
          }
        }
      },
      "SigningRequestCreateResponse": {
        "type": "object",
        "description": "Demande de signature telle que renvoy\u00e9e par les endpoints CREATE (POST /signing-requests)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de la demande de signature"
          },
          "name": {
            "type": "string",
            "description": "Nom de la demande de signature",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description de la demande de signature"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft"
            ],
            "description": "Le statut est toujours 'draft' pour les demandes de signature nouvellement cr\u00e9\u00e9es"
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL pr\u00e9-sign\u00e9e vers le document PDF"
          },
          "page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Nombre de pages dans le document"
          },
          "expiration_hours": {
            "type": "integer",
            "minimum": 1,
            "default": 168,
            "description": "Nombre d'heures avant l'expiration de la demande de signature (par d\u00e9faut : 168 = 7 jours)"
          },
          "template_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID du mod\u00e8le si cr\u00e9\u00e9 \u00e0 partir d'un mod\u00e8le"
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de cr\u00e9ation"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de derni\u00e8re mise \u00e0 jour"
          },
          "sent_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date d'envoi de la demande de signature"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date \u00e0 laquelle toutes les signatures ont \u00e9t\u00e9 compl\u00e9t\u00e9es"
          },
          "cancelled_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date d'annulation de la demande de signature"
          },
          "recipients": {
            "type": "array",
            "description": "Destinataires de la demande de signature",
            "items": {
              "$ref": "#/components/schemas/SigningRequestCreateRecipient"
            }
          },
          "fields": {
            "type": "array",
            "description": "Champs de la demande de signature avec des valeurs de position \u00e0 plat",
            "items": {
              "$ref": "#/components/schemas/SigningRequestCreateField"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Avertissements optionnels de validation du format des e-mails. Pr\u00e9sents uniquement lorsque les e-mails des destinataires ont des formats inhabituels."
          }
        },
        "required": [
          "id",
          "name",
          "status"
        ]
      },
      "SigningRequestCreateRecipient": {
        "type": "object",
        "description": "Destinataire tel que renvoy\u00e9 dans les r\u00e9ponses CREATE des demandes de signature",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du destinataire"
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "Pr\u00e9nom du destinataire"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de famille du destinataire"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Nom complet combin\u00e9 (construit automatiquement \u00e0 partir de first_name + last_name)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail du destinataire"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "R\u00f4le du destinataire. Signer signe le document, Approver approuve avec des champs d'approbation, CC re\u00e7oit une copie une fois termin\u00e9."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Ordre de signature"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "Num\u00e9ro de t\u00e9l\u00e9phone du destinataire"
          },
          "street_address": {
            "type": "string",
            "nullable": true,
            "description": "Adresse postale"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Ville"
          },
          "state_province": {
            "type": "string",
            "nullable": true,
            "description": "\u00c9tat ou province"
          },
          "postal_code": {
            "type": "string",
            "nullable": true,
            "description": "Code postal"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "Pays"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Intitul\u00e9 du poste"
          },
          "company": {
            "type": "string",
            "nullable": true,
            "description": "Nom de l'entreprise"
          },
          "custom_fields": {
            "type": "object",
            "nullable": true,
            "description": "Paires cl\u00e9-valeur personnalis\u00e9es"
          },
          "finished_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date \u00e0 laquelle ce destinataire a termin\u00e9 de signer"
          }
        },
        "required": [
          "first_name",
          "email",
          "designation"
        ]
      },
      "SigningRequestCreateField": {
        "type": "object",
        "description": "Champ tel que renvoy\u00e9 dans les r\u00e9ponses CREATE des demandes de signature (position \u00e0 plat, style base de donn\u00e9es)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du champ"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "signature",
              "date",
              "checkbox",
              "dropdown",
              "radio_buttons",
              "number",
              "text_area",
              "file",
              "initial",
              "stamp",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Type du champ"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID du destinataire assign\u00e9"
          },
          "page_number": {
            "type": "integer",
            "minimum": 1,
            "description": "Num\u00e9ro de page (index\u00e9 \u00e0 partir de 1)"
          },
          "x_position": {
            "type": "number",
            "description": "Coordonn\u00e9e X en pourcentage (0-100)"
          },
          "y_position": {
            "type": "number",
            "description": "Coordonn\u00e9e Y en pourcentage (0-100)"
          },
          "width": {
            "type": "number",
            "description": "Largeur en pourcentage (0-100)"
          },
          "height": {
            "type": "number",
            "description": "Hauteur en pourcentage (0-100)"
          },
          "required": {
            "type": "boolean",
            "description": "Indique si le champ est requis"
          },
          "read_only": {
            "type": "boolean",
            "description": "Indique si ce champ est en lecture seule"
          },
          "read_only_value": {
            "type": "string",
            "nullable": true,
            "description": "Valeur statique pour les champs en lecture seule"
          },
          "variable_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de variable pour le mappage des donn\u00e9es pr\u00e9remplies"
          },
          "variable_defined_name": {
            "type": "string",
            "nullable": true,
            "description": "Nom de champ lisible provenant de la d\u00e9finition du champ personnalis\u00e9 (par ex. 'artist_name'). Pr\u00e9sent uniquement pour les champs li\u00e9s \u00e0 une d\u00e9finition de champ personnalis\u00e9, null sinon."
          },
          "dropdown_options": {
            "nullable": true,
            "description": "Options pour les champs d\u00e9roulants",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object"
              }
            ]
          },
          "format_rules": {
            "type": "object",
            "nullable": true,
            "description": "R\u00e8gles de formatage (par exemple, format de date)"
          },
          "validation_rules": {
            "type": "object",
            "nullable": true,
            "description": "R\u00e8gles de validation pour le champ"
          },
          "date_signing_default": {
            "type": "boolean",
            "description": "Indique s'il faut utiliser la date de signature comme valeur par d\u00e9faut"
          },
          "final_value": {
            "type": "string",
            "nullable": true,
            "description": "Valeur pr\u00e9-remplie ou finale du champ"
          }
        },
        "required": [
          "type",
          "recipient_id",
          "page_number"
        ]
      },
      "SigningRequestDetail": {
        "type": "object",
        "description": "Demande de Signature d\u00e9taill\u00e9e telle que renvoy\u00e9e par GET /signing-requests/{id} (structure imbriqu\u00e9e avec un objet status et des horodatages)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de la demande de signature"
          },
          "name": {
            "type": "string",
            "description": "Nom de la demande de signature"
          },
          "template_description": {
            "type": "string",
            "nullable": true,
            "description": "Description issue du mod\u00e8le"
          },
          "companies_workspaces_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID de l'espace de travail auquel appartient cette demande de signature"
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "URL pr\u00e9-sign\u00e9e vers le document PDF"
          },
          "document_url_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "document_page_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Nombre de pages du document"
          },
          "expiration_hours": {
            "type": "integer",
            "description": "Nombre d'heures avant l'expiration de la demande de signature"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Horodatage ISO 8601 correspondant \u00e0 l'expiration de la demande de signature. Calcul\u00e9 \u00e0 partir de sent_on + expiration_hours. Null si elle n'a pas encore \u00e9t\u00e9 envoy\u00e9e ou si aucun expiration_hours n'est d\u00e9fini."
          },
          "credit_cost": {
            "type": "integer",
            "description": "Cr\u00e9dits consomm\u00e9s lors de l'envoi"
          },
          "status": {
            "type": "object",
            "description": "Indicateurs de statut (plusieurs peuvent \u00eatre vrais pour les \u00e9tats terminaux)",
            "properties": {
              "sent": {
                "type": "boolean"
              },
              "finished": {
                "type": "boolean"
              },
              "cancelled": {
                "type": "boolean"
              },
              "declined": {
                "type": "boolean"
              },
              "expired": {
                "type": "boolean"
              }
            }
          },
          "timestamps": {
            "type": "object",
            "description": "Tous les horodatages pertinents pour le cycle de vie de la demande de signature",
            "properties": {
              "created_on": {
                "type": "string",
                "format": "date-time"
              },
              "sent_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "finished_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "cancelled_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "declined_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "last_changed_on": {
                "type": "string",
                "format": "date-time"
              },
              "last_signing_action_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          },
          "settings": {
            "$ref": "#/components/schemas/SigningRequestSettings"
          },
          "use_signing_order": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "allow_download": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "allow_editing_before_sending": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "hand_drawn_only": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "attach_pdf_on_finish": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "deprecated": true
          },
          "certificate": {
            "type": "object",
            "nullable": true,
            "description": "Informations sur le statut de g\u00e9n\u00e9ration du certificat",
            "properties": {
              "generated": {
                "type": "boolean",
                "description": "Indique si le certificat PDF final a \u00e9t\u00e9 g\u00e9n\u00e9r\u00e9"
              },
              "generated_on": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Horodatage de la g\u00e9n\u00e9ration du certificat"
              },
              "has_error": {
                "type": "boolean",
                "description": "Indique s'il y a eu une erreur lors de la g\u00e9n\u00e9ration du certificat"
              }
            }
          },
          "final_document_download_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL sign\u00e9e pour t\u00e9l\u00e9charger le document final sign\u00e9 (PDF avec certificat). L'URL expire apr\u00e8s 1 heure."
          },
          "final_document_download_error": {
            "type": "string",
            "nullable": true,
            "enum": [
              "file_not_accessible",
              null
            ]
          },
          "document_only_download_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL sign\u00e9e pour t\u00e9l\u00e9charger le PDF du document seul. L'URL expire apr\u00e8s 1 heure."
          },
          "document_only_download_error": {
            "type": "string",
            "nullable": true,
            "enum": [
              "file_not_accessible",
              null
            ]
          },
          "certificate_only_download_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL sign\u00e9e pour t\u00e9l\u00e9charger le PDF du certificat seul. L'URL expire apr\u00e8s 1 heure."
          },
          "certificate_only_download_error": {
            "type": "string",
            "nullable": true,
            "enum": [
              "file_not_accessible",
              null
            ]
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "companies_workspaces_id"
        ]
      },
      "SigningRequestSettings": {
        "type": "object",
        "description": "Param\u00e8tres renvoy\u00e9s par les endpoints de liste et de d\u00e9tail des demandes de signature. Les mod\u00e8les utilisent le sch\u00e9ma TemplateSettings (sans champs d'identit\u00e9).",
        "properties": {
          "allow_download": {
            "type": "boolean",
            "description": "Indique si les destinataires peuvent t\u00e9l\u00e9charger le document",
            "default": true
          },
          "attach_pdf_on_finish": {
            "type": "boolean",
            "description": "Indique s'il faut joindre le PDF une fois la signature termin\u00e9e",
            "default": true
          },
          "allow_editing_before_sending": {
            "type": "boolean",
            "description": "Indique si la demande de signature peut \u00eatre modifi\u00e9e avant l'envoi",
            "default": false
          },
          "use_signing_order": {
            "type": "boolean",
            "description": "Indique si l'ordre de signature est impos\u00e9 entre les destinataires. Quand c'est vrai, les signataires re\u00e7oivent le document dans l'ordre d\u00e9fini par leur order. Quand c'est faux, tous les signataires re\u00e7oivent le document simultan\u00e9ment.",
            "default": true
          },
          "hand_drawn_only": {
            "type": "boolean",
            "description": "Lorsque cette option est activ\u00e9e, les signataires ne peuvent que dessiner leur signature \u00e0 la main et ne peuvent pas utiliser de signatures dactylographi\u00e9es",
            "default": false
          },
          "send_signing_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer des e-mails de notification de demande de signature aux signataires",
            "default": true
          },
          "send_finish_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de fin lorsque tous les signataires ont termin\u00e9",
            "default": true
          },
          "send_expiration_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'expiration quand la demande expire",
            "default": true
          },
          "send_cancellation_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'annulation quand la demande est annul\u00e9e",
            "default": true
          },
          "require_otp_verification": {
            "type": "boolean",
            "nullable": true,
            "description": "Indique si les signataires doivent v\u00e9rifier leur e-mail avec un code \u00e0 usage unique avant d'acc\u00e9der au document. null = h\u00e9rite du param\u00e8tre de l'espace de travail/de l'entreprise.",
            "default": null
          },
          "disable_guided_navigation": {
            "type": "boolean",
            "nullable": true,
            "description": "D\u00e9sactive le d\u00e9filement automatique vers le prochain champ requis pendant la signature. H\u00e9rite de l'espace de travail ou de l'entreprise si non d\u00e9fini."
          },
          "allow_presigning_download": {
            "type": "boolean",
            "nullable": true,
            "description": "Permet aux signataires de t\u00e9l\u00e9charger le document original avant de signer. H\u00e9rite du param\u00e8tre de l'espace de travail ou de l'entreprise quand null."
          },
          "show_qr_code": {
            "type": "boolean",
            "nullable": true,
            "description": "Affiche un QR code sur la page de signature qui permet aux signataires de continuer sur leur t\u00e9l\u00e9phone. H\u00e9rite du param\u00e8tre de l'espace de travail ou de l'entreprise quand null."
          },
          "identity_editable_fields": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Champs d'identit\u00e9 que les signataires peuvent modifier avant de signer (par exemple [\"name\", \"company\"]). null = d\u00e9sactiv\u00e9. Quand c'est d\u00e9fini, une bo\u00eete de dialogue de confirmation permet aux signataires de modifier les champs sp\u00e9cifi\u00e9s."
          },
          "notify_identity_change_email": {
            "type": "boolean",
            "default": false,
            "description": "Envoie une notification par e-mail quand un signataire modifie son identit\u00e9."
          }
        }
      },
      "TemplateSettings": {
        "type": "object",
        "description": "Param\u00e8tres renvoy\u00e9s par les endpoints de mod\u00e8les. Correspond \u00e0 SigningRequestSettings sans les champs d'identit\u00e9 du signataire (identity_editable_fields, notify_identity_change_email), qui s'appliquent uniquement aux demandes de signature.",
        "properties": {
          "allow_download": {
            "type": "boolean",
            "description": "Indique si les destinataires peuvent t\u00e9l\u00e9charger le document",
            "default": true
          },
          "attach_pdf_on_finish": {
            "type": "boolean",
            "description": "Indique s'il faut joindre le PDF une fois la signature termin\u00e9e",
            "default": true
          },
          "allow_editing_before_sending": {
            "type": "boolean",
            "description": "Indique si la demande de signature peut \u00eatre modifi\u00e9e avant l'envoi",
            "default": false
          },
          "use_signing_order": {
            "type": "boolean",
            "description": "Indique si l'ordre de signature est impos\u00e9 entre les destinataires.",
            "default": true
          },
          "hand_drawn_only": {
            "type": "boolean",
            "description": "Lorsque cette option est activ\u00e9e, les signataires ne peuvent que dessiner leur signature \u00e0 la main et ne peuvent pas utiliser de signatures dactylographi\u00e9es",
            "default": false
          },
          "send_signing_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer des e-mails de notification de demande de signature aux signataires",
            "default": true
          },
          "send_finish_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de fin lorsque tous les signataires ont termin\u00e9",
            "default": true
          },
          "send_expiration_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'expiration quand la demande expire",
            "default": true
          },
          "send_cancellation_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'annulation quand la demande est annul\u00e9e",
            "default": true
          },
          "require_otp_verification": {
            "type": "boolean",
            "nullable": true,
            "description": "Indique si les signataires doivent v\u00e9rifier leur e-mail avec un code \u00e0 usage unique avant d'acc\u00e9der au document. null = h\u00e9rite du param\u00e8tre de l'espace de travail/de l'entreprise.",
            "default": null
          },
          "disable_guided_navigation": {
            "type": "boolean",
            "nullable": true,
            "description": "D\u00e9sactive le d\u00e9filement automatique vers le prochain champ requis pendant la signature. H\u00e9rite de l'espace de travail ou de l'entreprise si non d\u00e9fini."
          },
          "allow_presigning_download": {
            "type": "boolean",
            "nullable": true,
            "description": "Autorise les signataires \u00e0 t\u00e9l\u00e9charger le document original avant de signer. H\u00e9rite du param\u00e8tre de l'espace de travail ou de l'entreprise quand la valeur est null."
          },
          "show_qr_code": {
            "type": "boolean",
            "nullable": true,
            "description": "Affiche un QR code sur la page de signature qui permet aux signataires de continuer sur leur t\u00e9l\u00e9phone. H\u00e9rite du param\u00e8tre de l'espace de travail ou de l'entreprise quand la valeur est null."
          }
        }
      },
      "LegacyDocumentSettings": {
        "type": "object",
        "description": "Param\u00e8tres renvoy\u00e9s par le endpoint d\u00e9pr\u00e9ci\u00e9 POST /documents. Un ensemble r\u00e9duit ; les nouvelles int\u00e9grations devraient utiliser les endpoints de demande de signature, qui renvoient SigningRequestSettings.",
        "properties": {
          "allow_download": {
            "type": "boolean",
            "description": "Indique si les destinataires peuvent t\u00e9l\u00e9charger le document",
            "default": true
          },
          "attach_pdf_on_finish": {
            "type": "boolean",
            "description": "Indique s'il faut joindre le PDF une fois la signature termin\u00e9e",
            "default": true
          },
          "allow_editing_before_sending": {
            "type": "boolean",
            "description": "Indique si la demande de signature peut \u00eatre modifi\u00e9e avant l'envoi",
            "default": false
          },
          "use_signing_order": {
            "type": "boolean",
            "description": "Indique si l'ordre de signature est impos\u00e9 entre les destinataires.",
            "default": true
          },
          "hand_drawn_only": {
            "type": "boolean",
            "description": "Quand activ\u00e9, les signataires ne peuvent que dessiner leur signature \u00e0 la main",
            "default": false
          },
          "send_signing_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer les e-mails de notification de demande de signature aux signataires",
            "default": true
          },
          "send_finish_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de finalisation quand tous les signataires ont termin\u00e9",
            "default": true
          },
          "send_expiration_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'expiration quand la demande expire",
            "default": true
          },
          "send_cancellation_email": {
            "type": "boolean",
            "description": "Indique s'il faut envoyer un e-mail de notification d'annulation quand la demande est annul\u00e9e",
            "default": true
          },
          "disable_guided_navigation": {
            "type": "boolean",
            "nullable": true,
            "description": "D\u00e9sactive le d\u00e9filement automatique vers le prochain champ requis pendant la signature. H\u00e9rite de l'espace de travail ou de l'entreprise si non d\u00e9fini."
          },
          "allow_presigning_download": {
            "type": "boolean",
            "nullable": true,
            "description": "Autorise les signataires \u00e0 t\u00e9l\u00e9charger le document original avant de signer. H\u00e9rite du param\u00e8tre de l'espace de travail ou de l'entreprise quand la valeur est null."
          }
        }
      },
      "Recipient": {
        "type": "object",
        "required": [
          "first_name",
          "email",
          "designation"
        ],
        "description": "Sch\u00e9ma Destinataire avec comportements de construction automatique et de mapping. **Champ name** : Construit automatiquement \u00e0 partir de first_name et last_name ('Pr\u00e9nom Nom' si les deux sont pr\u00e9sents, sinon 'Pr\u00e9nom'). Les valeurs manuelles du nom sont \u00e9cras\u00e9es. **Attribution de l'ordre** : TOUS les destinataires DOIVENT avoir une valeur order explicite. L'ordre d\u00e9termine la s\u00e9quence de signature, qui est toujours impos\u00e9e. Les destinataires doivent signer dans l'ordre, les num\u00e9ros les plus bas signant en premier. **Champs personnalis\u00e9s** : Prend en charge \u00e0 la fois la structure plate (par exemple, company_name \u00e0 la racine) et la structure imbriqu\u00e9e (objet custom_fields). Les deux formats sont normalis\u00e9s en interne. **Mapping des champs de mod\u00e8le** : Lors de la cr\u00e9ation \u00e0 partir d'un mod\u00e8le avec des destinataires personnalis\u00e9s, utilisez template_user_id ou order pour faire correspondre les utilisateurs du mod\u00e8le. Seules les informations utilisateur (nom, e-mail, t\u00e9l\u00e9phone, etc.) peuvent \u00eatre mises \u00e0 jour - order et designation sont h\u00e9rit\u00e9s du mod\u00e8le. **IDs temporaires** : Pour la cr\u00e9ation bas\u00e9e sur un document, utilisez des IDs temporaires (format : 'temp_1', 'temp_2', etc.) pour r\u00e9f\u00e9rencer les destinataires dans les champs et les rappels avant leur cr\u00e9ation. **Destinataires en copie (CC)** : Les destinataires en copie re\u00e7oivent une copie termin\u00e9e mais ne peuvent ni signer ni se voir attribuer de champs. Au moins un Signataire est requis.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifiant unique. Pour les mises \u00e0 jour : utilisez l'UUID existant. Pour la cr\u00e9ation bas\u00e9e sur un document : utilisez \u00e9ventuellement un ID temporaire (format : 'temp_1', 'temp_2', etc.) pour r\u00e9f\u00e9rencer les destinataires dans les champs et les rappels avant la cr\u00e9ation. Les IDs temporaires sont automatiquement r\u00e9solus en UUID r\u00e9els dans la r\u00e9ponse."
          },
          "_temp_id": {
            "type": "string",
            "description": "Identifiant temporaire pour les nouveaux destinataires dans les requ\u00eates PUT (mise \u00e0 jour compl\u00e8te) (par exemple, 'temp_1'). Utilisez-le lors de la cr\u00e9ation de nouveaux destinataires en m\u00eame temps que des destinataires existants dans des mises \u00e0 jour compl\u00e8tes. Doit commencer par 'temp_' et \u00eatre unique au sein de la requ\u00eate. Non utilis\u00e9 pour les requ\u00eates POST (cr\u00e9ation) - utilisez plut\u00f4t le champ 'id'."
          },
          "template_user_id": {
            "type": "string",
            "format": "uuid",
            "description": "Lors de la cr\u00e9ation \u00e0 partir d'un mod\u00e8le, l'ID de l'utilisateur du mod\u00e8le \u00e0 mettre \u00e0 jour. Si fourni, les donn\u00e9es de ce destinataire mettront \u00e0 jour l'utilisateur du mod\u00e8le correspondant. Si non fourni, la correspondance se fait par ordre. Seules les infos utilisateur (nom, email, t\u00e9l\u00e9phone, adresse, titre, entreprise) peuvent \u00eatre mises \u00e0 jour - l'ordre et la d\u00e9signation sont toujours h\u00e9rit\u00e9s du mod\u00e8le."
          },
          "first_name": {
            "type": "string",
            "maxLength": 100,
            "description": "Pr\u00e9nom du destinataire"
          },
          "last_name": {
            "type": "string",
            "maxLength": 100,
            "description": "Nom de famille du destinataire (optionnel, mais requis si vous utilisez les variables pr\u00e9d\u00e9finies full_name ou last_name)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255,
            "description": "Adresse email du destinataire"
          },
          "designation": {
            "type": "string",
            "enum": [
              "Signer",
              "Approver",
              "CC"
            ],
            "description": "R\u00f4le du destinataire. Signataire signe le document, Approbateur approuve avec des champs d'approbation, CC re\u00e7oit une copie une fois termin\u00e9."
          },
          "order": {
            "type": "integer",
            "minimum": 1,
            "description": "Num\u00e9ro de s\u00e9quence de signature. Les destinataires doivent signer dans l'ordre, les num\u00e9ros les plus bas signant en premier. Ce champ est requis pour tous les destinataires."
          },
          "phone_number": {
            "type": "string",
            "maxLength": 50,
            "nullable": true,
            "description": "Num\u00e9ro de t\u00e9l\u00e9phone du destinataire"
          },
          "street_address": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Adresse postale"
          },
          "city": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Ville"
          },
          "state_province": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "\u00c9tat ou province"
          },
          "postal_code": {
            "type": "string",
            "maxLength": 20,
            "nullable": true,
            "description": "Code postal"
          },
          "country": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Pays"
          },
          "title": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Titre du poste"
          },
          "company": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Nom de l'entreprise"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Paires cl\u00e9-valeur personnalis\u00e9es pour des donn\u00e9es suppl\u00e9mentaires sur le destinataire"
          }
        }
      },
      "Field": {
        "type": "object",
        "required": [
          "type",
          "position",
          "page_number"
        ],
        "description": "D\u00e9finition de champ pour les demandes de signature. **Champs en lecture seule** : d\u00e9finissez read_only=true pour pr\u00e9-remplir une valeur de champ que les signataires ne peuvent pas modifier. Utilisez read_only_value pour du texte statique, ou prefilled_data pour remplir automatiquement \u00e0 partir des attributs du destinataire. **Fusion de champs bas\u00e9e sur un mod\u00e8le** : lors de la cr\u00e9ation \u00e0 partir d'un mod\u00e8le avec un tableau fields, utilisez template_field_id (pr\u00e9f\u00e9r\u00e9) ou variable_name (repli) pour faire correspondre les champs du mod\u00e8le. Seules les propri\u00e9t\u00e9s fournies remplacent les valeurs par d\u00e9faut du mod\u00e8le (mise \u00e0 jour partielle). Les champs non appari\u00e9s sont ignor\u00e9s.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique (\u00e0 inclure pour les mises \u00e0 jour, \u00e0 omettre pour les nouveaux champs)"
          },
          "template_field_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID du champ du mod\u00e8le \u00e0 faire correspondre pour les mises \u00e0 jour partielles (cr\u00e9ation bas\u00e9e sur un mod\u00e8le uniquement). Utilisez ceci pour identifier quel champ du mod\u00e8le remplacer. A priorit\u00e9 sur variable_name pour la correspondance."
          },
          "type": {
            "type": "string",
            "enum": [
              "signature",
              "text",
              "date",
              "checkbox",
              "dropdown",
              "initial",
              "initials",
              "text_area",
              "textarea",
              "image",
              "stamp",
              "approval_signature",
              "approval_checkmark",
              "approval_date"
            ],
            "description": "Type de champ. Accepte 'initial' ou 'initials' (normalis\u00e9 en 'initial'), 'textarea' ou 'text_area' (normalis\u00e9 en 'text_area')."
          },
          "position": {
            "type": "object",
            "required": [
              "x",
              "y",
              "width",
              "height"
            ],
            "description": "Le champ doit tenir dans les limites de la page : x + width <= 100 et y + height <= 100",
            "properties": {
              "x": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordonn\u00e9e X en pourcentage (0-100)"
              },
              "y": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Coordonn\u00e9e Y en pourcentage (0-100)"
              },
              "width": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Largeur en pourcentage (0-100). x + width doit \u00eatre <= 100"
              },
              "height": {
                "type": "number",
                "minimum": 0,
                "maximum": 100,
                "description": "Hauteur en pourcentage (0-100). y + height doit \u00eatre <= 100"
              }
            }
          },
          "page_number": {
            "type": "integer",
            "minimum": 1,
            "description": "Num\u00e9ro de la page o\u00f9 se trouve le champ (index\u00e9 \u00e0 partir de 1). Ne doit pas d\u00e9passer le nombre total de pages du document."
          },
          "required": {
            "type": "boolean",
            "default": false,
            "description": "Indique si le champ doit \u00eatre compl\u00e9t\u00e9"
          },
          "recipient_id": {
            "type": "string",
            "description": "ID du destinataire assign\u00e9 \u00e0 ce champ. Utilisez un v\u00e9ritable UUID pour la cr\u00e9ation ou les mises \u00e0 jour bas\u00e9es sur un mod\u00e8le, ou un ID temporaire (par ex. 'temp_1') pour la cr\u00e9ation bas\u00e9e sur un document afin de r\u00e9f\u00e9rencer les destinataires d\u00e9finis dans la m\u00eame requ\u00eate."
          },
          "variable_name": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Nom de variable pour le champ (utilis\u00e9 dans les mod\u00e8les). \u00c9galement utilis\u00e9 comme repli pour la correspondance de champs lors de la cr\u00e9ation bas\u00e9e sur un mod\u00e8le quand template_field_id n'est pas fourni."
          },
          "variable_defined_name": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Nom lisible et personnalis\u00e9 de d\u00e9finition du champ. Peut \u00eatre utilis\u00e9 comme alternative \u00e0 variable_name pour cibler des champs lors de la cr\u00e9ation bas\u00e9e sur un mod\u00e8le."
          },
          "dropdown_options": {
            "description": "Options pour les champs de liste d\u00e9roulante",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object"
              }
            ]
          },
          "date_default": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Valeur de date par d\u00e9faut"
          },
          "date_signing_default": {
            "type": "boolean",
            "default": false,
            "description": "Utiliser la date de signature comme valeur par d\u00e9faut"
          },
          "multi_group_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID de groupe pour lier plusieurs champs de case \u00e0 cocher ou de bouton radio ensemble. Les champs partageant le m\u00eame multi_group_id se comportent comme un groupe mutuellement exclusif (comme des boutons radio) - en s\u00e9lectionner un d\u00e9s\u00e9lectionne automatiquement les autres du groupe. Utilisez le m\u00eame UUID sur plusieurs champs pour cr\u00e9er un groupe o\u00f9 une seule option peut \u00eatre s\u00e9lectionn\u00e9e \u00e0 la fois."
          },
          "format_rules": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/DateFormatRules"
              },
              {
                "$ref": "#/components/schemas/FileFormatRules"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ],
            "nullable": true,
            "description": "R\u00e8gles de formatage pour la valeur du champ. Pour les champs de date, utilisez le sch\u00e9ma DateFormatRules avec la propri\u00e9t\u00e9 dateFormat. Pour les champs de fichier, utilisez le sch\u00e9ma FileFormatRules avec la propri\u00e9t\u00e9 acceptedFileTypes (image_and_pdf, image, ou pdf). Pour les champs url, utilisez { urlDisplayText: string }. Les champs textuels (text, textarea, email, name, phone, company, title, number, dropdown, url, date) acceptent en plus une propri\u00e9t\u00e9 facultative fontSize (entier en px, 8-48, born\u00e9e) \u2014 voir TextFormatRules."
          },
          "validation_rules": {
            "$ref": "#/components/schemas/FieldValidationRules"
          },
          "read_only": {
            "type": "boolean",
            "default": false,
            "description": "Indique si ce champ est en lecture seule (pr\u00e9-rempli avant la signature). Quand c'est true, le signataire ne peut pas modifier la valeur du champ. Utile pour afficher les termes du contrat, les infos du destinataire, ou d'autres donn\u00e9es fixes."
          },
          "read_only_value": {
            "type": "string",
            "nullable": true,
            "description": "Valeur statique pour les champs en lecture seule. Prend le dessus sur prefilled_data si les deux sont sp\u00e9cifi\u00e9s. Applicable uniquement quand read_only est true. Exemple : 'Contract #12345' ou 'Acme Corporation'."
          },
          "prefilled_data": {
            "type": "string",
            "nullable": true,
            "enum": [
              "first_name",
              "last_name",
              "full_name",
              "email",
              "phone_number",
              "company",
              "title",
              "street_address",
              "city",
              "state_province",
              "postal_code",
              "country"
            ],
            "description": "Attribut utilisateur \u00e0 auto-remplir quand read_only est true. La valeur est r\u00e9cup\u00e9r\u00e9e depuis les donn\u00e9es du destinataire assign\u00e9 au moment de la signature. Peut aussi r\u00e9f\u00e9rencer des cl\u00e9s custom_fields d\u00e9finies sur le destinataire (pas limit\u00e9 aux valeurs enum). Applicable uniquement quand read_only est true et que read_only_value n'est pas d\u00e9fini. Exemple : Mettre 'email' pour afficher l'adresse email du destinataire."
          },
          "required_conditions": {
            "$ref": "#/components/schemas/ConditionSet",
            "nullable": true,
            "description": "R\u00e8gles conditionnelles pour d\u00e9terminer quand ce champ est requis. Quand c'est d\u00e9fini, \u00e7a prend le dessus sur le flag statique 'required'. Le champ n'est requis que quand les conditions \u00e9valuent \u00e0 true en fonction des valeurs d'autres champs."
          },
          "visibility_conditions": {
            "$ref": "#/components/schemas/ConditionSet",
            "nullable": true,
            "description": "R\u00e8gles conditionnelles pour d\u00e9terminer quand ce champ est visible. Quand c'est d\u00e9fini, le champ est cach\u00e9 sauf si les conditions \u00e9valuent \u00e0 true. Les champs cach\u00e9s ne sont pas valid\u00e9s \u00e0 la soumission."
          },
          "background_color": {
            "type": "string",
            "nullable": true,
            "pattern": "^#([0-9A-Fa-f]{3}|[0-9A-Fa-f]{6})$",
[...]
