{
    "openapi": "3.0.3",
    "info": {
      "title": "Firma Partner API",
      "description": "RESTful API for document signing and template management.\n\n**Authentication**: All endpoints require API key authentication via the `Authorization` header. Use your API key directly without any prefix (e.g., `your-api-key`). The Bearer prefix is optional but not required.\n\n**Security Features**:\n- Input validation using Zod schemas with detailed field-level error messages\n- RSA-256 signed JWT tokens for embedded template access\n\n**Rate Limiting**: Rate limits are tiered based on operation type:\n- Read operations (GET): 200 requests per minute\n- Write operations (POST/PUT/PATCH/DELETE): 120 requests per minute\n- Webhook CRUD operations: 60 requests per minute\n- Webhook test: 10 requests per minute\n- API key regeneration/expiration: 1 request per minute\n- Webhook secret rotation: 1 request per minute\n\nWhen rate limits are exceeded, the API returns a `429 Too Many Requests` response with headers:\n- `X-RateLimit-Limit`: Maximum requests per minute for this endpoint\n- `X-RateLimit-Remaining`: Requests remaining in current window\n- `X-RateLimit-Reset`: Unix timestamp when limit resets\n- `Retry-After`: Seconds until retry is allowed\n\n**Error Handling**: All errors return structured JSON responses with `error` (human-readable message), `code` (machine-readable identifier), and `details` (field-level validation errors when applicable).\n\n**Embedded Template Integration**: The Firma Template Editor can be embedded in your application using a standalone JavaScript library.\n\n```html\n<!-- Load the Firma Template Editor library -->\n<script src=\"https://api.firma.dev/functions/v1/embed-proxy/template-editor.js\"></script>\n\n<script>\n// Generate JWT token via API first\nfetch('https://api.firma.dev/functions/v1/signing-request-api/generate-template-token', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'YOUR_API_KEY',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    companies_workspaces_templates_id: 'template-id'\n  })\n})\n.then(res => res.json())\n.then(data => {\n  // Initialize editor with JWT token\n  window.FirmaTemplateEditor.init({\n    container: '#firma-editor-container',\n    jwt: data.token,\n    templateId: 'template-id',\n    theme: 'dark',\n    readOnly: false,\n    onSave: (savedData) => {\n      console.log('Template saved:', savedData);\n    },\n    onError: (error) => {\n      console.error('Editor error:', error);\n    },\n    onLoad: (template) => {\n      console.log('Template loaded:', template);\n    }\n  });\n});\n```",
      "version": "01.06.00",
      "contact": {
        "name": "API Support",
        "url": "https://firma.com/support"
      }
    },
    "servers": [
      {
        "url": "https://api.firma.dev/functions/v1/signing-request-api",
        "description": "Production API - Recommended (Current)"
      },
      {
        "url": "https://api.firma.dev/api/v1",
        "description": "Production API - Planned"
      }
    ],
    "security": [
      {
        "ApiKeyAuth": []
      }
    ],
    "tags": [
      { "name": "Company", "description": "Company information and settings" },
      { "name": "Workspaces", "description": "Workspace management operations" },
      { "name": "Templates", "description": "Template management operations" },
      { "name": "Signing Requests", "description": "Document signing request operations" },
      { "name": "Custom Fields", "description": "Custom field definition management for workspaces, templates, and signing requests" },
      { "name": "Webhooks", "description": "Webhook configuration and management" },
      { "name": "JWT Management", "description": "JWT token generation and revocation for embedded templates" },
      { "name": "Workspace Settings", "description": "Workspace configuration and settings" },
      { "name": "Email Domains", "description": "Email domain setup and verification for sending signing request emails from custom domains" },
      { "name": "Legacy", "description": "Deprecated endpoints maintained for backward compatibility" }
    ],
    "components": {
      "securitySchemes": {
        "ApiKeyAuth": {
          "type": "apiKey",
          "in": "header",
          "name": "Authorization",
          "description": "API key for authentication. Use your API key directly without any prefix (e.g., 'your-api-key'). Bearer prefix is optional but not required."
        }
      },
      "responses": {
        "ValidationError": {
          "description": "Bad Request - Validation failed",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Error" },
              "example": {
                "error": "Validation Error",
                "message": "Invalid input data",
                "details": {
                  "name": "Name is required",
                  "email": "Invalid email format"
                }
              }
            }
          }
        },
        "UnauthorizedError": {
          "description": "Unauthorized - Invalid or missing API key",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Error" },
              "example": {
                "error": "Unauthorized",
                "message": "Invalid API key"
              }
            }
          }
        },
        "ForbiddenError": {
          "description": "Forbidden - Insufficient permissions",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Error" },
              "example": {
                "error": "Forbidden",
                "message": "You do not have permission to access this resource"
              }
            }
          }
        },
        "NotFoundError": {
          "description": "Not Found - Resource does not exist",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Error" },
              "example": {
                "error": "Not Found",
                "message": "The requested resource was not found"
              }
            }
          }
        },
        "RateLimitError": {
          "description": "Too Many Requests - Rate limit exceeded",
          "headers": {
            "X-RateLimit-Limit": { "schema": { "type": "integer" }, "description": "Maximum requests per minute" },
            "X-RateLimit-Remaining": { "schema": { "type": "integer" }, "description": "Requests remaining" },
            "X-RateLimit-Reset": { "schema": { "type": "integer" }, "description": "Unix timestamp of reset" },
            "Retry-After": { "schema": { "type": "integer" }, "description": "Seconds until retry allowed" }
          },
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Error" },
              "example": {
                "error": "Rate Limit Exceeded",
                "message": "Too many requests. Please wait before retrying.",
                "details": {
                  "retry_after": 45
                }
              }
            }
          }
        }
      },
      "requestBodies": {
        "PatchSigningRequestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSigningRequestBodySchema"
              },
              "examples": {
                "update-properties": {
                  "summary": "Update properties",
                  "value": {
                    "name": "Updated Contract Name",
                    "expiration_hours": 72
                  }
                },
                "update-recipient": {
                  "summary": "Update single recipient",
                  "value": {
                    "recipient": {
                      "id": "rec123-e89b-12d3-a456-426614174000",
                      "first_name": "John",
                      "last_name": "Smith",
                      "email": "john.smith@example.com",
                      "designation": "Signer",
                      "order": 1
                    }
                  }
                },
                "add-recipient": {
                  "summary": "Add new recipient",
                  "value": {
                    "recipient": {
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "email": "jane@example.com",
                      "designation": "Signer",
                      "order": 2
                    }
                  }
                },
                "add-date-field": {
                  "summary": "Add date field with formatting",
                  "value": {
                    "field": {
                      "type": "date",
                      "position": { "x": 70, "y": 45, "width": 15, "height": 3 },
                      "page_number": 1,
                      "required": true,
                      "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                      "date_signing_default": true,
                      "format_rules": {
                        "dateFormat": "MMMM dd, yyyy"
                      }
                    }
                  }
                },
                "add-read-only-static-field": {
                  "summary": "Add read-only field with static value",
                  "description": "Creates a text field that displays a fixed value the signer cannot edit",
                  "value": {
                    "field": {
                      "type": "text",
                      "position": { "x": 15, "y": 20, "width": 40, "height": 3 },
                      "page_number": 1,
                      "required": false,
                      "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                      "read_only": true,
                      "read_only_value": "Contract #12345 - Acme Corporation"
                    }
                  }
                },
                "add-read-only-prefilled-field": {
                  "summary": "Add read-only field with recipient data",
                  "description": "Creates a text field that auto-populates with the recipient's email address (signer cannot edit)",
                  "value": {
                    "field": {
                      "type": "text",
                      "position": { "x": 15, "y": 30, "width": 30, "height": 3 },
                      "page_number": 1,
                      "required": false,
                      "recipient_id": "rec123-e89b-12d3-a456-426614174000",
                      "read_only": true,
                      "prefilled_data": "email"
                    }
                  }
                }
              }
            }
          }
        },
        "UpdateSigningRequestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSigningRequestBodySchema"
              },
              "examples": {
                "comprehensive-update": {
                  "summary": "Comprehensive update with all sections",
                  "value": {
                    "signing_request_properties": {
                      "name": "Updated Contract Name",
                      "expiration_hours": 72
                    },
                    "recipients": [
                      {
                        "id": "rec1-e89b-12d3-a456-426614174000",
                        "first_name": "John",
                        "last_name": "Smith",
                        "email": "john.smith@example.com",
                        "designation": "Signer",
                        "order": 1
                      },
                      {
                        "first_name": "Jane",
                        "last_name": "Doe",
                        "email": "jane@example.com",
                        "designation": "Signer",
                        "order": 2
                      }
                    ],
                    "deleted_recipients": [
                      {
                        "recipient_id": "rec2-e89b-12d3-a456-426614174000",
                        "field_action": "reassign",
                        "reassign_to_recipient_id": "rec1-e89b-12d3-a456-426614174000"
                      }
                    ],
                    "fields": [
                      {
                        "id": "field1-e89b-12d3-a456-426614174000",
                        "type": "signature",
                        "position": { "x": 15, "y": 85, "width": 30, "height": 10 },
                        "page_number": 1,
                        "required": true,
                        "recipient_id": "rec1-e89b-12d3-a456-426614174000"
                      }
                    ],
                    "reminders": [
                      {
                        "hours": 48,
                        "all_users": true,
                        "subject": "Reminder: Please sign the document",
                        "message": "This is a reminder to complete your signature."
                      }
                    ]
                  }
                },
                "update-with-temp-ids": {
                  "summary": "Update with new recipients using temporary IDs",
                  "description": "Comprehensive update adding new recipients with temporary IDs alongside existing recipients",
                  "value": {
                    "signing_request_properties": {
                      "name": "Updated NDA Agreement"
                    },
                    "recipients": [
                      {
                        "id": "existing-recipient-uuid",
                        "email": "updated@example.com"
                      },
                      {
                        "_temp_id": "temp_new_signer",
                        "first_name": "New",
                        "last_name": "Signer",
                        "email": "newsigner@example.com",
                        "designation": "Signer",
                        "order": 2
                      }
                    ],
                    "fields": [
                      {
                        "id": "existing-field-uuid",
                        "position": { "x": 10, "y": 70, "width": 30, "height": 10 }
                      },
                      {
                        "recipient_id": "temp_new_signer",
                        "type": "signature",
                        "page_number": 1,
                        "position": { "x": 10, "y": 55, "width": 30, "height": 10 },
                        "required": true
                      }
                    ],
                    "reminders": [
                      {
                        "recipient_id": "temp_new_signer",
                        "hours": 24,
                        "all_users": false,
                        "subject": "Reminder: Sign Document",
                        "message": "Please sign the updated NDA."
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "schemas": {
        "Company": {
          "type": "object",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the company" },
            "company_name": { "type": "string", "description": "Company name", "maxLength": 255 },
            "account_owner": { "type": "string", "description": "Name of the account owner", "maxLength": 255 },
            "account_owner_email": { "type": "string", "format": "email", "description": "Email address of the account owner" },
            "website": { "type": "string", "format": "uri", "description": "Company website URL", "nullable": true },
            "icon_url": { "type": "string", "format": "uri", "description": "URL to company icon/logo", "nullable": true },
            "credits": { "type": "integer", "description": "Available credits for the company (read-only, managed internally)", "minimum": 0, "readOnly": true },
            "date_created": { "type": "string", "format": "date-time", "description": "Company account creation timestamp" },
            "date_changed": { "type": "string", "format": "date-time", "description": "Company account last update timestamp" }
          }
        },
        "Workspace": {
          "type": "object",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the workspace" },
            "name": { "type": "string", "description": "Workspace name", "maxLength": 255 },
            "protected": { "type": "boolean", "description": "Protected workspaces cannot be deleted" },
            "api_key": { "type": "string", "description": "Unique API key for this workspace. Used for authenticating API requests scoped to this workspace.", "nullable": true },
            "date_created": { "type": "string", "format": "date-time", "description": "Workspace creation timestamp" },
            "date_changed": { "type": "string", "format": "date-time", "description": "Workspace last update timestamp" }
          }
        },
        "Template": {
          "type": "object",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the template" },
            "name": { "type": "string", "description": "Template name", "maxLength": 255 },
            "description": { "type": "string", "description": "Template description", "nullable": true },
            "document_url": { "type": "string", "format": "uri", "description": "Pre-signed URL to the PDF document. This is a time-limited signed URL for secure access - see document_url_expires_at for expiration time. Initial URLs are valid for 7 days; refreshed URLs are valid for 1 hour. Request a new template retrieval to get a fresh URL if expired." },
            "document_url_expires_at": { "type": "string", "format": "date-time", "nullable": true, "description": "ISO 8601 timestamp when the document_url will expire. After this time, the URL will return an access denied error. Fetch the template again to receive a fresh signed URL." },
            "credit_cost": { "type": "integer", "minimum": 1, "default": 1, "description": "Number of credits consumed when a signing request is sent from this template. Minimum value is 1." },
            "date_created": { "type": "string", "format": "date-time", "description": "Template creation timestamp" },
            "date_changed": { "type": "string", "format": "date-time", "description": "Template last update timestamp" }
          }
        },
        "TemplateUser": {
          "type": "object",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the template user" },
            "name": { "type": "string", "description": "Recipient name (combined first and last name)" },
            "email": { "type": "string", "format": "email", "description": "Recipient email address" },
            "first_name": { "type": "string", "nullable": true, "description": "Recipient first name" },
            "last_name": { "type": "string", "nullable": true, "description": "Recipient last name" },
            "designation": { "type": "string", "enum": ["Signer"], "description": "Role of the recipient" },
            "order": { "type": "integer", "minimum": 1, "description": "Order in which the recipient should sign" },
            "phone_number": { "type": "string", "nullable": true, "description": "Recipient phone number" },
            "street_address": { "type": "string", "nullable": true, "description": "Recipient street address" },
            "city": { "type": "string", "nullable": true, "description": "Recipient city" },
            "state_province": { "type": "string", "nullable": true, "description": "Recipient state or province" },
            "postal_code": { "type": "string", "nullable": true, "description": "Recipient postal code" },
            "country": { "type": "string", "nullable": true, "description": "Recipient country" },
            "title": { "type": "string", "nullable": true, "description": "Recipient job title" },
            "company": { "type": "string", "nullable": true, "description": "Recipient company name" },
            "required_fields": { 
              "type": "array", 
              "items": { "type": "string" }, 
              "description": "List of recipient data fields required for sending (based on template fields with variable_name mappings). Always includes 'email' and 'first_name'." 
            },
            "missing_fields": { 
              "type": "array", 
              "items": { "type": "string" }, 
              "description": "List of required fields that are currently empty for this recipient" 
            },
            "required_read_only_fields": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "variable_name": { "type": "string", "nullable": true, "description": "Variable name of the read-only field" },
                  "field_type": { "type": "string", "description": "Type of the field (text, date, etc.)" }
                }
              },
              "description": "List of required read-only fields that need pre-filled values before sending"
            },
            "ready_to_send": { 
              "type": "boolean", 
              "description": "Whether this recipient has all required data filled in for sending" 
            }
          }
        },
        "DateFormatRules": {
          "type": "object",
          "description": "Formatting rules for date fields. Specifies how date values should be displayed and formatted.",
          "properties": {
            "dateFormat": {
              "type": "string",
              "description": "Date format pattern. Use predefined formats or custom patterns with: yyyy (4-digit year), MM (2-digit month), dd (2-digit day), MMMM (full month name), MMM (abbreviated month name), HH (24-hour), mm (minute), ss (second). Examples: 'MM/dd/yyyy' displays as 01/31/2024, 'MMMM dd, yyyy' displays as January 31, 2024.",
              "enum": ["MM/dd/yyyy", "dd/MM/yyyy", "yyyy-MM-dd", "MMMM dd, yyyy", "MMM dd, yyyy", "dd MMMM yyyy"],
              "default": "MM/dd/yyyy"
            }
          },
          "example": {
            "dateFormat": "MMMM dd, yyyy"
          }
        },
        "FieldValidationRules": {
          "type": "object",
          "nullable": true,
          "description": "Validation rules for field values. Reserved for future use - currently not enforced for any field types.",
          "additionalProperties": true
        },
        "TemplateField": {
          "type": "object",
          "description": "A field placed on a template document",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the field" },
            "type": { "type": "string", "enum": ["text", "signature", "date", "checkbox", "dropdown", "radio_buttons", "number", "text_area", "file", "initial"], "description": "Type of the field" },
            "required": { "type": "boolean", "description": "Whether the field is required" },
            "recipient_id": { "type": "string", "format": "uuid", "nullable": true, "description": "ID of assigned recipient" },
            "variable_name": { "type": "string", "nullable": true, "description": "Variable name for field (used in templates)" },
            "position": {
              "type": "object",
              "description": "Position and dimensions of the field on the document. All values are percentages (0-100). The field must fit within the page: x + width <= 100 and y + height <= 100.",
              "properties": {
                "x": { "type": "number", "minimum": 0, "maximum": 100, "description": "X coordinate of field position (percentage, 0-100)" },
                "y": { "type": "number", "minimum": 0, "maximum": 100, "description": "Y coordinate of field position (percentage, 0-100)" },
                "width": { "type": "number", "minimum": 0, "maximum": 100, "description": "Width of the field (percentage, 0-100). Note: x + width must be <= 100" },
                "height": { "type": "number", "minimum": 0, "maximum": 100, "description": "Height of the field (percentage, 0-100). Note: y + height must be <= 100" }
              }
            },
            "page_number": { "type": "integer", "minimum": 1, "nullable": true, "description": "Page number where the field is located (1-indexed). Must not exceed the document's total page count." },
            "dropdown_options": { "type": "array", "items": { "type": "string" }, "nullable": true, "description": "Options for dropdown fields" },
            "multi_group_id": { "type": "string", "format": "uuid", "nullable": true, "description": "Group ID for linking multiple checkbox or radio button fields together. Fields sharing the same multi_group_id behave as a mutually exclusive group (like radio buttons) - selecting one automatically deselects the others in the group. Use the same UUID across multiple fields to create a group where only one option can be selected at a time." },
            "date_default": { "type": "string", "format": "date", "nullable": true, "description": "Default date value for date fields (ISO 8601 format, e.g., '2024-01-15')" },
            "date_signing_default": { "type": "boolean", "description": "Use signing date as default for date fields" },
            "format_rules": { "$ref": "#/components/schemas/DateFormatRules", "nullable": true, "description": "Formatting rules - currently used for date fields to specify display format" },
            "validation_rules": { "$ref": "#/components/schemas/FieldValidationRules" },
            "read_only": { "type": "boolean", "default": false, "description": "Whether this field is read-only (pre-filled before signing)" },
            "read_only_value": { "type": "string", "nullable": true, "description": "Static value for read-only fields" }
          }
        },
        "Reminder": {
          "type": "object",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the reminder" },
            "hours": { "type": "integer", "minimum": 1, "description": "Hours after sending before reminder is sent" },
            "subject": { "type": "string", "description": "Email subject for the reminder", "maxLength": 255 },
            "message": { "type": "string", "description": "Email message body for the reminder", "maxLength": 5000 },
            "all_users": { "type": "boolean", "description": "Whether reminder applies to all users" },
            "template_user_id": { "type": "string", "format": "uuid", "nullable": true, "description": "Specific user to send reminder to, if not all users" },
            "date_created": { "type": "string", "format": "date-time", "description": "Reminder creation timestamp" },
            "date_changed": { "type": "string", "format": "date-time", "description": "Reminder last update timestamp" }
          }
        },
        "SigningRequest": {
          "type": "object",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the signing request" },
            "name": { "type": "string", "description": "Signing request name", "maxLength": 255 },
            "description": { "type": "string", "nullable": true, "description": "Signing request description" },
            "document_url": { "type": "string", "format": "uri", "description": "Pre-signed URL to the PDF document. This is a time-limited signed URL for secure access - see document_url_expires_at for expiration time. Initial URLs are valid for 7 days; refreshed URLs are valid for 1 hour. Request a new signing request retrieval to get a fresh URL if expired." },
            "document_url_expires_at": { "type": "string", "format": "date-time", "nullable": true, "description": "ISO 8601 timestamp when the document_url will expire. After this time, the URL will return an access denied error. Fetch the signing request again to receive a fresh signed URL." },
            "document_page_count": { "type": "integer", "minimum": 1, "description": "Number of pages in the document" },
            "status": { "type": "string", "enum": ["not_sent", "in_progress", "finished", "cancelled", "declined", "deleted", "expired"], "description": "Current status of the signing request" },
            "expiration_hours": { "type": "integer", "minimum": 1, "default": 168, "description": "Hours until signing request expires (default: 168 = 7 days)" },
            "credit_cost": { "type": "integer", "minimum": 1, "default": 1, "description": "Number of credits consumed when this signing request was sent. Minimum value is 1." },
            "settings": { "$ref": "#/components/schemas/SigningRequestSettings" },
            "template_id": { "type": "string", "format": "uuid", "nullable": true, "description": "ID of template used to create this signing request" },
            "date_created": { "type": "string", "format": "date-time", "description": "Signing request creation timestamp" },
            "date_sent": { "type": "string", "format": "date-time", "nullable": true, "description": "Timestamp when the signing request was sent" },
            "date_finished": { "type": "string", "format": "date-time", "nullable": true, "description": "Timestamp when all signatures were completed" },
            "date_cancelled": { "type": "string", "format": "date-time", "nullable": true, "description": "Timestamp when signing request was cancelled" },
            "date_declined": { "type": "string", "format": "date-time", "nullable": true, "description": "Timestamp when a signer declined the signing request" },
            "expires_at": { "type": "string", "format": "date-time", "nullable": true, "description": "Expiration timestamp" },
            "certificate": {
              "type": "object",
              "nullable": true,
              "description": "Certificate generation status information",
              "properties": {
                "generated": { "type": "boolean", "description": "Whether the final certificate PDF has been generated" },
                "generated_on": { "type": "string", "format": "date-time", "nullable": true, "description": "Timestamp when certificate was generated" },
                "has_error": { "type": "boolean", "description": "Whether there was an error generating the certificate" }
              }
            },
            "final_document_download_url": {
              "type": "string",
              "format": "uri",
              "nullable": true,
              "description": "Signed URL to download the final signed document (PDF with certificate). Only available when signing request is finished and certificate has been generated. URL expires after 1 hour."
            },
            "final_document_download_error": {
              "type": "string",
              "nullable": true,
              "enum": ["file_not_accessible", null],
              "description": "Error indicator if the final document exists but could not be accessed. Value is 'file_not_accessible' when the file path exists but the file is missing or inaccessible, otherwise null."
            },
            "document_only_download_url": {
              "type": "string",
              "format": "uri",
              "nullable": true,
              "description": "Signed URL to download the document-only PDF (signed document without certificate/audit trail pages). Only available when the split PDF feature has been applied. URL expires after 1 hour."
            },
            "document_only_download_error": {
              "type": "string",
              "nullable": true,
              "enum": ["file_not_accessible", null],
              "description": "Error indicator if the document-only file exists but could not be accessed."
            },
            "certificate_only_download_url": {
              "type": "string",
              "format": "uri",
              "nullable": true,
              "description": "Signed URL to download the certificate-only PDF (audit trail/certificate pages only). Only available when the split PDF feature has been applied. URL expires after 1 hour."
            },
            "certificate_only_download_error": {
              "type": "string",
              "nullable": true,
              "enum": ["file_not_accessible", null],
              "description": "Error indicator if the certificate-only file exists but could not be accessed."
            }
          }
        },
        "SigningRequestSettings": {
          "type": "object",
          "properties": {
            "allow_download": { "type": "boolean", "description": "Whether recipients can download the document", "default": true },
            "attach_pdf_on_finish": { "type": "boolean", "description": "Whether to attach PDF when signing is complete", "default": true },
            "allow_editing_before_sending": { "type": "boolean", "description": "Whether the signing request can be edited before sending", "default": false },
            "send_signing_email": { "type": "boolean", "description": "Whether to send signing request notification emails to signers", "default": true },
            "send_finish_email": { "type": "boolean", "description": "Whether to send completion email when all signers finish", "default": true },
            "send_expiration_email": { "type": "boolean", "description": "Whether to send expiration notification email when request expires", "default": true },
            "send_cancellation_email": { "type": "boolean", "description": "Whether to send cancellation notification email when request is cancelled", "default": true }
          }
        },
        "Recipient": {
          "type": "object",
          "required": ["first_name", "email", "designation"],
          "description": "Recipient schema with auto-construction and mapping behaviors. **Name field**: Auto-constructed from first_name and last_name ('First Last' if both present, otherwise 'First'). Manual name values are overwritten. **Order assignment**: ALL recipients MUST have an explicit order value. Order determines the signing sequence, which is always enforced. Recipients must sign in order, with lower numbers signing first. **Custom fields**: Supports both flat structure (e.g., company_name at root) and nested structure (custom_fields object). Both formats are normalized internally. **Template field mapping**: When creating from a template with custom recipients, use template_user_id or order to match template users. Only user info (name, email, phone, etc.) can be updated - order and designation are inherited from template. **Temporary IDs**: For document-based creation, use temporary IDs (format: 'temp_1', 'temp_2', etc.) to reference recipients in fields and reminders before they're created.",
          "properties": {
            "id": { "type": "string", "description": "Unique identifier. For updates: use existing UUID. For document-based creation: optionally use temporary ID (format: 'temp_1', 'temp_2', etc.) to reference recipients in fields and reminders before creation. Temporary IDs are automatically resolved to real UUIDs in the response." },
            "_temp_id": { "type": "string", "description": "Temporary identifier for new recipients in PUT (comprehensive update) requests (e.g., 'temp_1'). Use this when creating new recipients alongside existing ones in comprehensive updates. Must start with 'temp_' and be unique within the request. Not used for POST (create) requests - use 'id' field instead." },
            "template_user_id": { "type": "string", "format": "uuid", "description": "When creating from a template, the ID of the template user to update. If provided, this recipient's data will update the matching template user. If not provided, falls back to matching by order. Only user info (name, email, phone, address, title, company) can be updated - order and designation are always inherited from the template." },
            "first_name": { "type": "string", "maxLength": 100, "description": "Recipient's first name" },
            "last_name": { "type": "string", "maxLength": 100, "description": "Recipient's last name (optional, but required if using full_name or last_name prefilled variables)" },
            "email": { "type": "string", "format": "email", "maxLength": 255, "description": "Recipient's email address" },
            "designation": { "type": "string", "enum": ["Signer"], "description": "Role of the recipient" },
            "order": { "type": "integer", "minimum": 1, "description": "Signing sequence number. Recipients must sign in order, with lower numbers signing first. This field is required for all recipients." },
            "phone_number": { "type": "string", "maxLength": 50, "nullable": true, "description": "Recipient's phone number" },
            "street_address": { "type": "string", "maxLength": 255, "nullable": true, "description": "Street address" },
            "city": { "type": "string", "maxLength": 100, "nullable": true, "description": "City" },
            "state_province": { "type": "string", "maxLength": 100, "nullable": true, "description": "State or province" },
            "postal_code": { "type": "string", "maxLength": 20, "nullable": true, "description": "Postal/ZIP code" },
            "country": { "type": "string", "maxLength": 100, "nullable": true, "description": "Country" },
            "title": { "type": "string", "maxLength": 100, "nullable": true, "description": "Job title" },
            "company": { "type": "string", "maxLength": 255, "nullable": true, "description": "Company name" },
            "custom_fields": { "type": "object", "additionalProperties": true, "description": "Custom key-value pairs for additional recipient data" }
          }
        },
        "Field": {
          "type": "object",
          "required": ["type", "position", "page_number"],
          "description": "Field definition for signing requests. **Read-only fields**: Set read_only=true to pre-fill a field value that signers cannot edit. Use read_only_value for static text, or prefilled_data to auto-populate from recipient attributes. **Template-based field merging**: When creating from a template with fields array, use template_field_id (preferred) or variable_name (fallback) to match template fields. Only provided properties override template defaults (partial update). Fields not matched are ignored.",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier (include for updates, omit for new fields)" },
            "template_field_id": { "type": "string", "format": "uuid", "description": "Template field ID to match for partial updates (template-based creation only). Use this to identify which template field to override. Takes precedence over variable_name for matching." },
            "type": { "type": "string", "enum": ["signature", "text", "date", "checkbox", "dropdown", "initial", "initials", "text_area", "textarea", "image"], "description": "Type of field. Accepts 'initial' or 'initials' (normalized to 'initial'), 'textarea' or 'text_area' (normalized to 'text_area')." },
            "position": {
              "type": "object",
              "required": ["x", "y", "width", "height"],
              "description": "Field must fit within page bounds: x + width <= 100 and y + height <= 100",
              "properties": {
                "x": { "type": "number", "minimum": 0, "maximum": 100, "description": "X coordinate as percentage (0-100)" },
                "y": { "type": "number", "minimum": 0, "maximum": 100, "description": "Y coordinate as percentage (0-100)" },
                "width": { "type": "number", "minimum": 0, "maximum": 100, "description": "Width as percentage (0-100). x + width must be <= 100" },
                "height": { "type": "number", "minimum": 0, "maximum": 100, "description": "Height as percentage (0-100). y + height must be <= 100" }
              }
            },
            "page_number": { "type": "integer", "minimum": 1, "description": "Page number where field is located (1-indexed). Must not exceed the document's total page count." },
            "required": { "type": "boolean", "default": false, "description": "Whether field must be completed" },
            "recipient_id": { "type": "string", "description": "ID of recipient assigned to this field. Use real UUID for template-based creation or updates, or temporary ID (e.g., 'temp_1') for document-based creation to reference recipients defined in the same request." },
            "variable_name": { "type": "string", "maxLength": 100, "nullable": true, "description": "Variable name for field (used in templates). Also used as fallback for field matching in template-based creation when template_field_id is not provided." },
            "dropdown_options": { "type": "array", "items": { "type": "string" }, "description": "Options for dropdown fields" },
            "date_default": { "type": "string", "format": "date", "nullable": true, "description": "Default date value" },
            "date_signing_default": { "type": "boolean", "default": false, "description": "Use signing date as default" },
            "multi_group_id": { "type": "string", "format": "uuid", "nullable": true, "description": "Group ID for linking multiple checkbox or radio button fields together. Fields sharing the same multi_group_id behave as a mutually exclusive group (like radio buttons) - selecting one automatically deselects the others in the group. Use the same UUID across multiple fields to create a group where only one option can be selected at a time." },
            "format_rules": {
              "oneOf": [
                { "$ref": "#/components/schemas/DateFormatRules" },
                { "type": "object", "additionalProperties": true }
              ],
              "nullable": true,
              "description": "Formatting rules for field value. For date fields, use DateFormatRules schema with dateFormat property. Predefined formats: MM/dd/yyyy, dd/MM/yyyy, yyyy-MM-dd, MMMM dd yyyy, MMM dd yyyy, dd MMMM yyyy. Custom formats supported using yyyy (year), MM (month), dd (day), MMMM (full month name), MMM (abbreviated month), HH (hour), mm (minute), ss (second)."
            },
            "validation_rules": { "$ref": "#/components/schemas/FieldValidationRules" },
            "read_only": { "type": "boolean", "default": false, "description": "Whether this field is read-only (pre-filled before signing). When true, the signer cannot edit the field value. Useful for displaying contract terms, recipient information, or other fixed data." },
            "read_only_value": { "type": "string", "nullable": true, "description": "Static value for read-only fields. Takes precedence over prefilled_data if both are specified. Only applicable when read_only is true. Example: 'Contract #12345' or 'Acme Corporation'." },
            "prefilled_data": { 
              "type": "string", 
              "nullable": true,
              "enum": ["first_name", "last_name", "full_name", "email", "phone_number", "company", "title", "street_address", "city", "state_province", "postal_code", "country"],
              "description": "User attribute to auto-populate when read_only is true. Value is pulled from the assigned recipient's data at signing time. Can also reference custom_fields keys defined on the recipient (not limited to enum values). Only applicable when read_only is true and read_only_value is not set. Example: Set to 'email' to display the recipient's email address."
            }
          }
        },
        "SigningRequestReminder": {
          "type": "object",
          "required": ["hours", "subject", "message"],
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier (include for updates, omit for new reminders)" },
            "hours": { "type": "integer", "minimum": 1, "description": "Hours before expiration to send reminder" },
            "all_users": { "type": "boolean", "default": false, "description": "Send reminder to all recipients" },
            "recipient_id": { "type": "string", "nullable": true, "description": "Specific recipient ID (required if all_users is false). Use real UUID for existing recipients or temporary ID (e.g., 'temp_1') for document-based creation to reference recipients in the same request." },
            "subject": { "type": "string", "maxLength": 255, "description": "Email subject line" },
            "message": { "type": "string", "maxLength": 5000, "description": "Email message body" }
          }
        },
        "DeletedRecipient": {
          "type": "object",
          "required": ["recipient_id", "field_action"],
          "properties": {
            "recipient_id": { "type": "string", "format": "uuid", "description": "ID of recipient to delete" },
            "field_action": { "type": "string", "enum": ["delete", "reassign"], "description": "Action to take with fields assigned to this recipient" },
            "reassign_to_recipient_id": { "type": "string", "format": "uuid", "description": "Recipient to reassign fields to (required if field_action is 'reassign')" }
          }
        },
        "SigningRequestUser": {
          "type": "object",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the signing request user" },
            "name": { "type": "string", "description": "Recipient name (combined first and last name)" },
            "email": { "type": "string", "format": "email", "description": "Recipient email address" },
            "first_name": { "type": "string", "nullable": true, "description": "Recipient first name" },
            "last_name": { "type": "string", "nullable": true, "description": "Recipient last name" },
            "designation": { "type": "string", "enum": ["Signer"], "description": "Role of the recipient" },
            "order": { "type": "integer", "minimum": 1, "description": "Signing order" },
            "finished_on": { "type": "string", "format": "date-time", "nullable": true, "description": "Timestamp when this recipient completed all actions" },
            "declined_on": { "type": "string", "format": "date-time", "nullable": true, "description": "Timestamp when this recipient declined to sign" },
            "decline_reason": { "type": "string", "nullable": true, "description": "Reason provided by recipient for declining" },
            "phone_number": { "type": "string", "nullable": true, "description": "Recipient phone number" },
            "street_address": { "type": "string", "nullable": true, "description": "Recipient street address" },
            "city": { "type": "string", "nullable": true, "description": "Recipient city" },
            "state_province": { "type": "string", "nullable": true, "description": "Recipient state or province" },
            "postal_code": { "type": "string", "nullable": true, "description": "Recipient postal code" },
            "country": { "type": "string", "nullable": true, "description": "Recipient country" },
            "title": { "type": "string", "nullable": true, "description": "Recipient job title" },
            "company": { "type": "string", "nullable": true, "description": "Recipient company name" },
            "custom_fields": { "type": "object", "nullable": true, "description": "Custom field values for this recipient" },
            "required_fields": { 
              "type": "array", 
              "items": { "type": "string" }, 
              "description": "List of recipient data fields required for sending (based on fields with variable_name mappings). Always includes 'email' and 'first_name'." 
            },
            "missing_fields": { 
              "type": "array", 
              "items": { "type": "string" }, 
              "description": "List of required fields that are currently empty for this recipient" 
            },
            "required_read_only_fields": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "variable_name": { "type": "string", "nullable": true, "description": "Variable name of the read-only field" },
                  "field_type": { "type": "string", "description": "Type of the field (text, date, etc.)" },
                  "has_value": { "type": "boolean", "description": "Whether this read-only field has a value set" }
                }
              },
              "description": "List of required read-only fields that need pre-filled values before sending"
            },
            "ready_to_send": { 
              "type": "boolean", 
              "description": "Whether this recipient has all required data filled in for sending" 
            }
          }
        },
        "SigningRequestField": {
          "type": "object",
          "description": "Field associated with a signing request, containing position, type, and value information",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the field" },
            "companies_workspaces_signing_requests_id": { "type": "string", "format": "uuid", "description": "ID of the signing request this field belongs to" },
            "companies_workspaces_signing_requests_users_id": { "type": "string", "format": "uuid", "nullable": true, "description": "ID of the recipient assigned to this field" },
            "field_type": { "type": "string", "enum": ["text", "signature", "date", "checkbox", "initial", "dropdown", "radio_buttons", "text_area", "url"], "description": "Type of the field. url fields are read-only and display a clickable link." },
            "required": { "type": "integer", "enum": [0, 1], "description": "Whether the field is required (0 = no, 1 = yes)" },
            "x_postion": { "type": "number", "nullable": true, "description": "X position of the field on the document (note: column name has typo)" },
            "y_position": { "type": "number", "nullable": true, "description": "Y position of the field on the document" },
            "width": { "type": "number", "nullable": true, "description": "Width of the field" },
            "heigh": { "type": "number", "nullable": true, "description": "Height of the field (note: column name has typo)" },
            "page_number": { "type": "integer", "nullable": true, "description": "Page number where the field is located (1-indexed)" },
            "tl_position": { "type": "number", "nullable": true, "description": "Top-left corner position" },
            "tr_position": { "type": "number", "nullable": true, "description": "Top-right corner position" },
            "bl_position": { "type": "number", "nullable": true, "description": "Bottom-left corner position" },
            "br_position": { "type": "number", "nullable": true, "description": "Bottom-right corner position" },
            "variable_name": { "type": "string", "nullable": true, "description": "Variable name for prefilled data mapping" },
            "final_value": { "type": "string", "nullable": true, "description": "Final signed value of the field" },
            "date_default": { "type": "string", "nullable": true, "description": "Default date value" },
            "date_signing_default": { "type": "integer", "enum": [0, 1], "nullable": true, "description": "Whether to use signing date as default (0 = no, 1 = yes)" },
            "format_rules": { "type": "object", "nullable": true, "description": "Formatting rules (e.g., date format)" },
            "validation_rules": { "type": "object", "nullable": true, "description": "Validation rules for the field" },
            "dropdown_options": { "type": "array", "items": { "type": "string" }, "nullable": true, "description": "Options for dropdown fields" },
            "multi_group_id": { "type": "string", "format": "uuid", "nullable": true, "description": "Group ID for linking multiple checkbox or radio button fields together. Fields sharing the same multi_group_id behave as a mutually exclusive group (like radio buttons) - selecting one automatically deselects the others in the group. Use the same UUID across multiple fields to create a group where only one option can be selected at a time." },
            "read_only": { "type": "integer", "enum": [0, 1], "description": "Whether the field is read-only (0 = no, 1 = yes)" },
            "read_only_value": { "type": "string", "nullable": true, "description": "Static value for read-only fields" },
            "calculated_font_size": { "type": "number", "nullable": true, "description": "Calculated font size for the field" },
            "deleted": { "type": "integer", "enum": [0, 1], "description": "Soft delete flag (0 = active, 1 = deleted)" }
          }
        },
        "SendSigningRequestResponse": {
          "type": "object",
          "properties": {
            "message": { "type": "string", "description": "Success message" },
            "signing_request_id": { "type": "string", "format": "uuid", "description": "ID of the sent signing request" },
            "recipients_notified": { "type": "integer", "description": "Number of recipients who received emails" },
            "sent_date": { "type": "string", "format": "date-time", "description": "Timestamp when the request was sent" },
            "expires_at": { "type": "string", "format": "date-time", "description": "Expiration timestamp for the signing request" }
          }
        },
        "Webhook": {
          "type": "object",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the webhook" },
            "url": { "type": "string", "format": "uri", "description": "Webhook URL" },
            "events": { "type": "array", "items": { "type": "string" }, "description": "Events that trigger this webhook" },
            "enabled": { "type": "boolean", "description": "Whether the webhook is enabled" },
            "date_created": { "type": "string", "format": "date-time", "description": "Webhook creation timestamp" },
            "date_changed": { "type": "string", "format": "date-time", "description": "Webhook last update timestamp" }
          }
        },
        "PatchSigningRequestBodySchema": {
          "oneOf": [
            {
              "type": "object",
              "required": ["document"],
              "description": "Create signing request from a PDF document",
              "properties": {
                "document": { 
                  "type": "string", 
                  "format": "byte", 
                  "description": "Base64-encoded PDF document. Page count will be auto-extracted." 
                },
                "name": { 
                  "type": "string", 
                  "maxLength": 255, 
                  "description": "Name for the signing request" 
                },
                "description": { 
                  "type": "string", 
                  "description": "Description for the signing request" 
                },
                "expiration_hours": { 
                  "type": "integer", 
                  "minimum": 1, 
                  "default": 168,
                  "description": "Hours until the signing request expires (default: 168 = 7 days)" 
                },
                "recipients": { 
                  "type": "array", 
                  "items": { "$ref": "#/components/schemas/Recipient" }, 
                  "description": "Recipients for the signing request. Use temporary IDs (e.g., 'temp_1') in the id field to reference recipients in fields/reminders."
                },
                "fields": { 
                  "type": "array", 
                  "items": { "$ref": "#/components/schemas/Field" }, 
                  "description": "Fields to place on the document. Use recipient_id to assign fields to recipients." 
                },
                "reminders": { 
                  "type": "array", 
                  "items": { "$ref": "#/components/schemas/SigningRequestReminder" }, 
                  "description": "Reminders to send to recipients" 
                },
                "settings": { 
                  "$ref": "#/components/schemas/SigningRequestSettings", 
                  "description": "Signing request settings" 
                }
              }
            },
            {
              "type": "object",
              "required": ["template_id"],
              "description": "Create signing request from a template. Supports partial updates for both recipients and fields.",
              "properties": {
                "template_id": { 
                  "type": "string", 
                  "format": "uuid", 
                  "description": "ID of the template to create signing request from. The document, fields, and default recipients will be copied from the template." 
                },
                "name": { 
                  "type": "string", 
                  "maxLength": 255, 
                  "description": "Custom name for signing request (defaults to template name if not provided)" 
                },
                "description": { 
                  "type": "string", 
                  "description": "Custom description (defaults to template description if not provided)" 
                },
                "expiration_hours": { 
                  "type": "integer", 
                  "minimum": 1, 
                  "description": "Override template expiration hours" 
                },
                "recipients": { 
                  "type": "array", 
                  "items": { "$ref": "#/components/schemas/Recipient" }, 
                  "description": "Optional recipient overrides. Use template_user_id (preferred) or order (fallback) to match template users. Only user info (first_name, last_name, email, phone_number, address fields, title, company) can be updated - order and designation are always inherited from template. Recipients not provided will use template defaults."
                },
                "fields": { 
                  "type": "array", 
                  "items": { "$ref": "#/components/schemas/Field" }, 
                  "description": "Optional field overrides for partial updates. Use template_field_id (preferred) or variable_name (fallback) to match template fields. Only provided properties override template defaults. Supported override properties: type, required, position, read_only, read_only_value, format_rules, validation_rules, dropdown_options, date_default, date_signing_default, multi_group_id. Fields not matched are ignored. If fields array is omitted, all template fields are used as-is."
                },
                "settings": { 
                  "$ref": "#/components/schemas/SigningRequestSettings", 
                  "description": "Override template settings" 
                }
              },
              "example": {
                "template_id": "21424147-11c0-43d5-ac5f-a1f7001b5607",
                "name": "Contract for Client X",
                "recipients": [
                  {
                    "template_user_id": "template-user-uuid-1",
                    "first_name": "Toni",
                    "last_name": "Campins",
                    "email": "acampins@cocodin.com"
                  }
                ],
                "fields": [
                  {
                    "template_field_id": "field-uuid-1",
                    "read_only": true,
                    "read_only_value": "Contract #12345"
                  },
                  {
                    "variable_name": "company_name",
                    "read_only_value": "Acme Corporation"
                  }
                ]
              }
            }
          ]
        },
        "UpdateSigningRequestBodySchema": {
          "type": "object",
          "properties": {
            "signing_request_properties": {
              "type": "object",
              "description": "Update signing request properties",
              "properties": {
                "name": { "type": "string", "maxLength": 255 },
                "description": { "type": "string" },
                "document": { "type": "string", "format": "byte", "description": "Replace document (base64-encoded PDF)" },
                "expiration_hours": { "type": "integer", "minimum": 1 },
                "settings": { "$ref": "#/components/schemas/SigningRequestSettings" }
              }
            },
            "recipients": { "type": "array", "items": { "$ref": "#/components/schemas/Recipient" }, "description": "Upsert recipients - include 'id' to update existing recipients, use '_temp_id' (e.g., 'temp_1') for new recipients to reference them in fields and reminders within the same request" },
            "deleted_recipients": { "type": "array", "items": { "$ref": "#/components/schemas/DeletedRecipient" }, "description": "Recipients to delete and how to handle their fields" },
            "fields": { "type": "array", "items": { "$ref": "#/components/schemas/Field" }, "description": "Upsert fields - include id to update, omit id to create new" },
            "reminders": { "type": "array", "items": { "$ref": "#/components/schemas/SigningRequestReminder" }, "description": "Upsert reminders - include id to update, omit id to create new" }
          }
        },
        "GenerateJWTRequest": {
          "type": "object",
          "required": ["companies_workspaces_templates_id"],
          "properties": {
            "companies_workspaces_templates_id": { "type": "string", "format": "uuid", "description": "ID of the template to generate JWT for" }
          }
        },
        "GenerateJWTResponse": {
          "type": "object",
          "properties": {
            "jwt": { "type": "string", "description": "The generated JWT token" },
            "jwt_id": { "type": "string", "format": "uuid", "description": "Unique identifier for this JWT" },
            "expires_at": { "type": "string", "format": "date-time", "description": "JWT expiration timestamp (30 days from creation)" },
            "template_id": { "type": "string", "format": "uuid", "description": "ID of the template this JWT is for" }
          }
        },
        "RevokeJWTRequest": {
          "type": "object",
          "required": ["jwt_id"],
          "properties": {
            "jwt_id": { "type": "string", "format": "uuid", "description": "ID of the JWT token to revoke" }
          }
        },
        "RevokeJWTResponse": {
          "type": "object",
          "properties": {
            "message": { "type": "string", "description": "Confirmation message" },
            "jwt_id": { "type": "string", "format": "uuid", "description": "ID of the revoked JWT" },
            "revoked_at": { "type": "string", "format": "date-time", "description": "Timestamp when the JWT was revoked" }
          }
        },
        "GenerateSigningRequestJWTRequest": {
          "type": "object",
          "required": ["companies_workspaces_signing_requests_id"],
          "properties": {
            "companies_workspaces_signing_requests_id": { "type": "string", "format": "uuid", "description": "ID of the signing request to generate JWT for" }
          }
        },
        "GenerateSigningRequestJWTResponse": {
          "type": "object",
          "properties": {
            "jwt": { "type": "string", "description": "The generated JWT token" },
            "jwt_id": { "type": "string", "format": "uuid", "description": "Unique identifier for this JWT" },
            "expires_at": { "type": "string", "format": "date-time", "description": "JWT expiration timestamp (7 days from creation)" },
            "signing_request_id": { "type": "string", "format": "uuid", "description": "ID of the signing request this JWT is for" }
          }
        },
        "RevokeSigningRequestJWTRequest": {
          "type": "object",
          "required": ["jwt_id"],
          "properties": {
            "jwt_id": { "type": "string", "format": "uuid", "description": "ID of the JWT token to revoke" }
          }
        },
        "RevokeSigningRequestJWTResponse": {
          "type": "object",
          "properties": {
            "message": { "type": "string", "description": "Confirmation message" },
            "jwt_id": { "type": "string", "format": "uuid", "description": "ID of the revoked JWT" },
            "revoked_at": { "type": "string", "format": "date-time", "description": "Timestamp when the JWT was revoked" }
          }
        },
        "WorkspaceSettings": {
          "type": "object",
          "properties": {
            "workspace_id": { "type": "string", "format": "uuid" },
            "signing_request_email_header": { "type": "string", "description": "Custom email header text" },
            "signing_request_email_body": { "type": "string", "description": "Custom HTML email body" },
            "team_email": { "type": "string", "format": "email", "description": "Workspace contact email" },
            "timezone": { "type": "string", "description": "Workspace timezone" },
            "show_credit_cost_in_editor": { "type": "boolean", "description": "Whether to display credit cost in embedded template and signing request editors", "default": true }
          }
        },
        "WorkspaceCustomField": {
          "type": "object",
          "description": "A custom field definition for a workspace",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier" },
            "field_name": { "type": "string", "description": "Machine-readable field name (auto-generated from label)" },
            "field_label": { "type": "string", "description": "Human-readable display label" },
            "is_preset": { "type": "boolean", "description": "If true, this field has a preset value for all users" },
            "preset_value": { "type": "string", "nullable": true, "description": "Preset value (only used when is_preset=true)" },
            "created_at": { "type": "string", "format": "date-time" },
            "updated_at": { "type": "string", "format": "date-time" }
          }
        },
        "TemplateCustomField": {
          "type": "object",
          "description": "A custom field definition for a template",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier" },
            "field_name": { "type": "string", "description": "Machine-readable field name" },
            "field_label": { "type": "string", "description": "Human-readable display label" },
            "created_at": { "type": "string", "format": "date-time" },
            "updated_at": { "type": "string", "format": "date-time" }
          }
        },
        "SigningRequestCustomField": {
          "type": "object",
          "description": "A custom field definition for a signing request",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier" },
            "field_name": { "type": "string", "description": "Machine-readable field name" },
            "field_label": { "type": "string", "description": "Human-readable display label" },
            "copied_from_template": { "type": "boolean", "description": "True if this field was copied from a template" },
            "created_at": { "type": "string", "format": "date-time" },
            "updated_at": { "type": "string", "format": "date-time" }
          }
        },
        "Domain": {
          "type": "object",
          "description": "Email domain configuration for sending signing request emails",
          "properties": {
            "id": { "type": "string", "format": "uuid", "description": "Unique identifier for the domain" },
            "domain": { "type": "string", "description": "The domain name (e.g., 'example.com')" },
            "verification_status": { 
              "type": "integer", 
              "enum": [0, 1, 2],
              "description": "Domain ownership verification status: 0=pending, 1=ownership verified (TXT record confirmed), 2=finalized (registered with email provider)" 
            },
            "domain_status": { 
              "type": "integer", 
              "enum": [0, 1],
              "description": "Email sending status: 0=DNS records pending verification, 1=fully verified and ready to send" 
            },
            "is_primary": { "type": "boolean", "description": "Whether this is the primary domain for sending emails from this workspace" },
            "verification_token": { "type": "string", "description": "Token to add as TXT record for domain ownership verification. Only returned when verification_status=0." },
            "resend_domain_id": { "type": "string", "nullable": true, "description": "External email provider domain ID (internal use)" },
            "dns_records": {
              "type": "array",
              "nullable": true,
              "description": "Required DNS records for email sending. Only returned after domain finalization (verification_status=2).",
              "items": { "$ref": "#/components/schemas/DomainDnsRecord" }
            },
            "date_created": { "type": "string", "format": "date-time", "description": "Domain creation timestamp" },
            "date_changed": { "type": "string", "format": "date-time", "description": "Domain last update timestamp" }
          }
        },
        "DomainDnsRecord": {
          "type": "object",
          "description": "DNS record required for email domain verification",
          "properties": {
            "type": { "type": "string", "enum": ["TXT", "CNAME", "MX"], "description": "DNS record type" },
            "name": { "type": "string", "description": "DNS record name/host (e.g., 'resend._domainkey' or '@')" },
            "value": { "type": "string", "description": "DNS record value" },
            "ttl": { "type": "string", "description": "Time to live (e.g., 'Auto' or seconds)" },
            "priority": { "type": "integer", "nullable": true, "description": "Priority for MX records" },
            "status": { "type": "string", "enum": ["pending", "verified", "failed"], "description": "Verification status of this specific record" }
          }
        },
        "Error": {
          "type": "object",
          "properties": {
            "error": { "type": "string", "description": "Human-readable error message" },
            "message": { "type": "string", "description": "Detailed error description" },
            "details": { "type": "object", "description": "Additional error details", "additionalProperties": true }
          }
        }
      }
    },
    "paths": {
      "/company": {
        "get": {
          "summary": "Get company information",
          "description": "Retrieve information about the authenticated company",
          "tags": ["Company"],
          "security": [{ "ApiKeyAuth": [] }],
          "responses": {
            "200": {
              "description": "Company information retrieved successfully",
              "headers": {
                "X-RateLimit-Limit": { "schema": { "type": "integer" }, "description": "Rate limit: 200 requests per minute" },
                "X-RateLimit-Remaining": { "schema": { "type": "integer" }, "description": "Remaining requests in current window" },
                "X-RateLimit-Reset": { "schema": { "type": "integer" }, "description": "Unix timestamp when rate limit resets" }
              },
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Company" },
                  "example": {
                    "id": "123e4567-e89b-12d3-a456-426614174000",
                    "company_name": "Acme Corporation",
                    "account_owner": "John Doe",
                    "account_owner_email": "john@acme.com",
                    "website": "https://acme.com",
                    "icon_url": "https://acme.com/logo.png",
                    "credits": 1000,
                    "date_created": "2024-01-15T10:30:00Z",
                    "date_changed": "2024-03-20T14:25:00Z"
                  }
                }
              }
            },
            "401": { "$ref": "#/components/responses/UnauthorizedError" },
            "429": { "$ref": "#/components/responses/RateLimitError" }
          }
        },
          "put": {
          "summary": "Update company information",
          "description": "Update all company details. This is a full replacement operation requiring all fields except icon_url.",
          "tags": ["Company"],
          "security": [{ "ApiKeyAuth": [] }],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["name", "account_owner", "account_owner_email", "website"],
                  "properties": {
                    "name": { "type": "string", "maxLength": 255, "description": "Company name" },
                    "account_owner": { "type": "string", "maxLength": 255, "description": "Name of the account owner" },
                    "account_owner_email": { "type": "string", "format": "email", "description": "Email address of the account owner" },
                    "website": { "type": "string", "format": "uri", "description": "Company website URL" },
                    "icon_url": { "type": "string", "format": "uri", "description": "URL to company icon/logo (optional)" }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "company_name": "Acme Corporation Ltd",
                  "account_owner": "Jane Smith",
                  "account_owner_email": "jane@acme.com",
                  "website": "https://www.acme.com"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Company updated successfully",
              "headers": {
                "X-RateLimit-Limit": { "schema": { "type": "integer" }, "description": "Rate limit: 120 requests per minute" },
                "X-RateLimit-Remaining": { "schema": { "type": "integer" }, "description": "Remaining requests in current window" },
                "X-RateLimit-Reset": { "schema": { "type": "integer" }, "description": "Unix timestamp when rate limit resets" }
              },
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Company" }
                }
              }
            },
            "400": { 
              "description": "Validation error",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Error" },
                  "examples": {
                    "protectedFields": {
                      "summary": "Attempted to modify protected fields",
                      "value": {
                        "error": "The following fields cannot be modified: credits",
                        "code": "VALIDATION_ERROR"
                      }
                    }
                  }
                }
              }
            },
            "401": { "$ref": "#/components/responses/UnauthorizedError" },
            "429": { "$ref": "#/components/responses/RateLimitError" }
          }
        },
        "patch": {
          "summary": "Partially update company information",
          "description": "Update specific company fields. Only provided fields will be updated. At least one field must be provided.",
          "tags": ["Company"],
          "security": [{ "ApiKeyAuth": [] }],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string", "maxLength": 255, "description": "Company name" },
                    "account_owner": { "type": "string", "maxLength": 255, "description": "Name of the account owner" },
                    "account_owner_email": { "type": "string", "format": "email", "description": "Email address of the account owner" },
                    "website": { "type": "string", "format": "uri", "description": "Company website URL" },
                    "icon_url": { "type": "string", "format": "uri", "description": "URL to company icon/logo" }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "company_name": "Acme Corporation Ltd",
                  "website": "https://www.acme.com"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Company updated successfully",
              "headers": {
                "X-RateLimit-Limit": { "schema": { "type": "integer" }, "description": "Rate limit: 120 requests per minute" },
                "X-RateLimit-Remaining": { "schema": { "type": "integer" }, "description": "Remaining requests in current window" },
                "X-RateLimit-Reset": { "schema": { "type": "integer" }, "description": "Unix timestamp when rate limit resets" }
              },
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Company" }
                }
              }
            },
            "400": { 
              "description": "Validation error",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Error" },
                  "examples": {
                    "protectedFields": {
                      "summary": "Attempted to modify protected fields",
                      "value": {
                        "error": "The following fields cannot be modified: credits",
                        "code": "VALIDATION_ERROR"
                      }
                    },
                    "noFields": {
                      "summary": "No fields provided",
                      "value": {
                        "error": "Validation failed",
                        "details": [{ "path": ["body"], "message": "No fields provided to update" }]
                      }
                    },
                    "invalidEmail": {
                      "summary": "Invalid email",
                      "value": {
                        "error": "Validation failed",
                        "details": [{ "path": ["account_owner_email"], "message": "Invalid email address" }]
                      }
                    }
                  }
                }
              }
            },
            "401": { "$ref": "#/components/responses/UnauthorizedError" },
            "429": { "$ref": "#/components/responses/RateLimitError" }
          }
        }
      },
      "/company/domains": {
        "get": {
          "summary": "List company domains",
          "description": "List all email domains configured for the company (domains on the protected/default workspace). These domains are used as the default sending domain for all workspaces.",
          "tags": ["Email Domains"],
          "security": [{ "ApiKeyAuth": [] }],
          "responses": {
            "200": {
              "description": "Company domains retrieved successfully",
              "headers": {
                "X-RateLimit-Limit": { "schema": { "type": "integer" }, "description": "Rate limit: 200 requests per minute" },
                "X-RateLimit-Remaining": { "schema": { "type": "integer" } },
                "X-RateLimit-Reset": { "schema": { "type": "integer" } }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "results": { "type": "array", "items": { "$ref": "#/components/schemas/Domain" } },
                      "workspace_id": { "type": "string", "format": "uuid", "description": "ID of the protected workspace where company domains are configured" }
                    }
                  },
                  "example": {
                    "results": [
                      {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "domain": "acme.com",
                        "verification_status": 2,
                        "domain_status": 1,
                        "is_primary": true,
                        "date_created": "2024-01-15T10:30:00Z",
                        "date_changed": "2024-01-16T14:00:00Z"
                      }
                    ],
                    "workspace_id": "456e4567-e89b-12d3-a456-426614174000"
                  }
                }
              }
            },
            "401": { "$ref": "#/components/responses/UnauthorizedError" },
            "429": { "$ref": "#/components/responses/RateLimitError" }
          }
        },
        "post": {
          "summary": "Add company domain",
          "description": "Add a new email domain for the company. This initiates the domain verification process. After creation, you must:\n1. Add a TXT record to your DNS with the verification token\n2. Call POST /company/domains/{id}/verify-ownership to verify domain ownership\n3. Call POST /company/domains/{id}/finalize to register with email provider\n4. Add the returned DNS records (SPF, DKIM, etc.)\n5. Call POST /company/domains/{id}/verify-dns to complete verification",
          "tags": ["Email Domains"],
          "security": [{ "ApiKeyAuth": [] }],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["domain"],
                  "properties": {
                    "domain": { "type": "string", "description": "Domain name to add (e.g., 'example.com'). Must be a valid domain format.", "example": "acme.com" }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Domain created successfully. Add the verification TXT record to your DNS.",
              "headers": {
                "X-RateLimit-Limit": { "schema": { "type": "integer" }, "description": "Rate limit: 120 requests per minute" },
                "X-RateLimit-Remaining": { "schema": { "type": "integer" } },
                "X-RateLimit-Reset": { "schema": { "type": "integer" } }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "domain": { "$ref": "#/components/schemas/Domain" },
                      "verification_instructions": {
                        "type": "object",
                        "properties": {
                          "record_type": { "type": "string", "example": "TXT" },
                          "record_name": { "type": "string", "example": "_firma-verification.acme.com" },
                          "record_value": { "type": "string", "example": "firma-verify=abc123xyz" },
                          "next_step": { "type": "string", "example": "Add this TXT record to your DNS, then call POST /company/domains/{id}/verify-ownership" }
                        }
                      }
                    }
                  },
                  "example": {
                    "domain": {
                      "id": "123e4567-e89b-12d3-a456-426614174000",
                      "domain": "acme.com",
                      "verification_status": 0,
                      "domain_status": 0,
                      "is_primary": false,
                      "verification_token": "firma-verify=abc123xyz",
                      "date_created": "2024-01-15T10:30:00Z",
                      "date_changed": "2024-01-15T10:30:00Z"
                    },
                    "verification_instructions": {
                      "record_type": "TXT",
                      "record_name": "_firma-verification.acme.com",
                      "record_value": "firma-verify=abc123xyz",
                      "next_step": "Add this TXT record to your DNS, then call POST /company/domains/{id}/verify-ownership"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid domain format or domain already exists",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Error" },
                  "examples": {
                    "invalidDomain": {
                      "value": { "error": "Invalid domain format", "message": "Please provide a valid domain name (e.g., example.com)" }
                    },
                    "domainExists": {
                      "value": { "error": "Domain already exists", "message": "This domain is already configured for your company" }
                    }
                  }
                }
              }
            },
            "401": { "$ref": "#/components/responses/UnauthorizedError" },
            "429": { "$ref": "#/components/responses/RateLimitError" }
          }
        }
      },
      "/company/domains/{id}": {
        "get": {
          "summary": "Get company domain",
          "description": "Retrieve details of a specific company domain including verification status and DNS records",
          "tags": ["Email Domains"],
          "security": [{ "ApiKeyAuth": [] }],
          "parameters": [
            { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Domain ID" }
          ],
          "responses": {
            "200": {
              "description": "Domain retrieved successfully",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Domain" }
                }
              }
            },
            "401": { "$ref": "#/components/responses/UnauthorizedError" },
            "404": { "$ref": "#/components/responses/NotFoundError" },
            "429": { "$ref": "#/components/responses/RateLimitError" }
          }
        },
        "delete": {
          "summary": "Delete company domain",
          "description": "Remove a domain from the company. Cannot delete the primary domain if it's the only domain.",
          "tags": ["Email Domains"],
          "security": [{ "ApiKeyAuth": [] }],
          "parameters": [
            { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Domain ID" }
          ],
          "responses": {
            "200": {
              "description": "Domain deleted successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": { "type": "string" },
                      "domain_id": { "type": "string", "format": "uuid" }
                    }
                  },
                  "example": {
                    "message": "Domain deleted successfully",
                    "domain_id": "123e4567-e89b-12d3-a456-426614174000"
                  }
                }
              }
            },
            "400": {
              "description": "Cannot delete primary domain",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Error" },
                  "example": { "error": "Cannot delete primary domain", "message": "Set another domain as primary before deleting this one" }
                }
              }
            },
            "401": { "$ref": "#/components/responses/UnauthorizedError" },
            "404": { "$ref": "#/components/responses/NotFoundError" },
            "429": { "$ref": "#/components/responses/RateLimitError" }
          }
        }
      },
      "/company/domains/{id}/verify-ownership": {
        "post": {
          "summary": "Verify domain ownership",
          "description": "Verify domain ownership by checking the TXT record. Call this after adding the verification TXT record to your DNS. DNS propagation may take up to 48 hours, but typically completes within minutes.",
          "tags": ["Email Domains"],
          "security": [{ "ApiKeyAuth": [] }],
          "parameters": [
            { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Domain ID" }
          ],
          "responses": {
            "200": {
              "description": "Domain ownership verified successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": { "type": "string" },
                      "domain": { "$ref": "#/components/schemas/Domain" },
                      "next_step": { "type": "string" }
                    }
                  },
                  "example": {
                    "message": "Domain ownership verified",
                    "domain": {
                      "id": "123e4567-e89b-12d3-a456-426614174000",
                      "domain": "acme.com",
                      "verification_status": 1,
                      "domain_status": 0
                    },
                    "next_step": "Call POST /company/domains/{id}/finalize to complete domain setup and receive DNS records for email sending"
                  }
                }
              }
            },
            "400": {
              "description": "Verification failed",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Error" },
                  "examples": {
                    "recordNotFound": {
                      "value": {
                        "error": "Verification failed",
                        "message": "TXT record not found. Please ensure the record is added correctly and DNS has propagated.",
                        "details": {
                          "expected_record": "_firma-verification.acme.com",
                          "expected_value": "firma-verify=abc123xyz"
                        }
                      }
                    },
                    "alreadyVerified": {
                      "value": { "error": "Already verified", "message": "Domain ownership has already been verified" }
                    }
                  }
                }
              }
            },
            "401": { "$ref": "#/components/responses/UnauthorizedError" },
            "404": { "$ref": "#/components/responses/NotFoundError" },
            "429": { "$ref": "#/components/responses/RateLimitError" }
          }
        }
      },
      "/company/domains/{id}/finalize": {
        "post": {
          "summary": "Finalize domain setup",
          "description": "Finalize domain setup by registering with the email provider. This returns the DNS records (SPF, DKIM, DMARC) that must be added to enable email sending. Can only be called after domain ownership is verified.",
          "tags": ["Email Domains"],
          "security": [{ "ApiKeyAuth": [] }],
          "parameters": [
            { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Domain ID" }
          ],
          "responses": {
            "200": {
              "description": "Domain finalized successfully. Add the returned DNS records.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": { "type": "string" },
                      "domain": { "$ref": "#/components/schemas/Domain" },
                      "dns_records": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/DomainDnsRecord" },
                        "description": "DNS records to add for email sending"
                      },
                      "next_step": { "type": "string" }
                    }
                  },
                  "example": {
                    "message": "Domain finalized. Add the following DNS records to enable email sending.",
                    "domain": {
                      "id": "123e4567-e89b-12d3-a456-426614174000",
                      "domain": "acme.com",
                      "verification_status": 2,
                      "domain_status": 0
                    },
                    "dns_records": [
                      { "type": "TXT", "name": "@", "value": "v=spf1 include:amazonses.com ~all", "ttl": "Auto", "status": "pending" },
                      { "type": "CNAME", "name": "resend._domainkey", "value": "resend._domainkey.amazonses.com", "ttl": "Auto", "status": "pending" },
                      { "type": "TXT", "name": "_dmarc", "value": "v=DMARC1; p=none;", "ttl": "Auto", "status": "pending" }
                    ],
                    "next_step": "Add these DNS records, then call POST /company/domains/{id}/verify-dns to complete verification"
                  }
                }
              }
            },
            "400": {
              "description": "Cannot finalize",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Error" },
                  "examples": {
                    "notVerified": {
                      "value": { "error": "Ownership not verified", "message": "Please verify domain ownership first by calling POST /company/domains/{id}/verify-ownership" }
                    },
                    "alreadyFinalized": {
                      "value": { "error": "Already finalized", "message": "Domain has already been finalized" }
                    }
                  }
                }
              }
            },
            "401": { "$ref": "#/components/responses/UnauthorizedError" },
            "404": { "$ref": "#/components/responses/NotFoundError" },
            "429": { "$ref": "#/components/responses/RateLimitError" }
          }
        }
      },
      "/company/domains/{id}/verify-dns": {
        "post": {
          "summary": "Verify DNS records",
          "description": "Verify that all required DNS records (SPF, DKIM, DMARC) are properly configured. Call this after adding all DNS records from the finalize step. Once verified, the domain is ready for sending emails.",
          "tags": ["Email Domains"],
          "security": [{ "ApiKeyAuth": [] }],
          "parameters": [
            { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Domain ID" }
          ],
          "responses": {
            "200": {
              "description": "DNS verification result",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "verified": { "type": "boolean", "description": "Whether all DNS records are verified" },
                      "message": { "type": "string" },
                      "domain": { "$ref": "#/components/schemas/Domain" },
                      "dns_records": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/DomainDnsRecord" },
                        "description": "Status of each DNS record"
                      }
                    }
                  },
                  "examples": {
                    "verified": {
                      "summary": "All records verified",
                      "value": {
                        "verified": true,
                        "message": "Domain is fully verified and ready to send emails",
                        "domain": {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "domain": "acme.com",
                          "verification_status": 2,
                          "domain_status": 1,
                          "is_primary": true
                        },
                        "dns_records": [
                          { "type": "TXT", "name": "@", "value": "v=spf1 include:amazonses.com ~all", "status": "verified" },
                          { "type": "CNAME", "name": "resend._domainkey", "value": "resend._domainkey.amazonses.com", "status": "verified" },
                          { "type": "TXT", "name": "_dmarc", "value": "v=DMARC1; p=none;", "status": "verified" }
                        ]
                      }
                    },
                    "pending": {
                      "summary": "Some records pending",
                      "value": {
                        "verified": false,
                        "message": "Some DNS records are not yet verified. Please check your DNS configuration.",
                        "domain": {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "domain": "acme.com",
                          "verification_status": 2,
                          "domain_status": 0
                        },
                        "dns_records": [
                          { "type": "TXT", "name": "@", "value": "v=spf1 include:amazonses.com ~all", "status": "verified" },
                          { "type": "CNAME", "name": "resend._domainkey", "value": "resend._domainkey.amazonses.com", "status": "pending" },
                          { "type": "TXT", "name": "_dmarc", "value": "v=DMARC1; p=none;", "status": "pending" }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Domain not finalized",
              "content": {
                "application/json": {
                  "schema": { "$ref": "#/components/schemas/Error" },
                  "example": { "error": "Domain not finalized", "message": "Please finalize domain setup first by calling POST /company/domains/{id}/finalize" }
                }
              }
            },
            "401": { "$ref": "#/components/responses/UnauthorizedError" },
            "404": { "$ref": "#/components/responses/NotFoundError" },
            "429": { "$ref": "#/components/responses/RateLimitError" }
          }
        }
      },
      "/company/domains/{id}/set-primary": {
        "post": {
          "summary": "Set primary domain",
[...]
